force-app/main/default/flows/Button_Study_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Id_Estudo_Novo</name>
        <label>Id_Estudo_Novo</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Id_Estudo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estudo_New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Id_Estudo_Novo_0</name>
        <label>Id_Estudo_up</label>
        <locationX>930</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Id_Estudo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estudo_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Id_Estudo_Novo_0_0</name>
        <label>Id_Estudo_up</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Id_Estudo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estudo_Update_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Id_Estudo_Novo_0_0_0</name>
        <label>Id_Estudo_Novo</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Id_Estudo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estudo_New_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Tem_Unidade_Consumidora</name>
        <label>Tem Unidade Consumidora</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Estudo_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Unidade_Consumidora</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Update</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tem_Unidade_Consumidora_0</name>
        <label>Tem Unidade Consumidora</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Estudo_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Unidade_Consumidora</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Update_0</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Estudo</name>
        <label>Tipo de Estudo</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Obter_Unidade_Consumidora</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Atualização</defaultConnectorLabel>
        <rules>
            <name>Novo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Valida_Estudos.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Unidade_Consumidora_0</targetReference>
            </connector>
            <label>Novo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[BOTTON {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Button]  Study Creation</label>
    <loops>
        <name>Atualiza</name>
        <label>Atualiza</label>
        <locationX>490</locationX>
        <locationY>1574</locationY>
        <collectionReference>Obter_Anexos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Criar_Anexo</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Update</name>
        <label>Loop Update</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <collectionReference>Obter_Unidade_Consumidora</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Estudo_Update_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Id_Estudo_Novo_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Update_0</name>
        <label>Loop Update</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Obter_Unidade_Consumidora</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Estudo_New_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Id_Estudo_Novo_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_Anexo</name>
        <label>Criar Anexo</label>
        <locationX>578</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Atualiza</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Atualiza.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Id_Estudo</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Estudo_New</name>
        <label>Estudo New</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Id_Estudo_Novo</targetReference>
        </connector>
        <inputAssignments>
            <field>CNPJ_CPF__c</field>
            <value>
                <elementReference>Dados_do_Lead.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Historico__c</field>
            <value>
                <elementReference>Dados_do_Lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Mensal__c</field>
            <value>
                <elementReference>Dados_do_Lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Utilizado__c</field>
            <value>
                <elementReference>Dados_do_Lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateSimulation__c</field>
            <value>
                <elementReference>Dados_do_Lead.Data_Simulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Escolhido_Pelo_Cliente__c</field>
            <value>
                <elementReference>Dados_do_Lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.Desconto_Ofertado_3_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.Desconto_Ofertado_4_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.Desconto_Ofertado_5_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Dados_do_Lead.Distributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Dados_do_Lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Dados_do_Lead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_Empresa__c</field>
            <value>
                <elementReference>Dados_do_Lead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Lead__c</field>
            <value>
                <elementReference>Dados_do_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_do_Solicitante__c</field>
            <value>
                <elementReference>Observa_es_para_Solicita_o_de_Estudo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054x000004RQkDAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_Escolhido_Pelo_Cliente__c</field>
            <value>
                <elementReference>Dados_do_Lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Dados_do_Lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo_3_Anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.ReducaoCusto3anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo_5_Anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.ReducaoCusto5anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Dados_do_Lead.Redu_o_Custo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solicitante_do_Estudo__c</field>
            <value>
                <elementReference>Dados_do_Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Estudo__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_Considerado_Para_Estudo_kWh__c</field>
            <value>
                <elementReference>Dados_do_Lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>de_Simula_es_Realizadas__c</field>
            <value>
                <elementReference>Dados_do_Lead.SimulacoesRealizadas__c</elementReference>
            </value>
        </inputAssignments>
        <object>Estudos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Estudo_New_0</name>
        <label>Estudo New</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Loop_Update_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CNPJ_CPF__c</field>
            <value>
                <elementReference>Dados_do_Lead.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_digo_da_UC__c</field>
            <value>
                <elementReference>Loop_Update_0.InstallationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Historico__c</field>
            <value>
                <elementReference>Dados_do_Lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Mensal__c</field>
            <value>
                <elementReference>Dados_do_Lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Utilizado__c</field>
            <value>
                <elementReference>Dados_do_Lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateSimulation__c</field>
            <value>
                <elementReference>Dados_do_Lead.Data_Simulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Escolhido_Pelo_Cliente__c</field>
            <value>
                <elementReference>Dados_do_Lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.Desconto_Ofertado_3_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.Desconto_Ofertado_4_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.Desconto_Ofertado_5_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Dados_do_Lead.Distributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Dados_do_Lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Dados_do_Lead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_Empresa__c</field>
            <value>
                <elementReference>Dados_do_Lead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_UC__c</field>
            <value>
                <elementReference>Loop_Update_0.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Lead__c</field>
            <value>
                <elementReference>Dados_do_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_do_Solicitante__c</field>
            <value>
                <elementReference>Observa_es_para_Solicita_o_de_Estudo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054x000004RQkDAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_Escolhido_Pelo_Cliente__c</field>
            <value>
                <elementReference>Dados_do_Lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Dados_do_Lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo_3_Anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.ReducaoCusto3anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo_5_Anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.ReducaoCusto5anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Dados_do_Lead.Redu_o_Custo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solicitante_do_Estudo__c</field>
            <value>
                <elementReference>Dados_do_Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Estudo__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_Considerado_Para_Estudo_kWh__c</field>
            <value>
                <elementReference>Dados_do_Lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>de_Simula_es_Realizadas__c</field>
            <value>
                <elementReference>Dados_do_Lead.SimulacoesRealizadas__c</elementReference>
            </value>
        </inputAssignments>
        <object>Estudos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Estudo_Update</name>
        <label>Estudo Update</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Id_Estudo_Novo_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CNPJ_CPF__c</field>
            <value>
                <elementReference>Dados_do_Lead.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Historico__c</field>
            <value>
                <elementReference>Dados_do_Lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Mensal__c</field>
            <value>
                <elementReference>Dados_do_Lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Utilizado__c</field>
            <value>
                <elementReference>Dados_do_Lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateSimulation__c</field>
            <value>
                <elementReference>Dados_do_Lead.Data_Simulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Escolhido_Pelo_Cliente__c</field>
            <value>
                <elementReference>Dados_do_Lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.Desconto_Ofertado_3_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.Desconto_Ofertado_4_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.Desconto_Ofertado_5_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Dados_do_Lead.Distributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Dados_do_Lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Dados_do_Lead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_Empresa__c</field>
            <value>
                <elementReference>Dados_do_Lead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Lead__c</field>
            <value>
                <elementReference>Dados_do_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_do_Solicitante__c</field>
            <value>
                <elementReference>Observa_es_para_Solicita_o_de_Estudo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054x000004RQkDAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_Escolhido_Pelo_Cliente__c</field>
            <value>
                <elementReference>Dados_do_Lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Dados_do_Lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo_3_Anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.ReducaoCusto3anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo_5_Anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.ReducaoCusto5anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Dados_do_Lead.Redu_o_Custo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solicitante_do_Estudo__c</field>
            <value>
                <elementReference>Dados_do_Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Estudo__c</field>
            <value>
                <stringValue>Atualização</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_Considerado_Para_Estudo_kWh__c</field>
            <value>
                <elementReference>Dados_do_Lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>de_Simula_es_Realizadas__c</field>
            <value>
                <elementReference>Dados_do_Lead.SimulacoesRealizadas__c</elementReference>
            </value>
        </inputAssignments>
        <object>Estudos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Estudo_Update_0</name>
        <label>Estudo Update</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Loop_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>CNPJ_CPF__c</field>
            <value>
                <elementReference>Dados_do_Lead.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_digo_da_UC__c</field>
            <value>
                <elementReference>Loop_Update.InstallationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Historico__c</field>
            <value>
                <elementReference>Dados_do_Lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Mensal__c</field>
            <value>
                <elementReference>Dados_do_Lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Utilizado__c</field>
            <value>
                <elementReference>Dados_do_Lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateSimulation__c</field>
            <value>
                <elementReference>Dados_do_Lead.Data_Simulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Escolhido_Pelo_Cliente__c</field>
            <value>
                <elementReference>Dados_do_Lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.Desconto_Ofertado_3_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.Desconto_Ofertado_4_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.Desconto_Ofertado_5_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Dados_do_Lead.Distributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Dados_do_Lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Dados_do_Lead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_Empresa__c</field>
            <value>
                <elementReference>Dados_do_Lead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_UC__c</field>
            <value>
                <elementReference>Loop_Update.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Lead__c</field>
            <value>
                <elementReference>Dados_do_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_do_Solicitante__c</field>
            <value>
                <elementReference>Observa_es_para_Solicita_o_de_Estudo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054x000004RQkDAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_Escolhido_Pelo_Cliente__c</field>
            <value>
                <elementReference>Dados_do_Lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Dados_do_Lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo_3_Anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.ReducaoCusto3anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo_5_Anos__c</field>
            <value>
                <elementReference>Dados_do_Lead.ReducaoCusto5anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Dados_do_Lead.Redu_o_Custo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solicitante_do_Estudo__c</field>
            <value>
                <elementReference>Dados_do_Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Estudo__c</field>
            <value>
                <stringValue>Atualização</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_Considerado_Para_Estudo_kWh__c</field>
            <value>
                <elementReference>Dados_do_Lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>de_Simula_es_Realizadas__c</field>
            <value>
                <elementReference>Dados_do_Lead.SimulacoesRealizadas__c</elementReference>
            </value>
        </inputAssignments>
        <object>Estudos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Dados_do_Lead</name>
        <label>Dados do Lead</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_Estudo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Anexos</name>
        <label>Obter Anexos</label>
        <locationX>490</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Unidade_Consumidora</name>
        <label>Obter Unidade Consumidora</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tem_Unidade_Consumidora</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Units__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Unidade_Consumidora_0</name>
        <label>Obter Unidade Consumidora</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tem_Unidade_Consumidora_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Units__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Valida_Estudos</name>
        <label>Valida Estudos</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dados_do_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Nome_do_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Estudos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Lead</name>
        <label>Atualiza Lead</label>
        <locationX>490</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Obter_Anexos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_Apresenta_o_de_Estudo__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Assinatura_Termo_de_Ades_o__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Encerramento__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Reengajamento__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Data_de_D_vidas_e_Ajustes__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Estudo</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Gerar_Estudo</name>
        <label>Gerar Estudo</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Valida_Estudos</targetReference>
        </connector>
        <fields>
            <name>Observa_es_para_Solicita_o_de_Estudo</name>
            <fieldText>Observações para Solicitação de Estudo</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Gerar Estudo</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gerar_Estudo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id_Estudo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
