force-app/main/default/flows/Button_Alterar_Empresa_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Button Alterar Empresa Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Button Alterar Empresa Lead</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Obter_anexo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Criar_Atividade</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Enviar_para_LUZ</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_Atividade</name>
        <label>Criar Atividade</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Agendado__c</field>
            <value>
                <elementReference>Loop.Agendado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <elementReference>Loop.CallType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal__c</field>
            <value>
                <elementReference>Loop.Canal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercial__c</field>
            <value>
                <elementReference>Loop.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contato__c</field>
            <value>
                <elementReference>Loop.Contato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_Agendamento__c</field>
            <value>
                <elementReference>Loop.Data_do_Agendamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Loop.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desqualificado__c</field>
            <value>
                <elementReference>Loop.Desqualificado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Loop.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Loop.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Loop.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Loop.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sucesso__c</field>
            <value>
                <elementReference>Loop.Sucesso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Obter_dados_do_Lead.Pr_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obter_anexo</name>
        <label>Obter anexo</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_dados_do_Lead</name>
        <label>Obter dados do Lead</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_anexo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Lead</name>
        <label>Atualizar Lead</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Obter_dados_do_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_de_Desqualificacao__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisqualifiedLead__c</field>
            <value>
                <stringValue>Baixa Tensão</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualified__c</field>
            <value>
                <stringValue>Enviado para a LUZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Desqualificado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submotivo__c</field>
            <value>
                <stringValue>Luz atende</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualizar_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Enviar_para_LUZ</name>
        <label>Enviar para LUZ</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <flowName>SUBFLOW_pr_lead_Altera_o_de_Empresa</flowName>
        <inputAssignments>
            <name>EmpresadoGrupo</name>
            <value>
                <elementReference>Obter_dados_do_Lead.Company__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parceiro</name>
            <value>
                <elementReference>Obter_dados_do_Lead.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_ID</name>
            <value>
                <elementReference>Obter_dados_do_Lead.Pr_Lead__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
