force-app/main/default/flows/Conta_After_Insert_Update_with_relationships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>CancelPreLead</name>
        <label>CancelPreLead</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ColectionPreLead.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ColectionPreLead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valida_condices_do_Fluxo</name>
        <label>Valida condições do Fluxo</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Verifica_cancelamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPreLead</targetReference>
            </connector>
            <label>Verifica cancelamento</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Conta] After Insert/Update with relationships {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Conta] After Insert/Update with relationships</label>
    <loops>
        <name>ColectionPreLead</name>
        <label>ColectionPreLead</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>GetPreLead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CancelPreLead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPDPreLead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPreLead</name>
        <label>GetPreLead</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ColectionPreLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PreLead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDPreLead</name>
        <label>UPDPreLead</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputReference>ColectionPreLead</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valida_condices_do_Fluxo</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
