force-app/main/default/flows/DELTA_Encerramento_de_Estudo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_de_encerramento</name>
        <label>Email de encerramento</label>
        <locationX>176</locationX>
        <locationY>1547</locationY>
        <actionName>Estudos__c.Encerramento_de_Estudo</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Estudos__c.Encerramento_de_Estudo</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Esta_no_Lead</name>
        <label>Esta no Lead</label>
        <locationX>352</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Criar_Anexo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validar_se_tem_no_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Anexos</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Registro</name>
        <label>Tipo de Registro</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Lead_DP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delta Parceiros</defaultConnectorLabel>
        <rules>
            <name>Inside_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Nome_do_Lead__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delta Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Anexos</targetReference>
            </connector>
            <label>Inside Sales</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DELTA - Encerramento de Estudo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DELTA - Encerramento de Estudo</label>
    <loops>
        <name>Loop_Anexos</name>
        <label>Loop Anexos</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <collectionReference>Obter_Anexos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validar_se_tem_no_Lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obter_Modelo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Anexo</name>
        <label>Criar Anexo</label>
        <locationX>440</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Loop_Anexos</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Loop_Anexos.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>$Record.Nome_do_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obter_Anexos</name>
        <label>Obter Anexos</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Anexos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SystemModstamp</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Modelo</name>
        <label>Obter Modelo</label>
        <locationX>176</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_de_encerramento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOLICITAÇÃO DE ESTUDO FINALIZADO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Validar_se_tem_no_Lead</name>
        <label>Validar se tem no Lead</label>
        <locationX>352</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esta_no_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Anexos.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Nome_do_Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Lead</name>
        <label>Atualizar Lead</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Tipo_de_Registro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Nome_do_Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C_digo_da_UC__c</field>
            <value>
                <elementReference>$Record.C_digo_da_UC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_total_Volume_MWh__c</field>
            <value>
                <elementReference>$Record.Consumo_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractedDemandOutOfTip__c</field>
            <value>
                <elementReference>$Record.Demanda_Contratada_Fora_Ponta_kW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractedDemand__c</field>
            <value>
                <elementReference>$Record.Demanda_Ponta_Contratada_kW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>$Record.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>$Record.Nome_da_Empresa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICMS__c</field>
            <value>
                <elementReference>$Record.ICMS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>J_est_no_ACL__c</field>
            <value>
                <elementReference>$Record.J_est_no_ACL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>M_s_da_fatura__c</field>
            <value>
                <elementReference>$Record.M_s_da_fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modalidade_Tarif_ria__c</field>
            <value>
                <elementReference>$Record.Modalidade_Tarif_ria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo__c</field>
            <value>
                <elementReference>$Record.Motivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_Estudo__c</field>
            <value>
                <elementReference>$Record.Observa_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIS_COFINS__c</field>
            <value>
                <elementReference>$Record.PIS_COFINS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Per_odo_de_Su__c</field>
            <value>
                <elementReference>$Record.Per_odo_de_Suprimento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentual_de_Desconto__c</field>
            <value>
                <elementReference>$Record.Percentual_de_Desconto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_o_DG__c</field>
            <value>
                <elementReference>$Record.Pre_o_DG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_o_Fixo__c</field>
            <value>
                <elementReference>$Record.Pre_o_Fixo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_o_M_dio__c</field>
            <value>
                <elementReference>$Record.Pre_o_M_dio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produtp__c</field>
            <value>
                <elementReference>$Record.Tipo_de_produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses_de_suprimento__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_meses_de_suprimento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resultado_DG_3_anos__c</field>
            <value>
                <elementReference>$Record.Resultado_DG_3_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resultado_DG_4_anos__c</field>
            <value>
                <elementReference>$Record.Resultado_DG_4_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resultado_DG_5_anos__c</field>
            <value>
                <elementReference>$Record.Resultado_DG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resultado_Pre_o_Fixo_3_Anos__c</field>
            <value>
                <elementReference>$Record.Resultado_Pre_o_Fixo_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resultado_Pre_o_Fixo_4_Anos__c</field>
            <value>
                <elementReference>$Record.Resultado_Pre_o_Fixo_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resultado_Pre_o_Fixo_5_Anos__c</field>
            <value>
                <elementReference>$Record.Resultado_Pre_o_Fixo_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resultado_contrato__c</field>
            <value>
                <elementReference>$Record.Resultado_contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resultado_mensal__c</field>
            <value>
                <elementReference>$Record.Resultado_mensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Simula_o__c</field>
            <value>
                <elementReference>$Record.Simula_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Estudo__c</field>
            <value>
                <elementReference>$Record.Viabilidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submercado__c</field>
            <value>
                <elementReference>$Record.Submercado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>$Record.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Viabilidade__c</field>
            <value>
                <elementReference>$Record.Viabilidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VoltageClass__c</field>
            <value>
                <elementReference>$Record.Classe_de_Tens_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume__c</field>
            <value>
                <elementReference>$Record.Volume_M_dio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>preco__c</field>
            <value>
                <elementReference>$Record.Pre_o__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Lead_DP</name>
        <label>Atualizar Lead DP</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Obter_Anexos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Nome_do_Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em Agendamento</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualizar_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Encerrado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nome_do_Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Estudos__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CorpoEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Olá {!$Record.Nome_do_Lead__r.Owner:User.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Informamos que o estudo de seu Lead {!$Record.Nome_do_Lead__r.Name}, foi concluído.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Att&lt;/p&gt;&lt;p&gt;{!$Record.Owner:User.Name}&lt;/p&gt;&lt;p&gt;{!$Record.Owner:User.Email}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EnviarEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Concluído Estudo de Lead {!$Record.Nome_do_Lead__r.Name}.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
