force-app/main/default/flows/Desqualificar_pr_Lead_pelo_status_da_tarefa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Verifica_Status</name>
        <label>Verifica Status</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Pr_Lead_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Geral</defaultConnectorLabel>
        <rules>
            <name>Desqualificado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desqualificado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Pr_Lead</targetReference>
            </connector>
            <label>Desqualificado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Hoje</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Desqualificar pré-Lead pelo status da tarefa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Desqualificar pré-Lead pelo status da tarefa</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualizar_Pr_Lead</name>
        <label>Atualizar Pré-Lead</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_da_Ultima_Tarefa__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_de_Desqualificacao__c</field>
            <value>
                <elementReference>Hoje</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_Desqualifica_o__c</field>
            <value>
                <elementReference>$Record.Motivo_Desqualifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_o_da_Desqualifica_o__c</field>
            <value>
                <elementReference>$Record.Observacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Desqualificado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Atribuido_a__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Canal__c</field>
            <value>
                <elementReference>$Record.Canal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Motivo__c</field>
            <value>
                <elementReference>$Record.Motivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Sucesso__c</field>
            <value>
                <elementReference>$Record.Sucesso__c</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Pr_Lead_0</name>
        <label>Atualizar Pré-Lead</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_da_Ultima_Tarefa__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Atribuido_a__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Canal__c</field>
            <value>
                <elementReference>$Record.Canal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Motivo__c</field>
            <value>
                <elementReference>$Record.Motivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Sucesso__c</field>
            <value>
                <elementReference>$Record.Sucesso__c</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verifica_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
