force-app/main/default/flows/Fatura_Main_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Localizou</name>
        <label>Localizou</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Obter_pelo_Contato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_a_Unidade.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Unidade_Conta</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primeira_Fatura_Conta</name>
        <label>Primeira Fatura Conta</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Conta_Nao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_a_Unidade.Account__r.Data_da_emissao_da_primeira_fatura__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Conta_Sim</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primeira_Fatura_Conta_1</name>
        <label>Primeira Fatura Conta 1</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Conta_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>C_pia_2_de_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_pelo_Contato.Account.Data_da_emissao_da_primeira_fatura__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Conta_1</targetReference>
            </connector>
            <label>Cópia 2 de Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_Primeira_Fatura</name>
        <label>Verificar Primeira Fatura</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Unidade_Nao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_a_Unidade.Data_da_emissao_da_primeira_fatura__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Unidade_Sim</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContagemUnidade</name>
        <dataType>Number</dataType>
        <expression>{!Obter_a_Unidade.Numero_de_Faturas__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NumeroConta</name>
        <dataType>Number</dataType>
        <expression>{!Obter_a_Unidade.Account__r.Numero_de_Faturas__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Fatura]Main Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Fatura]Main Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_a_Unidade</name>
        <label>Obter a Unidade</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Localizou</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ID_de_Unidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ID_da_Unidade__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Units__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_pelo_Contato</name>
        <label>Obter pelo Contato</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Conta</name>
        <label>Atualizar  Conta</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Primeira_Fatura_Conta_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>Obter_pelo_Contato.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Conta_1</name>
        <label>Atualizar Conta 1</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_pelo_Contato.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_da_emissao_da_primeira_fatura__c</field>
            <value>
                <elementReference>$Record.Data_de_Fechamento_da_Fatura_LUZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_de_vencimento_da_primeira_fatura__c</field>
            <value>
                <elementReference>$Record.Data_do_Vencimeto_LUZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_da_Primeira_Fatura__c</field>
            <value>
                <elementReference>$Record.Link_de_Download__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Faturas__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Conta_2</name>
        <label>Atualizar Conta 2</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_pelo_Contato.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Numero_de_Faturas__c</field>
            <value>
                <elementReference>NumeroConta</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Conta_Nao</name>
        <label>Atualizar Conta Não</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_a_Unidade.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Numero_de_Faturas__c</field>
            <value>
                <elementReference>NumeroConta</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Conta_Sim</name>
        <label>Atualizar Conta Sim</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_a_Unidade.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_da_emissao_da_primeira_fatura__c</field>
            <value>
                <elementReference>$Record.Data_de_Fechamento_da_Fatura_LUZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_de_vencimento_da_primeira_fatura__c</field>
            <value>
                <elementReference>$Record.Data_do_Vencimeto_LUZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_da_Primeira_Fatura__c</field>
            <value>
                <elementReference>$Record.Link_de_Download__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Faturas__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Unidade_Conta</name>
        <label>Atualizar Unidade Conta</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Verificar_Primeira_Fatura</targetReference>
        </connector>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>Obter_a_Unidade.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>

            <field>Unidades__c</field>
            <value>
                <elementReference>Obter_a_Unidade.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Unidade_Nao</name>
        <label>Atualizar Unidade Não</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Primeira_Fatura_Conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_a_Unidade.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Numero_de_Faturas__c</field>
            <value>
                <elementReference>ContagemUnidade</elementReference>
            </value>
        </inputAssignments>
        <object>Units__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Unidade_Sim</name>
        <label>Atualizar Unidade Sim</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Primeira_Fatura_Conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_a_Unidade.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_da_emissao_da_primeira_fatura__c</field>
            <value>
                <elementReference>$Record.Data_de_Fechamento_da_Fatura_LUZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_de_vencimento_da_primeira_fatura__c</field>
            <value>
                <elementReference>$Record.Data_do_Vencimeto_LUZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_da_Primeira_Fatura__c</field>
            <value>
                <elementReference>$Record.Link_de_Download__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Faturas__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Units__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_a_Unidade</targetReference>
        </connector>
        <object>Fatura__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Nome</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Fatura - {!$Record.M_s_de_Refer_ncia__c}/{!$Record.Ano_de_Referencia__c}</text>
    </textTemplates>
</Flow>
