force-app/main/default/flows/FW_Tasks_Subflow_Chamado_Cobranca_Clone_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Colecao</name>
        <label>Add Coleção</label>
        <locationX>2063</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Chamados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Tarefas</name>
        <label>Atribuir Tarefas</label>
        <locationX>1946</locationX>
        <locationY>94</locationY>
        <assignmentItems>
            <assignToReference>TaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Chamados.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Atividade_Origem.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Data_Hora_Inicio_da_Chamada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Atividade_Origem.Data_Hora_Inicio_da_Chamada__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Data_Hora_Fim_da_Chamada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Atividade_Origem.Data_Hora_Fim_da_Chamada__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Atividade_Origem.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Tarefa_Clonada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Atividade_Origem.TaskSubtype</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Colecao</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Achou_Tipo_de_Registro</name>
        <label>Achou Tipo de Registro?</label>
        <locationX>720</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim_Achou_Tipo_de_Registro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Tipo_de_Registro_Chamado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Atividade_Origem</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrou_Chamado</name>
        <label>Encontrou Chamado?</label>
        <locationX>1311</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim_Encontrou_Chamado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Chamado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Chamados_Relacionados</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Tasks] Subflow - Chamado Cobranca Clone Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Tasks] Subflow - Chamado Cobranca Clone Tasks</label>
    <loops>
        <name>Loop_Chamados</name>
        <label>Loop Chamados</label>
        <locationX>1771</locationX>
        <locationY>222</locationY>
        <collectionReference>Obter_Chamados_Relacionados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribuir_Tarefas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Criar_Tarefas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Tarefas</name>
        <label>Criar Tarefas</label>
        <locationX>1770</locationX>
        <locationY>421</locationY>
        <inputReference>TaskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obter_Atividade_Origem</name>
        <label>Obter Atividade Origem</label>
        <locationX>938</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Chamado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdTask</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tarefa_Clonada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Chamado</name>
        <label>Obter Chamado</label>
        <locationX>1127</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_Chamado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Atividade_Origem.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Tipo_de_Registro_Chamado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chamado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Chamados_Relacionados</name>
        <label>Obter Chamados Relacionados</label>
        <locationX>1566</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Chamados</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>IDCliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Chamado.IDCliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_Fatura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em Aberto</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Fatura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vencida</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Obter_Chamado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Chamado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Tipo_de_Registro_Chamado</name>
        <label>Obter Tipo de Registro Chamado</label>
        <locationX>527</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Achou_Tipo_de_Registro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chamado__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cobranca</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Obter_Tipo_de_Registro_Chamado</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
