force-app/main/default/flows/FWCadenceMainUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>setCadenceLead</name>
        <label>setCadenceLead</label>
        <locationX>2187</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>varLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TemplateCadence__r.CountCad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCadencePreLead</name>
        <label>setCadencePreLead</label>
        <locationX>238</locationX>
        <locationY>1660</locationY>
        <assignmentItems>
            <assignToReference>varPreLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TemplateCadence__r.CountCad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDueDate</name>
        <label>setDueDate</label>
        <locationX>1988</locationX>
        <locationY>1413</locationY>
        <assignmentItems>
            <assignToReference>varLead.NextActivityDueDateCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CadStepDueDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDueDate2</name>
        <label>setDueDate</label>
        <locationX>1326</locationX>
        <locationY>1362</locationY>
        <assignmentItems>
            <assignToReference>varLead.NextActivityDueDateCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CadStepDueDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.AmountTasksStepCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AmountTasksStepCadence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CadenceSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CadenceStepDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CadenceStepDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CadenceStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CadenceStep__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDueDate2_PreLead</name>
        <label>setDueDate</label>
        <locationX>745</locationX>
        <locationY>1393</locationY>
        <assignmentItems>
            <assignToReference>varPreLead.NextActivityDueDateCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CadStepDueDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.AmountTasksStepCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AmountTasksStepCadence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CadenceSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CadenceStepDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CadenceStepDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CadenceStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CadenceStep__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDueDate_PreLead</name>
        <label>setDueDate</label>
        <locationX>368</locationX>
        <locationY>1528</locationY>
        <assignmentItems>
            <assignToReference>varPreLead.NextActivityDueDateCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CadStepDueDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadVariable</name>
        <label>Atribui Lead em variável</label>
        <locationX>1465</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>varLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChangeDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPreLeadVariable</name>
        <label>Atribui PreLead em variável</label>
        <locationX>672</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varPreLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPreLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChangeDecisionPreLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStatusClosedCadence</name>
        <label>setStatusClosedCadence</label>
        <locationX>2312</locationX>
        <locationY>1854</locationY>
        <assignmentItems>
            <assignToReference>varOpp.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TemplateCadence__r.CountCad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TemplateCadence__r.CountCad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStatusClosedCadence2</name>
        <label>setStatusClosedCadence</label>
        <locationX>50</locationX>
        <locationY>1853</locationY>
        <assignmentItems>
            <assignToReference>varOpp.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TemplateCadence__r.CountCad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TemplateCadence__r.CountCad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CadenceDayChangedDecision</name>
        <label>Dia da Cadencia Alterado</label>
        <locationX>1250</locationX>
        <locationY>2580</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CadenceDayChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CadenceDayChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FWCadenceTasks</targetReference>
            </connector>
            <label>Alterado</label>
        </rules>
    </decisions>
    <decisions>
        <name>CadenceDayChangedDecision2</name>
        <label>Dia da Cadencia Alterado</label>
        <locationX>828</locationX>
        <locationY>2580</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CadenceDayChanged2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CadenceDayChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FWCadenceTasksPreLead</targetReference>
            </connector>
            <label>Alterado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica se a cadencia foi mudado o status e esta concluida</description>
        <name>CadenceDone</name>
        <label>Cadência Concluída?</label>
        <locationX>1068</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim_CadenceDone1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluída</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpenTasks</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChangeDecision</name>
        <label>ChangeDecision</label>
        <locationX>1737</locationX>
        <locationY>1038</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CadenceDayChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CadenceStep__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDueDate2</targetReference>
            </connector>
            <label>Dia da Cadencia Alterado</label>
        </rules>
        <rules>
            <name>ChangedStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não conseguiu contato</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConseguiuContato</targetReference>
            </connector>
            <label>Status Alterado</label>
        </rules>
        <rules>
            <name>NextCadenceChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CadStepDueDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDueDate</targetReference>
            </connector>
            <label>Proxima Cadencia Alterado</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChangeDecisionPreLead</name>
        <label>ChangeDecision</label>
        <locationX>471</locationX>
        <locationY>1039</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CadenceDayChanged_PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CadenceStep__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDueDate2_PreLead</targetReference>
            </connector>
            <label>Dia da Cadencia Alterado</label>
        </rules>
        <rules>
            <name>ChangedStatus_PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não conseguiu contato</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConseguiuContato_PreLead</targetReference>
            </connector>
            <label>Status Alterado</label>
        </rules>
        <rules>
            <name>NextCadenceChanged_PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CadStepDueDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDueDate_PreLead</targetReference>
            </connector>
            <label>Proxima Cadencia Alterado</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConseguiuContato</name>
        <label>Conseguiu Contato?</label>
        <locationX>2024</locationX>
        <locationY>1032</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não conseguiu contato</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_do_Lead</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConseguiuContato_PreLead</name>
        <label>Conseguiu Contato?</label>
        <locationX>261</locationX>
        <locationY>1039</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nao_PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não conseguiu contato</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_do_PreLead</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object</name>
        <label>Object</label>
        <locationX>1068</locationX>
        <locationY>891</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Opp</label>
        </rules>
        <rules>
            <name>PreLead1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pre_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPreLead</targetReference>
            </connector>
            <label>PreLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Decision</name>
        <label>Object Decision</label>
        <locationX>1027</locationX>
        <locationY>1845</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpp.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreLead.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opp2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreLead.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Opp</label>
        </rules>
        <rules>
            <name>PreLead2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpp.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatePreLead</targetReference>
            </connector>
            <label>PreLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Tasks</name>
        <label>Open Tasks?</label>
        <locationX>1535</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Open_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpenTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteTasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_do_Lead</name>
        <label>Status do Lead</label>
        <locationX>2291</locationX>
        <locationY>1030</locationY>
        <defaultConnector>
            <targetReference>setStatusClosedCadence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em Andamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCadenceLead</targetReference>
            </connector>
            <label>Status Ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_do_PreLead</name>
        <label>Status do PreLead</label>
        <locationX>57</locationX>
        <locationY>1044</locationY>
        <defaultConnector>
            <targetReference>setStatusClosedCadence2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Ok_PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreLead.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em andamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCadencePreLead</targetReference>
            </connector>
            <label>Status Ok</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forFakeId</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.Lead__c})),{!$Record.Lead__c},

IF(
NOT(ISBLANK({!$Record.Opportunity__c})),{!$Record.Opportunity__c},

IF(
NOT(ISBLANK({!$Record.Pre_Lead__c})),{!$Record.Pre_Lead__c},

&apos;0010500000YLjMvAAL&apos;

)
)
)</expression>
    </formulas>
    <interviewLabel>[Cadência] Main Created Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Cadência] Main Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>deleteTasks</name>
        <label>deleteTasks</label>
        <locationX>1769</locationX>
        <locationY>516</locationY>
        <inputReference>getOpenTasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getLead</name>
        <label>getLead</label>
        <locationX>1284</locationX>
        <locationY>884</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetLeadVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpenTasks</name>
        <label>getOpenTasks</label>
        <locationX>1324</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Tasks</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>CadenceTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TemplateCadence__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forFakeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forFakeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPreLead</name>
        <label>getPreLead</label>
        <locationX>883</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetPreLeadVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pre_Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PreLead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTemplateConfigLead</name>
        <label>getTemplateConfigLead</label>
        <locationX>1258</locationX>
        <locationY>2359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CadenceDayChangedDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TemplateCadence__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CadenceStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CadenceStep__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CadenceTemplateConfig__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTemplateConfigPreLead</name>
        <label>getTemplateConfigPreLead</label>
        <locationX>836</locationX>
        <locationY>2381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CadenceDayChangedDecision2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TemplateCadence__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CadenceStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CadenceStep__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CadenceTemplateConfig__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateLead</name>
        <label>updateLead</label>
        <locationX>1258</locationX>
        <locationY>2210</locationY>
        <connector>
            <targetReference>getTemplateConfigLead</targetReference>
        </connector>
        <inputReference>varLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePreLead</name>
        <label>updatePreLead</label>
        <locationX>836</locationX>
        <locationY>2214</locationY>
        <connector>
            <targetReference>getTemplateConfigPreLead</targetReference>
        </connector>
        <inputReference>varPreLead</inputReference>
    </recordUpdates>
    <start>
        <locationX>951</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pre_Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Cadence__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Path_Pause</name>
            <connector>
                <targetReference>CadenceDone</targetReference>
            </connector>
            <label>Path Pause</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>FWCadenceTasks</name>
        <label>FWCadenceTasks</label>
        <locationX>1256</locationX>
        <locationY>2814</locationY>
        <flowName>FWCadenceTasks</flowName>
        <inputAssignments>
            <name>varCadence</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCadenceTemplateConfigLead</name>
            <value>
                <elementReference>getTemplateConfigLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLead</name>
            <value>
                <elementReference>varLead</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FWCadenceTasksPreLead</name>
        <label>FWCadenceTasks</label>
        <locationX>841</locationX>
        <locationY>2794</locationY>
        <flowName>FWCadenceTasks</flowName>
        <inputAssignments>
            <name>varCadence</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCadenceTemplateConfigPreLead</name>
            <value>
                <elementReference>getTemplateConfigPreLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPreLead</name>
            <value>
                <elementReference>varPreLead</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varPreLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PreLead__c</objectType>
    </variables>
</Flow>
