force-app/main/default/flows/FWCadenceScheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>SetAddDays</name>
        <label>SetAddDays</label>
        <locationX>776</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>varCadAddDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCadenceTemplateConfig.AddDays__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpenTasksLuz</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBeforeLoop</name>
        <label>SetBeforeLoop</label>
        <locationX>1277</locationX>
        <locationY>1496</locationY>
        <assignmentItems>
            <assignToReference>iloop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextCadenceTemplateConfig</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopConfigCadenceTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCadenceDays</name>
        <label>SetCadenceDays</label>
        <locationX>1046</locationX>
        <locationY>1503</locationY>
        <assignmentItems>
            <assignToReference>varCadAddDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextCadenceTemplateConfig.AddDays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalBeforeTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AmountTasksStepCadence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTotalTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCadenceTemplateConfig</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCadenceNewValues</name>
        <label>SetCadenceNewValues</label>
        <locationX>716</locationX>
        <locationY>1293</locationY>
        <assignmentItems>
            <assignToReference>$Record.AmountTasksBeforeStepCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalBeforeTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AmountTasksStepCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CadStepDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CadStepDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCadenceTemplate.CountCad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CadenceStepDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CadenceStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextCadenceTemplateConfig.CadenceStep__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCadence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCadenceTemplateConfig</name>
        <label>SetCadenceTemplateConfig</label>
        <locationX>1046</locationX>
        <locationY>1293</locationY>
        <assignmentItems>
            <assignToReference>GetCadenceTemplateConfig</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextCadenceTemplateConfig</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCadenceNewValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCadStedDueDate</name>
        <label>SetCadStedDueDate</label>
        <locationX>389</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.CadStepDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CadStepDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cadência pendente de ações em tarefas do dia anterior</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCadence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNextConfig</name>
        <label>SetNextConfig</label>
        <locationX>1544</locationX>
        <locationY>1770</locationY>
        <assignmentItems>
            <assignToReference>iloop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextCadenceTemplateConfig</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopConfigCadenceTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopConfigCadenceTemplate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LastDayVerify</name>
        <label>LastDayVerify</label>
        <locationX>1037</locationX>
        <locationY>1678</locationY>
        <defaultConnector>
            <targetReference>UpdateCadenceNoContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iloop_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iloop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCadenceDays</targetReference>
            </connector>
            <label>iloop =1</label>
        </rules>
    </decisions>
    <decisions>
        <name>NextConfigDecision</name>
        <label>NextConfigDecision</label>
        <locationX>1269</locationX>
        <locationY>1908</locationY>
        <defaultConnector>
            <targetReference>LoopConfigCadenceTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NextConfig</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopConfigCadenceTemplate.CadenceStep__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GetCadenceTemplateConfig.CadenceStep__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iloop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNextConfig</targetReference>
            </connector>
            <label>NextConfig</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpenTasksLuz</name>
        <label>Tarefas em aberto (Luz)</label>
        <locationX>768</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>GetAllCadenceTemplateConfigs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tarefasemaberto</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AmountTasksBeforeStepCadence__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TaskCadDone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CadStepDueDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.Recordtype_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.Recordtype_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCadStedDueDate</targetReference>
            </connector>
            <label>Tarefas em aberto</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CadStepDueDate</name>
        <dataType>Date</dataType>
        <expression>IF(MOD(( {!$Flow.CurrentDate} + {!varCadAddDays}) - DATE( 2000,01,02),7) = 0,
	{!$Flow.CurrentDate} + {!varCadAddDays} + 1,
	IF(MOD(( {!$Flow.CurrentDate} + {!varCadAddDays}) - DATE( 2000,01,02),7) = 6,
		{!$Flow.CurrentDate} + {!varCadAddDays} + 2,
		{!$Flow.CurrentDate} + {!varCadAddDays}
	)
)</expression>
    </formulas>
    <formulas>
        <name>forCadStepDueDateAdd</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>forTotalTask</name>
        <dataType>Number</dataType>
        <expression>{!nextCadenceTemplateConfig.AmountTaskStep__c}+{!$Record.AmountTasksStepCadence__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Cadência] Schedule Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Cadência] Scheduled Job</label>
    <loops>
        <name>LoopConfigCadenceTemplate</name>
        <label>LoopConfigCadenceTemplate</label>
        <locationX>1277</locationX>
        <locationY>1675</locationY>
        <collectionReference>GetAllCadenceTemplateConfigs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NextConfigDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LastDayVerify</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllCadenceTemplateConfigs</name>
        <label>GetAllCadenceTemplateConfigs</label>
        <locationX>1277</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetBeforeLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCadenceTemplate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CadenceTemplateConfig__c</object>
        <sortField>CadenceStep__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCadenceTemplate</name>
        <label>GetCadenceTemplate</label>
        <locationX>776</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCadenceTemplateConfig</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TemplateCadence__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CadenceTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCadenceTemplateConfig</name>
        <label>GetCadenceTemplateConfig</label>
        <locationX>776</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetAddDays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CadenceStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CadenceStep__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CadenceTemplateConfig__c</object>
        <sortField>CadenceStep__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCadence</name>
        <label>UpdateCadence</label>
        <locationX>389</locationX>
        <locationY>1293</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCadenceNoContact</name>
        <label>UpdateCadenceNoContact</label>
        <locationX>1046</locationX>
        <locationY>1885</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Cadência encerrada, porém, não concluída</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Não conseguiu contato</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCadenceTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em andamento</stringValue>
            </value>
        </filters>
        <object>Cadence__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-12</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>iloop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nextCadenceTemplateConfig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CadenceTemplateConfig__c</objectType>
    </variables>
    <variables>
        <name>TotalBeforeTask</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalTask</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCadAddDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
