force-app/main/default/flows/FWCadenceTasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Atribuicao_Loop_Call</name>
        <label>Atribuição Loop Call</label>
        <locationX>3508</locationX>
        <locationY>1770</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Call_Opp</name>
        <label>Atribuição Loop Call</label>
        <locationX>1500</locationX>
        <locationY>2361</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformCall_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Call_PreLead</name>
        <label>Atribuição Loop Call</label>
        <locationX>3053</locationX>
        <locationY>3235</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformCall_PreLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Email</name>
        <label>Atribuição Loop Email</label>
        <locationX>4565</locationX>
        <locationY>2074</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Email_Opp</name>
        <label>Atribuição Loop Call</label>
        <locationX>490</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformEmail_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Email_PreLead</name>
        <label>Atribuição Loop Email</label>
        <locationX>4110</locationX>
        <locationY>3539</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformEmail_PreLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Whats</name>
        <label>Atribuição Loop Whats</label>
        <locationX>4010</locationX>
        <locationY>1966</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformWhats</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Whats_Opp</name>
        <label>Atribuição Loop Whats</label>
        <locationX>1002</locationX>
        <locationY>2600</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformWhats_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Whats_PreLead</name>
        <label>Atribuição Loop Whats</label>
        <locationX>3555</locationX>
        <locationY>3431</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformWhats_PreLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Chamada</name>
        <label>Atribuir loop Chamada</label>
        <locationX>3166</locationX>
        <locationY>1184</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Chamada_Opp</name>
        <label>Atribuir loop Chamada</label>
        <locationX>1688</locationX>
        <locationY>1953</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformCall_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Chamada_PreLead</name>
        <label>Atribuir loop Chamada</label>
        <locationX>2711</locationX>
        <locationY>2649</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformCall_PreLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Email</name>
        <label>Atribuir loop Email</label>
        <locationX>4190</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Email_Opp</name>
        <label>Atribuir loop Email</label>
        <locationX>691</locationX>
        <locationY>2394</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformEmail_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Email_PreLead</name>
        <label>Atribuir loop Email</label>
        <locationX>3735</locationX>
        <locationY>2965</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformEmail_PreLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Whats</name>
        <label>Atribuir loop Whats</label>
        <locationX>3682</locationX>
        <locationY>1385</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformWhats</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Whats_Opp</name>
        <label>Atribuir loop Whats</label>
        <locationX>1207</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformWhats_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Whats_PreLead</name>
        <label>Atribuir loop Whats</label>
        <locationX>3227</locationX>
        <locationY>2850</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformWhats_PreLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDefault</name>
        <label>SetDefault</label>
        <locationX>1611</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>idDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDeltaCadenceCall</name>
        <label>SetDeltaCadenceCall</label>
        <locationX>2877</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>idDeltaCadenceCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDeltaCadenceMessage</name>
        <label>SetDeltaCadenceMessage</label>
        <locationX>2412</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>idDeltaCadenceMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLuzCadenceCall</name>
        <label>SetLuzCadenceCall</label>
        <locationX>1798</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>idLuzCadenceCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLuzCadenceMessage</name>
        <label>SetLuzCadenceMessage</label>
        <locationX>2831</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>idLuzCadenceMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Luz_or_Delta_Call_Lead</name>
        <label>Luz or Delta</label>
        <locationX>3162</locationX>
        <locationY>1608</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Luz</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLuzLeadTaskCall</targetReference>
            </connector>
            <label>Luz</label>
        </rules>
        <rules>
            <name>Delta</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJDelta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFDelta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createDeltaTaskCall</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Luz_or_Delta_Email_Lead</name>
        <label>Luz or Delta</label>
        <locationX>4184</locationX>
        <locationY>1903</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Luz_Email_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLuzTaskEmail</targetReference>
            </connector>
            <label>Luz</label>
        </rules>
        <rules>
            <name>Delta_Email_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFDelta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJDelta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createDeltaTaskEmail</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Luz_or_Delta_Whats_Lead</name>
        <label>Luz or Delta</label>
        <locationX>3674</locationX>
        <locationY>1817</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Luz_Whats_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLuzTaskWhats</targetReference>
            </connector>
            <label>Luz</label>
        </rules>
        <rules>
            <name>Delta_Whats_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFDelta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJDelta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createDeltaTaskWhats</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Decision</name>
        <label>Object Decision</label>
        <locationX>2124</locationX>
        <locationY>1689</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpp.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyAmountTaskCalls_Opp</targetReference>
            </connector>
            <label>Opp</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyAmountTaskCalls</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreLead.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyAmountTaskCalls_PreLead</targetReference>
            </connector>
            <label>PreLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeDecision</name>
        <label>RecordTypeDecision</label>
        <locationX>2096</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LuzCadenceCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LuzCadenceCall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLuzCadenceCall</targetReference>
            </connector>
            <label>LuzCadenceCall</label>
        </rules>
        <rules>
            <name>LuzCadenceMessage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LuzCadenceMessage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLuzCadenceMessage</targetReference>
            </connector>
            <label>LuzCadenceMessage</label>
        </rules>
        <rules>
            <name>DeltaCadenceCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeltaCadenceCall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDeltaCadenceCall</targetReference>
            </connector>
            <label>DeltaCadenceCall</label>
        </rules>
        <rules>
            <name>DeltaCadenceMessage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeltaCadenceMessage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDeltaCadenceMessage</targetReference>
            </connector>
            <label>DeltaCadenceMessage</label>
        </rules>
        <rules>
            <name>Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDefault</targetReference>
            </connector>
            <label>Default</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskCalls</name>
        <label>Verifica se há números de Chamadas</label>
        <locationX>3157</locationX>
        <locationY>918</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskWhats</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigLead.N_Calls__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigLead.N_Calls__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Chamada</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskCalls_Opp</name>
        <label>Verifica se há números de Chamadas</label>
        <locationX>1679</locationX>
        <locationY>1689</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskWhats_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero2_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigOpp.N_Calls__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigOpp.N_Calls__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Chamada_Opp</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskCalls_PreLead</name>
        <label>Verifica se há números de Chamadas</label>
        <locationX>2702</locationX>
        <locationY>2383</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskWhats_PreLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero2_PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigPreLead.N_Calls__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigPreLead.N_Calls__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Chamada_PreLead</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskEmail</name>
        <label>Verifica se há números de Emails</label>
        <locationX>4183</locationX>
        <locationY>1296</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigLead.N_Emails__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigLead.N_Emails__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Email</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskEmail_Opp</name>
        <label>Verifica se há números de Emails</label>
        <locationX>684</locationX>
        <locationY>2190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero3_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigOpp.N_Emails__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigOpp.N_Emails__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Email_Opp</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskEmail_PreLead</name>
        <label>Verifica se há números de Emails</label>
        <locationX>3728</locationX>
        <locationY>2761</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero3_PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigPreLead.N_Emails__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigPreLead.N_Emails__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Email_PreLead</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformCall</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em chamada</label>
        <locationX>3158</locationX>
        <locationY>1364</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskWhats</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigLead.N_Calls__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Luz_or_Delta_Call_Lead</targetReference>
            </connector>
            <label>iLoop &lt; Calls</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformCall_Opp</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em chamada</label>
        <locationX>1680</locationX>
        <locationY>2151</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskWhats_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Calls_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigLead.N_Calls__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTaskCall_Opp</targetReference>
            </connector>
            <label>iLoop &lt; Calls</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformCall_PreLead</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em chamada</label>
        <locationX>2703</locationX>
        <locationY>2829</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskWhats_PreLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Calls_PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigPreLead.N_Calls__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLuzPreLeadTaskCall</targetReference>
            </connector>
            <label>iLoop &lt; Calls</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformEmail</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em Email</label>
        <locationX>4182</locationX>
        <locationY>1691</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigLead.N_Emails__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Luz_or_Delta_Email_Lead</targetReference>
            </connector>
            <label>iLoop &lt; Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformEmail_Opp</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em Email</label>
        <locationX>683</locationX>
        <locationY>2585</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Email_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigLead.N_Emails__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTaskEmail_Opp</targetReference>
            </connector>
            <label>iLoop &lt; Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformEmail_PreLead</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em Email</label>
        <locationX>3727</locationX>
        <locationY>3156</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Email_PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigPreLead.N_Emails__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLuzTaskEmail_PreLead</targetReference>
            </connector>
            <label>iLoop &lt; Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformWhats</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em whats</label>
        <locationX>3674</locationX>
        <locationY>1564</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Whats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigLead.N_Whatsapp__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Luz_or_Delta_Whats_Lead</targetReference>
            </connector>
            <label>iLoop &lt; Whats</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformWhats_Opp</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em whats</label>
        <locationX>1199</locationX>
        <locationY>2338</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskEmail_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Whats_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigLead.N_Whatsapp__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTaskWhats_Opp</targetReference>
            </connector>
            <label>iLoop &lt; Whats</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformWhats_PreLead</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em whats</label>
        <locationX>3219</locationX>
        <locationY>3029</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskEmail_PreLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Whats_PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigPreLead.N_Whatsapp__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLuzTaskWhats_PreLead</targetReference>
            </connector>
            <label>iLoop &lt; Whats</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskWhats</name>
        <label>Verifica se há números de Whats</label>
        <locationX>3671</locationX>
        <locationY>1152</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigLead.N_Whatsapp__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigLead.N_Whatsapp__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Whats</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskWhats_Opp</name>
        <label>Verifica se há números de Whats</label>
        <locationX>1196</locationX>
        <locationY>1926</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskEmail_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigOpp.N_Whatsapp__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigOpp.N_Whatsapp__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Whats_Opp</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskWhats_PreLead</name>
        <label>Verifica se há números de Whats</label>
        <locationX>3216</locationX>
        <locationY>2617</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskEmail_PreLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero_PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigPreLead.N_Whatsapp__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigPreLead.N_Whatsapp__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Whats_PreLead</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CadStepDueDate</name>
        <dataType>Date</dataType>
        <expression>IF(MOD(( {!$Flow.CurrentDate} + {!varCadAddDays}) - DATE( 2000,01,02),7) = 0,
	{!$Flow.CurrentDate} + {!varCadAddDays} + 1,
	IF(MOD(( {!$Flow.CurrentDate} + {!varCadAddDays}) - DATE( 2000,01,02),7) = 6,
		{!$Flow.CurrentDate} + {!varCadAddDays} + 2,
		{!$Flow.CurrentDate} + {!varCadAddDays}
	)
)</expression>
    </formulas>
    <formulas>
        <name>CadStepDueDateLoop</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +1</expression>
    </formulas>
    <formulas>
        <name>forDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE (  TEXT({!$Flow.CurrentDate}) + &quot; 10:00:00&quot;) + ( {!iLoop} / 24 )</expression>
    </formulas>
    <formulas>
        <name>subjectChamada</name>
        <dataType>String</dataType>
        <expression>&apos;Chamada - &apos; &amp;  TEXT({!iLoop}) &amp; &apos; - Dia: &apos;&amp;  TEXT({!varCadence.CadenceStep__c})</expression>
    </formulas>
    <formulas>
        <name>subjectChamadaOpp</name>
        <dataType>String</dataType>
        <expression>&apos;Chamada - &apos; &amp; TEXT({!iLoop}) &amp; &apos; - Opp&apos;  &amp; &apos; - Dia: &apos;&amp;  TEXT({!varCadence.CadenceStep__c})</expression>
    </formulas>
    <formulas>
        <name>subjectEmail</name>
        <dataType>String</dataType>
        <expression>&apos;Email - &apos; &amp; TEXT({!iLoop})  &amp; &apos; - Dia: &apos;&amp;  TEXT({!varCadence.CadenceStep__c})</expression>
    </formulas>
    <formulas>
        <name>SubjectEmailOpp</name>
        <dataType>String</dataType>
        <expression>&apos;Email - &apos; &amp; TEXT({!iLoop}) &amp; &apos; - Opp&apos;  &amp; &apos; - Dia: &apos;&amp;  TEXT({!varCadence.CadenceStep__c})</expression>
    </formulas>
    <formulas>
        <name>subjectWhats</name>
        <dataType>String</dataType>
        <expression>&apos;Whatsapp  - &apos; &amp; TEXT({!iLoop})  &amp; &apos; - Dia: &apos;&amp;  TEXT({!varCadence.CadenceStep__c})</expression>
    </formulas>
    <formulas>
        <name>SubjectWhatsOpp</name>
        <dataType>String</dataType>
        <expression>&apos;Whatsapp  - &apos; &amp; TEXT({!iLoop}) &amp; &apos; - Opp&apos;  &amp; &apos; - Dia: &apos;&amp;  TEXT({!varCadence.CadenceStep__c})</expression>
    </formulas>
    <interviewLabel>[Cadência] Criaç {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Cadência] Subflow - Criação de tarefas</label>
    <loops>
        <name>LoopRecordTypes</name>
        <label>LoopRecordTypes</label>
        <locationX>2125</locationX>
        <locationY>465</locationY>
        <collectionReference>GetTasksRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordTypeDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Object_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createDeltaTaskCall</name>
        <label>createDeltaTaskCall</label>
        <locationX>3171</locationX>
        <locationY>1907</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Call</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idDeltaCadenceCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectChamada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageLead__c</field>
            <value>
                <elementReference>varLead.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createDeltaTaskEmail</name>
        <label>createDeltaTaskEmail</label>
        <locationX>4193</locationX>
        <locationY>2074</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idDeltaCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageLead__c</field>
            <value>
                <elementReference>varLead.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createDeltaTaskWhats</name>
        <label>createDeltaTaskWhats</label>
        <locationX>3680</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Whats</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observacao__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.TemplateTextoWhats__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idDeltaCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectWhats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageLead__c</field>
            <value>
                <elementReference>varLead.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLuzLeadTaskCall</name>
        <label>createLuzLeadTaskCall</label>
        <locationX>3351</locationX>
        <locationY>1605</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Call</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectChamada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageLead__c</field>
            <value>
                <elementReference>varLead.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLuzPreLeadTaskCall</name>
        <label>createLuzPreLeadTaskCall</label>
        <locationX>2714</locationX>
        <locationY>3235</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Call_PreLead</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigPreLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPreLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectChamada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStagePreLead__c</field>
            <value>
                <elementReference>varPreLead.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPreLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLuzTaskEmail</name>
        <label>createLuzTaskEmail</label>
        <locationX>4392</locationX>
        <locationY>1899</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageLead__c</field>
            <value>
                <elementReference>varLead.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLuzTaskEmail_PreLead</name>
        <label>createLuzTaskEmail</label>
        <locationX>3740</locationX>
        <locationY>3539</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Email_PreLead</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigPreLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPreLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStagePreLead__c</field>
            <value>
                <elementReference>varPreLead.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPreLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLuzTaskWhats</name>
        <label>createLuzTaskWhats</label>
        <locationX>3854</locationX>
        <locationY>1813</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Whats</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observacao__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.TemplateTextoWhats__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectWhats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageLead__c</field>
            <value>
                <elementReference>varLead.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLuzTaskWhats_PreLead</name>
        <label>createLuzTaskWhats</label>
        <locationX>3232</locationX>
        <locationY>3431</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Whats_PreLead</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigPreLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPreLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectWhats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStagePreLead__c</field>
            <value>
                <elementReference>varPreLead.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPreLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createTaskCall_Opp</name>
        <label>createTaskCall</label>
        <locationX>1690</locationX>
        <locationY>2361</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Call_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Task criada para motor de cadências</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectChamadaOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageOpp__c</field>
            <value>
                <elementReference>varOpp.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createTaskEmail_Opp</name>
        <label>createTaskEmail</label>
        <locationX>690</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Email_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Task criada para motor de cadências</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectEmailOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageOpp__c</field>
            <value>
                <elementReference>varOpp.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createTaskWhats_Opp</name>
        <label>createTaskWhats</label>
        <locationX>1206</locationX>
        <locationY>2600</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Whats_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Task criada para motor de cadências</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectWhatsOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageOpp__c</field>
            <value>
                <elementReference>varOpp.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetTasksRecordTypes</name>
        <label>GetTasksRecordTypes</label>
        <locationX>2125</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LuzCadenceCall</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LuzCadenceMessage</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DeltaCadenceCall</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DeltaCadenceMessage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1999</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetTasksRecordTypes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idDeltaCadenceCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idDeltaCadenceMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idLuzCadenceCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idLuzCadenceMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>leadRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCadAddDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCadence</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cadence__c</objectType>
    </variables>
    <variables>
        <name>varCadenceTemplateConfigLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CadenceTemplateConfig__c</objectType>
    </variables>
    <variables>
        <name>varCadenceTemplateConfigOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CadenceTemplateConfig__c</objectType>
    </variables>
    <variables>
        <name>varCadenceTemplateConfigPreLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CadenceTemplateConfig__c</objectType>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varPreLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PreLead__c</objectType>
    </variables>
</Flow>
