force-app/main/default/flows/FWCadenceTasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Atribuicao_Loop_Call</name>
        <label>Atribuição Loop Call</label>
        <locationX>2373</locationX>
        <locationY>1785</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Call_Opp</name>
        <label>Atribuição Loop Call</label>
        <locationX>1060</locationX>
        <locationY>1606</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformCall_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Email</name>
        <label>Atribuição Loop Email</label>
        <locationX>3430</locationX>
        <locationY>2089</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Email_Opp</name>
        <label>Atribuição Loop Call</label>
        <locationX>50</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformEmail_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Whats</name>
        <label>Atribuição Loop Whats</label>
        <locationX>2875</locationX>
        <locationY>1981</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformWhats</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuicao_Loop_Whats_Opp</name>
        <label>Atribuição Loop Whats</label>
        <locationX>562</locationX>
        <locationY>1845</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformWhats_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Chamada</name>
        <label>Atribuir loop Chamada</label>
        <locationX>2031</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Chamada_Opp</name>
        <label>Atribuir loop Chamada</label>
        <locationX>1248</locationX>
        <locationY>1198</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformCall_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Email</name>
        <label>Atribuir loop Email</label>
        <locationX>3055</locationX>
        <locationY>1515</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Email_Opp</name>
        <label>Atribuir loop Email</label>
        <locationX>251</locationX>
        <locationY>1639</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformEmail_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Whats</name>
        <label>Atribuir loop Whats</label>
        <locationX>2547</locationX>
        <locationY>1400</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformWhats</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_loop_Whats_Opp</name>
        <label>Atribuir loop Whats</label>
        <locationX>767</locationX>
        <locationY>1404</locationY>
        <assignmentItems>
            <assignToReference>iLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyAmountTaskInformWhats_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDefault</name>
        <label>SetDefault</label>
        <locationX>1126</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>idDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDeltaCadenceCall</name>
        <label>SetDeltaCadenceCall</label>
        <locationX>2392</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>idDeltaCadenceCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDeltaCadenceMessage</name>
        <label>SetDeltaCadenceMessage</label>
        <locationX>1927</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>idDeltaCadenceMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLuzCadenceCall</name>
        <label>SetLuzCadenceCall</label>
        <locationX>1313</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>idLuzCadenceCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLuzCadenceMessage</name>
        <label>SetLuzCadenceMessage</label>
        <locationX>2346</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>idLuzCadenceMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Luz_or_Delta_Call_Lead</name>
        <label>Luz or Delta</label>
        <locationX>2027</locationX>
        <locationY>1623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Luz</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLuzLeadTaskCall</targetReference>
            </connector>
            <label>Luz</label>
        </rules>
        <rules>
            <name>Delta</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJDelta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFDelta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createDeltaTaskCall</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Luz_or_Delta_Email_Lead</name>
        <label>Luz or Delta</label>
        <locationX>3049</locationX>
        <locationY>1918</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Luz_Email_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLuzTaskEmail</targetReference>
            </connector>
            <label>Luz</label>
        </rules>
        <rules>
            <name>Delta_Email_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFDelta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJDelta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createDeltaTaskEmail</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Luz_or_Delta_Whats_Lead</name>
        <label>Luz or Delta</label>
        <locationX>2539</locationX>
        <locationY>1832</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Luz_Whats_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLuzTaskWhats</targetReference>
            </connector>
            <label>Luz</label>
        </rules>
        <rules>
            <name>Delta_Whats_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFDelta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJDelta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createDeltaTaskWhats</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_or_Lead</name>
        <label>Opportunity or Lead?</label>
        <locationX>1639</locationX>
        <locationY>1209</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpp.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyAmountTaskCalls_Opp</targetReference>
            </connector>
            <label>Opp</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyAmountTaskCalls</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeDecision</name>
        <label>RecordTypeDecision</label>
        <locationX>1611</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LuzCadenceCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LuzCadenceCall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLuzCadenceCall</targetReference>
            </connector>
            <label>LuzCadenceCall</label>
        </rules>
        <rules>
            <name>LuzCadenceMessage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LuzCadenceMessage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLuzCadenceMessage</targetReference>
            </connector>
            <label>LuzCadenceMessage</label>
        </rules>
        <rules>
            <name>DeltaCadenceCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeltaCadenceCall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDeltaCadenceCall</targetReference>
            </connector>
            <label>DeltaCadenceCall</label>
        </rules>
        <rules>
            <name>DeltaCadenceMessage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeltaCadenceMessage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDeltaCadenceMessage</targetReference>
            </connector>
            <label>DeltaCadenceMessage</label>
        </rules>
        <rules>
            <name>Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDefault</targetReference>
            </connector>
            <label>Default</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskCalls</name>
        <label>Verifica se há números de Chamadas</label>
        <locationX>2022</locationX>
        <locationY>933</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskWhats</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigLead.N_Calls__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigLead.N_Calls__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Chamada</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskCalls_Opp</name>
        <label>Verifica se há números de Chamadas</label>
        <locationX>1239</locationX>
        <locationY>934</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskWhats_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero2_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigOpp.N_Calls__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigOpp.N_Calls__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Chamada_Opp</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskEmail</name>
        <label>Verifica se há números de Emails</label>
        <locationX>3048</locationX>
        <locationY>1311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigLead.N_Emails__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigLead.N_Emails__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Email</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskEmail_Opp</name>
        <label>Verifica se há números de Emails</label>
        <locationX>244</locationX>
        <locationY>1435</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero3_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigOpp.N_Emails__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigOpp.N_Emails__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Email_Opp</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformCall</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em chamada</label>
        <locationX>2023</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskWhats</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigLead.N_Calls__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Luz_or_Delta_Call_Lead</targetReference>
            </connector>
            <label>iLoop &lt; Calls</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformCall_Opp</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em chamada</label>
        <locationX>1240</locationX>
        <locationY>1396</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskWhats_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Calls_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigLead.N_Calls__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTaskCall_Opp</targetReference>
            </connector>
            <label>iLoop &lt; Calls</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformEmail</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em Email</label>
        <locationX>3047</locationX>
        <locationY>1706</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigLead.N_Emails__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Luz_or_Delta_Email_Lead</targetReference>
            </connector>
            <label>iLoop &lt; Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformEmail_Opp</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em Email</label>
        <locationX>243</locationX>
        <locationY>1830</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Email_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigLead.N_Emails__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTaskEmail_Opp</targetReference>
            </connector>
            <label>iLoop &lt; Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformWhats</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em whats</label>
        <locationX>2539</locationX>
        <locationY>1579</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Whats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigLead.N_Whatsapp__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Luz_or_Delta_Whats_Lead</targetReference>
            </connector>
            <label>iLoop &lt; Whats</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskInformWhats_Opp</name>
        <label>Verifica se o iloop é menor do que a quantidade informada em whats</label>
        <locationX>759</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskEmail_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iLoop_Whats_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iLoop</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceTemplateConfigLead.N_Whatsapp__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTaskWhats_Opp</targetReference>
            </connector>
            <label>iLoop &lt; Whats</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskWhats</name>
        <label>Verifica se há números de Whats</label>
        <locationX>2536</locationX>
        <locationY>1167</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigLead.N_Whatsapp__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigLead.N_Whatsapp__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Whats</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAmountTaskWhats_Opp</name>
        <label>Verifica se há números de Whats</label>
        <locationX>756</locationX>
        <locationY>1171</locationY>
        <defaultConnector>
            <targetReference>VerifyAmountTaskEmail_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maior_que_zero_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigOpp.N_Whatsapp__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTemplateConfigOpp.N_Whatsapp__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_loop_Whats_Opp</targetReference>
            </connector>
            <label>Maior que zero</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CadStepDueDate</name>
        <dataType>Date</dataType>
        <expression>IF(MOD(( {!$Flow.CurrentDate} + {!varCadAddDays}) - DATE( 2000,01,02),7) = 0,
	{!$Flow.CurrentDate} + {!varCadAddDays} + 1,
	IF(MOD(( {!$Flow.CurrentDate} + {!varCadAddDays}) - DATE( 2000,01,02),7) = 6,
		{!$Flow.CurrentDate} + {!varCadAddDays} + 2,
		{!$Flow.CurrentDate} + {!varCadAddDays}
	)
)</expression>
    </formulas>
    <formulas>
        <name>CadStepDueDateLoop</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +1</expression>
    </formulas>
    <formulas>
        <name>forDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE (  TEXT({!$Flow.CurrentDate}) + &quot; 10:00:00&quot;) + ( {!iLoop} / 24 )</expression>
    </formulas>
    <formulas>
        <name>subjectChamada</name>
        <dataType>String</dataType>
        <expression>&apos;Chamada - &apos; &amp;  TEXT({!iLoop}) &amp; &apos; - Dia: &apos;&amp;  TEXT({!varCadence.CadenceStep__c})</expression>
    </formulas>
    <formulas>
        <name>subjectChamadaOpp</name>
        <dataType>String</dataType>
        <expression>&apos;Chamada - &apos; &amp; TEXT({!iLoop}) &amp; &apos; - Opp&apos;  &amp; &apos; - Dia: &apos;&amp;  TEXT({!varCadence.CadenceStep__c})</expression>
    </formulas>
    <formulas>
        <name>subjectEmail</name>
        <dataType>String</dataType>
        <expression>&apos;Email - &apos; &amp; TEXT({!iLoop})  &amp; &apos; - Dia: &apos;&amp;  TEXT({!varCadence.CadenceStep__c})</expression>
    </formulas>
    <formulas>
        <name>SubjectEmailOpp</name>
        <dataType>String</dataType>
        <expression>&apos;Email - &apos; &amp; TEXT({!iLoop}) &amp; &apos; - Opp&apos;  &amp; &apos; - Dia: &apos;&amp;  TEXT({!varCadence.CadenceStep__c})</expression>
    </formulas>
    <formulas>
        <name>subjectWhats</name>
        <dataType>String</dataType>
        <expression>&apos;Whatsapp  - &apos; &amp; TEXT({!iLoop})  &amp; &apos; - Dia: &apos;&amp;  TEXT({!varCadence.CadenceStep__c})</expression>
    </formulas>
    <formulas>
        <name>SubjectWhatsOpp</name>
        <dataType>String</dataType>
        <expression>&apos;Whatsapp  - &apos; &amp; TEXT({!iLoop}) &amp; &apos; - Opp&apos;  &amp; &apos; - Dia: &apos;&amp;  TEXT({!varCadence.CadenceStep__c})</expression>
    </formulas>
    <interviewLabel>[Cadência] Criaç {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Cadência] Subflow - Criação de tarefas</label>
    <loops>
        <name>LoopRecordTypes</name>
        <label>LoopRecordTypes</label>
        <locationX>1640</locationX>
        <locationY>465</locationY>
        <collectionReference>GetTasksRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordTypeDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_or_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createDeltaTaskCall</name>
        <label>createDeltaTaskCall</label>
        <locationX>2036</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Call</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idDeltaCadenceCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectChamada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageLead__c</field>
            <value>
                <elementReference>varLead.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createDeltaTaskEmail</name>
        <label>createDeltaTaskEmail</label>
        <locationX>3058</locationX>
        <locationY>2089</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idDeltaCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageLead__c</field>
            <value>
                <elementReference>varLead.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createDeltaTaskWhats</name>
        <label>createDeltaTaskWhats</label>
        <locationX>2545</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Whats</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observacao__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.TemplateTextoWhats__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idDeltaCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectWhats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageLead__c</field>
            <value>
                <elementReference>varLead.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLuzLeadTaskCall</name>
        <label>createLuzLeadTaskCall</label>
        <locationX>2216</locationX>
        <locationY>1620</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Call</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectChamada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageLead__c</field>
            <value>
                <elementReference>varLead.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLuzTaskEmail</name>
        <label>createLuzTaskEmail</label>
        <locationX>3257</locationX>
        <locationY>1914</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageLead__c</field>
            <value>
                <elementReference>varLead.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLuzTaskWhats</name>
        <label>createLuzTaskWhats</label>
        <locationX>2719</locationX>
        <locationY>1828</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Whats</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observacao__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.TemplateTextoWhats__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectWhats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageLead__c</field>
            <value>
                <elementReference>varLead.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createTaskCall_Opp</name>
        <label>createTaskCall</label>
        <locationX>1250</locationX>
        <locationY>1606</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Call_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Task criada para motor de cadências</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectChamadaOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageOpp__c</field>
            <value>
                <elementReference>varOpp.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createTaskEmail_Opp</name>
        <label>createTaskEmail</label>
        <locationX>250</locationX>
        <locationY>2040</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Email_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Task criada para motor de cadências</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectEmailOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageOpp__c</field>
            <value>
                <elementReference>varOpp.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createTaskWhats_Opp</name>
        <label>createTaskWhats</label>
        <locationX>766</locationX>
        <locationY>1845</locationY>
        <connector>
            <targetReference>Atribuicao_Loop_Whats_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceDay__c</field>
            <value>
                <elementReference>varCadenceTemplateConfigLead.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceTemplate__c</field>
            <value>
                <elementReference>varCadence.TemplateCadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomReminderTime__c</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Task criada para motor de cadências</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>idLuzCadenceMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>forDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectWhatsOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskStageOpp__c</field>
            <value>
                <elementReference>varOpp.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetTasksRecordTypes</name>
        <label>GetTasksRecordTypes</label>
        <locationX>1640</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LuzCadenceCall</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LuzCadenceMessage</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DeltaCadenceCall</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DeltaCadenceMessage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1514</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetTasksRecordTypes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idDeltaCadenceCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idDeltaCadenceMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idLuzCadenceCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idLuzCadenceMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>leadRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCadAddDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCadence</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cadence__c</objectType>
    </variables>
    <variables>
        <name>varCadenceTemplateConfigLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CadenceTemplateConfig__c</objectType>
    </variables>
    <variables>
        <name>varCadenceTemplateConfigOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CadenceTemplateConfig__c</objectType>
    </variables>
    <variables>
        <name>varCadenceTemplateConfigPreLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CadenceTemplateConfig__c</objectType>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varPreLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PreLead__c</objectType>
    </variables>
</Flow>
