force-app/main/default/flows/FWEconomicGroupPreLeadUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>SetPreLeadQtd</name>
        <label>SetPreLeadQtd</label>
        <locationX>1976</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>varCountPreLead</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPreLeads.Numero_de_Contatos__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SumContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPreLeadQtdConverted</name>
        <label>SetPreLeadQtdConverted</label>
        <locationX>2383</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>varCountPreLeadConverted</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPreLeads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPreLeadQtdDesqualificados</name>
        <label>SetPreLeadQtdDesqualificados</label>
        <locationX>2370</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>varCountPreLeadDesqualified</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPreLeads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPreLeadQtdEmAndamento</name>
        <label>SetPreLeadQtdEmAndamento</label>
        <locationX>2367</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>varCountPreLeadEmAndamento</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPreLeads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SumContacts</name>
        <label>SumContacts</label>
        <locationX>2164</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>varCountContactsSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCountContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PreLeadStatus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Find_Economic_Group</name>
        <label>Find Economic Group?</label>
        <locationX>1015</locationX>
        <locationY>232</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Find_Economic_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEconomicGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllPreLeads</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Pre_Leads</name>
        <label>Find Pre Leads?</label>
        <locationX>1465</locationX>
        <locationY>232</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Find_Pre_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllPreLeads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopPreLeads</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PreLeadStatus</name>
        <label>PreLeadStatus</label>
        <locationX>2156</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>LoopPreLeads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Convertidos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopPreLeads.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Convertido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPreLeadQtdConverted</targetReference>
            </connector>
            <label>Convertidos</label>
        </rules>
        <rules>
            <name>Em_andamento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopPreLeads.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em andamento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopPreLeads.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualificado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopPreLeads.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Novo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopPreLeads.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato Gerado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPreLeadQtdEmAndamento</targetReference>
            </connector>
            <label>Em andamento</label>
        </rules>
        <rules>
            <name>Desqualificados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopPreLeads.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desqualificado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPreLeadQtdDesqualificados</targetReference>
            </connector>
            <label>Desqualificados</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Grupo Economico] Qualificar Pre Leads em massa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Grupo Economico] Pré-Lead Updates</label>
    <loops>
        <name>LoopPreLeads</name>
        <label>LoopPreLeads</label>
        <locationX>1683</locationX>
        <locationY>230</locationY>
        <collectionReference>GetAllPreLeads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetPreLeadQtd</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateEconomicGroup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllPreLeads</name>
        <label>GetAllPreLeads</label>
        <locationX>1274</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Pre_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EconomicGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idEconomicGroup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PreLead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEconomicGroup</name>
        <label>GetEconomicGroup</label>
        <locationX>776</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Economic_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idEconomicGroup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EconomicGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEconomicGroup</name>
        <label>UpdateEconomicGroup</label>
        <locationX>1683</locationX>
        <locationY>465</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idEconomicGroup</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactNumber__c</field>
            <value>
                <elementReference>varCountContactsSum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Leads_Convertidos__c</field>
            <value>
                <elementReference>varCountPreLeadConverted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Leads_Desqualificados__c</field>
            <value>
                <elementReference>varCountPreLeadDesqualified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Leads_Em_Andamento__c</field>
            <value>
                <elementReference>varCountPreLeadEmAndamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UCQuantity__c</field>
            <value>
                <elementReference>varCountPreLead</elementReference>
            </value>
        </inputAssignments>
        <object>EconomicGroup__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetEconomicGroup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idEconomicGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountContactsSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountPreLead</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountPreLeadConverted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountPreLeadDesqualified</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountPreLeadEmAndamento</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
