force-app/main/default/flows/FWEconomicGroupLeadUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>SetCounters</name>
        <label>SetCounters</label>
        <locationX>2265</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varCountLead</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopLeads.Numero_de_Contatos__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetVars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCounters2</name>
        <label>SetCounters</label>
        <locationX>1906</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>varCountLead</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopLeads.Numero_de_Contatos__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetVars2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadQtdConverted</name>
        <label>SetLeadQtdConverted</label>
        <locationX>2662</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>varCountLeadConverted</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLeads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadQtdConverted2</name>
        <label>SetLeadQtdConverted</label>
        <locationX>2386</locationX>
        <locationY>1115</locationY>
        <assignmentItems>
            <assignToReference>varCountLeadConverted</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLeads2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadQtdDesqualificados</name>
        <label>SetLeadQtdDesqualificados</label>
        <locationX>2616</locationX>
        <locationY>841</locationY>
        <assignmentItems>
            <assignToReference>varCountLeadDesqualified</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLeads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadQtdDesqualificados2</name>
        <label>SetLeadQtdDesqualificados</label>
        <locationX>2396</locationX>
        <locationY>1685</locationY>
        <assignmentItems>
            <assignToReference>varCountLeadDesqualified</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLeads2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadQtdEmAndamento</name>
        <label>SetLeadQtdEmAndamento</label>
        <locationX>3026</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>varCountLeadEmAndamento</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLeads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadQtdEmAndamento2</name>
        <label>SetLeadQtdEmAndamento</label>
        <locationX>2732</locationX>
        <locationY>1243</locationY>
        <assignmentItems>
            <assignToReference>varCountLeadEmAndamento</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLeads2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetVars</name>
        <label>SetVars</label>
        <locationX>2459</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varCountContactsSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCountContacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsumoTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLeads.ConsumoUtilizado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetVars2</name>
        <label>SetVars</label>
        <locationX>2175</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>varCountContactsSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCountContacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsumoTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLeads2.ConsumoUtilizado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadStatus2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EconomicGroupRemovedDecision</name>
        <label>EconomicGroupRemoved?</label>
        <locationX>767</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>GetEconomicGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EconomicGroupRemoved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOldEconomicGroup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Economic_Group</name>
        <label>Find Economic Group?</label>
        <locationX>1310</locationX>
        <locationY>414</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Find_Economic_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEconomicGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllLeads</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Leads</name>
        <label>Find Leads?</label>
        <locationX>1749</locationX>
        <locationY>415</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Find_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllLeads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopLeads</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Leads2</name>
        <label>Find Leads?</label>
        <locationX>1460</locationX>
        <locationY>1243</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Find_Leads2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllLeads2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopLeads2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Old_Economic_Group</name>
        <label>Find Old Economic Group?</label>
        <locationX>1011</locationX>
        <locationY>1242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Find_Old_Economic_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOldEconomicGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllLeads2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeadStatus</name>
        <label>LeadStatus</label>
        <locationX>2449</locationX>
        <locationY>585</locationY>
        <defaultConnector>
            <targetReference>LoopLeads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Convertidos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ganho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadQtdConverted</targetReference>
            </connector>
            <label>Convertidos</label>
        </rules>
        <rules>
            <name>Em_andamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ganho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Perdido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fechado/Ganho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fechado/Perdido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadQtdEmAndamento</targetReference>
            </connector>
            <label>Em andamento</label>
        </rules>
        <rules>
            <name>Desqualificados</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perdido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadQtdDesqualificados</targetReference>
            </connector>
            <label>Desqualificados</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeadStatus2</name>
        <label>LeadStatus</label>
        <locationX>2167</locationX>
        <locationY>1412</locationY>
        <defaultConnector>
            <targetReference>LoopLeads2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Convertidos2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ganho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fechado/Ganho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadQtdConverted2</targetReference>
            </connector>
            <label>Convertidos</label>
        </rules>
        <rules>
            <name>Em_andamento2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fechado/Ganho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ganho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Perdido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fechado/Perdido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadQtdEmAndamento2</targetReference>
            </connector>
            <label>Em andamento</label>
        </rules>
        <rules>
            <name>Desqualificados2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perdido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLeads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fechado/Perdido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadQtdDesqualificados2</targetReference>
            </connector>
            <label>Desqualificados</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Grupo Economico] Lead Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Grupo Economico] Lead Updates</label>
    <loops>
        <name>LoopLeads</name>
        <label>LoopLeads</label>
        <locationX>1978</locationX>
        <locationY>411</locationY>
        <collectionReference>GetAllLeads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetCounters</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateEconomicGroup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopLeads2</name>
        <label>LoopLeads</label>
        <locationX>1694</locationX>
        <locationY>1240</locationY>
        <collectionReference>GetAllLeads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetCounters2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOldEconomicGroup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllLeads</name>
        <label>GetAllLeads</label>
        <locationX>1543</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EconomicGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idEconomicGroup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllLeads2</name>
        <label>GetAllLeads</label>
        <locationX>1243</locationX>
        <locationY>1241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Leads2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOldEconomicGroup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEconomicGroup</name>
        <label>GetEconomicGroup</label>
        <locationX>1060</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Economic_Group</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idEconomicGroup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EconomicGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOldEconomicGroup</name>
        <label>GetOldEconomicGroup</label>
        <locationX>776</locationX>
        <locationY>1240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Old_Economic_Group</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOldEconomicGroup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EconomicGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEconomicGroup</name>
        <label>UpdateEconomicGroup</label>
        <locationX>1978</locationX>
        <locationY>646</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idEconomicGroup</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConsumoTotal__c</field>
            <value>
                <elementReference>varConsumoTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactNumber__c</field>
            <value>
                <elementReference>varCountContactsSum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadQuantity__c</field>
            <value>
                <elementReference>varCountLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leads_Convertidos__c</field>
            <value>
                <elementReference>varCountLeadConverted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leads_Desqualificados__c</field>
            <value>
                <elementReference>varCountLeadDesqualified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leads_Em_Andamento__c</field>
            <value>
                <elementReference>varCountLeadEmAndamento</elementReference>
            </value>
        </inputAssignments>
        <object>EconomicGroup__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOldEconomicGroup</name>
        <label>UpdateOldEconomicGroup</label>
        <locationX>1694</locationX>
        <locationY>1475</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOldEconomicGroup</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConsumoTotal__c</field>
            <value>
                <elementReference>varConsumoTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactNumber__c</field>
            <value>
                <elementReference>varCountContactsSum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadQuantity__c</field>
            <value>
                <elementReference>varCountLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leads_Convertidos__c</field>
            <value>
                <elementReference>varCountLeadConverted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leads_Desqualificados__c</field>
            <value>
                <elementReference>varCountLeadDesqualified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leads_Em_Andamento__c</field>
            <value>
                <elementReference>varCountLeadEmAndamento</elementReference>
            </value>
        </inputAssignments>
        <object>EconomicGroup__c</object>
    </recordUpdates>
    <start>
        <locationX>649</locationX>
        <locationY>108</locationY>
        <connector>
            <targetReference>EconomicGroupRemovedDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EconomicGroupRemoved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>idEconomicGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idOldEconomicGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varConsumoTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountContactsSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountLead</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountLeadConverted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountLeadDesqualified</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountLeadEmAndamento</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
