force-app/main/default/flows/FWLeadActivityTracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddMoreOneTaskDone</name>
        <label>Adiciona +1 na tarefa concluída</label>
        <locationX>2129</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>addTaskDone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLead.TaskCadDone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpenTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Task_Done</name>
        <label>Assign Lead Task Done</label>
        <locationX>4340</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>varLead.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.TaskCadDone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.TaskCad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.TaskCad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.NextActivityDueDateCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadStepDueDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CurrentCadenceStartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CurrentCadenceStartTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CadenceStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadenceStep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CadenceStepDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadenceStepDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadenceSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.AmountTasksStepCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.AmountTasksStepCadence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindCadence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Task_Done_0</name>
        <label>Assign Lead Task Done</label>
        <locationX>3345</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>varLead.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.TaskCadDone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.TaskCad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.TaskCad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.NextActivityDueDateCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadStepDueDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CurrentCadenceStartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CurrentCadenceStartTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CadenceStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadenceStep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CadenceStepDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadenceStepDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadenceSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.AmountTasksStepCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.AmountTasksStepCadence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindCadence_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TaskCadDone</name>
        <label>Assign TaskCadDone</label>
        <locationX>3918</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>varLead.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadFieldTaskCadDoneTaskNotCompleted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TaskCadDone2</name>
        <label>Assign TaskCadDone</label>
        <locationX>4164</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>varLead.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadFieldTaskCadDoneTaskNotCompleted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TaskCadDone2_0</name>
        <label>Assign TaskCadDone</label>
        <locationX>3169</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>varLead.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadFieldTaskCadDoneTaskNotCompleted_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TaskCadDone_0</name>
        <label>Assign TaskCadDone</label>
        <locationX>2923</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>varLead.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadFieldTaskCadDoneTaskNotCompleted_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLeadNoActivity</name>
        <label>AssignLeadNoActivity</label>
        <locationX>2663</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>varLead.NextActivityDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nullDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskAndLeadNew</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLeadTask</name>
        <label>AssignLeadTask</label>
        <locationX>2662</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>varLead.NextActivityDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTASKActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskAndLeadNew</targetReference>
        </connector>
    </assignments>
    <decisions>

        <name>CheckActivity</name>
        <label>CheckActivity</label>
        <locationX>2520</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTASKActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLeadTask</targetReference>
            </connector>
            <label>Task</label>
        </rules>
        <rules>
            <name>No_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTASKActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLeadNoActivity</targetReference>
            </connector>
            <label>No Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>FindCadence</name>
        <label>FindCadence?</label>
        <locationX>4332</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>UpdateLeadFieldTaskCadDoneTaskCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FindCadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCadenceFieldTaskCadDoneCompleted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FindCadence_0</name>
        <label>FindCadence?</label>
        <locationX>3337</locationX>
        <locationY>750</locationY>
        <defaultConnector>
            <targetReference>UpdateLeadFieldTaskCadDoneTaskCompleted_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FindCadence_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCadenceFieldTaskCadDoneCompleted_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasCadence</name>
        <label>HasCadence?</label>
        <locationX>4032</locationX>
        <locationY>1089</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HasCadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCadenceFieldTaskCadDone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasCadence_0</name>
        <label>HasCadence?</label>
        <locationX>3037</locationX>
        <locationY>1095</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HasCadence_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCadenceFieldTaskCadDone_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>

        <name>TaskAndLeadNew</name>
        <label>Se a Tarefa e o Lead estão em New</label>
        <locationX>3164</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>TaskAndLeadOtherStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TaskDoneButNotCompleted_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTask.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.TaskStageLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyFieldTaskDoneEOne_0</targetReference>
            </connector>
            <label>Tarefa finalizada e não concluída!</label>
        </rules>
        <rules>
            <name>TaskDoneAndCompleted_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTask.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.TaskStageLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Task_Done_0</targetReference>
            </connector>
            <label>Tarefa finalizada e concluída!</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskAndLeadOtherStatus</name>
        <label>Se a Tarefa e o Lead estão em Outros Status</label>
        <locationX>4159</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TaskDoneButNotCompletedOtherStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTask.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.TaskStageLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varLead.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyFieldTaskDoneEOne</targetReference>
            </connector>
            <label>Tarefa finalizada e não concluída!</label>
        </rules>
        <rules>
            <name>TaskDoneAndCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTask.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.TaskStageLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varLead.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Task_Done</targetReference>
            </connector>
            <label>Tarefa finalizada e concluída!</label>
        </rules>
    </decisions>
    <decisions>
        <name>TemplateFound</name>
        <label>TemplateFound?</label>

        <locationY>361</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_TemplateFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLeadCadence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyFieldTaskDoneEOne</name>
        <label>Verifica se a variável addTaskDone = 1</label>
        <locationX>4034</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>Assign_TaskCadDone2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FirstTaskDone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addTaskDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TaskCadDone</targetReference>
            </connector>
            <label>Primeira tarefa!</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyFieldTaskDoneEOne_0</name>
        <label>Verifica se a variável addTaskDone = 1</label>
        <locationX>3039</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Assign_TaskCadDone2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FirstTaskDone_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addTaskDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TaskCadDone_0</targetReference>
            </connector>
            <label>Primeira tarefa!</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyTaskFieldWhoIdIsLead</name>
        <label>Verifica se na tarefa o campo: WhoId é um Lead</label>

        <locationY>361</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WhoIdIsLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLead</targetReference>
            </connector>
            <label>WhoId é um Lead!</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCompany</name>
        <dataType>String</dataType>
        <expression>{!varLead.Company__r.Name}</expression>
    </formulas>
    <interviewLabel>[Tasks] Subflow - LeadActivityTracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Tasks] Subflow - LeadActivityTracking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obter o template da cadência Parametrizado.</description>

        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TemplateFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>

            </value>
        </filters>
        <object>CadenceTemplate__c</object>
        <outputReference>varCadenceTemplate</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetLead</name>

        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>varLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>TaskCad__c</queriedFields>
        <queriedFields>TaskCadDone__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AmountTasksStepCadence__c</queriedFields>
        <queriedFields>CurrentCadenceDone__c</queriedFields>
        <queriedFields>CurrentCadenceStartTime__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>NextActivityDueDate__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Company__c</queriedFields>

    </recordLookups>
    <recordLookups>
        <name>GetLeadCadence</name>

        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em andamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>TemplateCadence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCadenceTemplate.Id</elementReference>
            </value>
        </filters>
        <object>Cadence__c</object>
        <outputReference>varCadence</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TaskCad__c</queriedFields>
        <queriedFields>AmountTasksBeforeStepCadence__c</queriedFields>
        <queriedFields>TaskCadDone__c</queriedFields>
        <queriedFields>AmountTasksStepCadence__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>TemplateCadence__c</queriedFields>
        <queriedFields>CadenceSize__c</queriedFields>
        <queriedFields>CadenceStep__c</queriedFields>
        <queriedFields>CadenceStepDate__c</queriedFields>
        <queriedFields>CadStepDueDate__c</queriedFields>
        <queriedFields>CurrentCadenceStartTime__c</queriedFields>
        <queriedFields>SF_TargetId__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOpenTasks</name>
        <label>GetOpenTasks</label>

        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varTASKActivityDate</assignToReference>
            <field>ActivityDate</field>
        </outputAssignments>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetTask</name>
        <label>GetTask</label>
        <locationX>776</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyTaskFieldWhoIdIsLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>TaskStageLead__c</queriedFields>
        <queriedFields>TaskStageOpp__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>TaskSubtype</queriedFields>
        <queriedFields>Motivo__c</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>Source__c</queriedFields>

    </recordLookups>
    <recordUpdates>
        <name>UpdateCadenceFieldTaskCadDone</name>
        <label>Atualizar cadência campo TaskCadDone</label>
        <locationX>4041</locationX>
        <locationY>1251</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCadence.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TaskCadDone__c</field>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </inputAssignments>
        <object>Cadence__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCadenceFieldTaskCadDone_0</name>
        <label>Atualizar cadência campo TaskCadDone</label>
        <locationX>3046</locationX>
        <locationY>1257</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCadence.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TaskCadDone__c</field>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </inputAssignments>
        <object>Cadence__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCadenceFieldTaskCadDoneCompleted</name>
        <label>Atualizar cadência campo TaskCadDone</label>
        <locationX>4570</locationX>
        <locationY>833</locationY>
        <connector>
            <targetReference>UpdateLeadFieldTaskCadDoneTaskCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCadence.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Concluída</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskCadDone__c</field>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </inputAssignments>
        <object>Cadence__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCadenceFieldTaskCadDoneCompleted_0</name>
        <label>Atualizar cadência campo TaskCadDone</label>
        <locationX>3575</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>UpdateLeadFieldTaskCadDoneTaskCompleted_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCadence.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Concluída</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskCadDone__c</field>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </inputAssignments>
        <object>Cadence__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadFieldTaskCadDoneTaskCompleted</name>
        <label>Atualizar Lead campo TaskCadDone</label>
        <locationX>4342</locationX>
        <locationY>950</locationY>
        <inputReference>varLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadFieldTaskCadDoneTaskCompleted_0</name>
        <label>Atualizar Lead campo TaskCadDone</label>
        <locationX>3347</locationX>
        <locationY>956</locationY>
        <inputReference>varLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadFieldTaskCadDoneTaskNotCompleted</name>
        <label>Atualizar Lead campo TaskCadDone</label>
        <locationX>4040</locationX>
        <locationY>910</locationY>
        <connector>
            <targetReference>HasCadence</targetReference>
        </connector>
        <inputReference>varLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadFieldTaskCadDoneTaskNotCompleted_0</name>
        <label>Atualizar Lead campo TaskCadDone</label>
        <locationX>3045</locationX>
        <locationY>916</locationY>
        <connector>
            <targetReference>HasCadence_0</targetReference>
        </connector>
        <inputReference>varLead</inputReference>
    </recordUpdates>

    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetTask</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>addTaskDone</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nullDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCadence</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cadence__c</objectType>
    </variables>
    <variables>
        <name>varCadenceTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CadenceTemplate__c</objectType>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTASKActivityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
