force-app/main/default/flows/FWLeadAssignEconomyGroup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddToList</name>
        <label>AddToList</label>
        <locationX>2161</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>varLeadCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLeads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLeads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadEconomyGroup</name>
        <label>SetLeadEconomyGroup</label>
        <locationX>2030</locationX>
        <locationY>81</locationY>
        <assignmentItems>
            <assignToReference>LoopLeads.EconomicGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectEconomyGroup.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>NotEmpty</name>
        <label>NotEmpty</label>
        <locationX>1309</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Screen_Not_Able</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEconomyGroups</targetReference>
            </connector>
            <label>Not</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Lead] Atribuir Grupo Economico em Massa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] Atribuir Grupo Economico em Massa</label>
    <loops>
        <name>LoopLeads</name>
        <label>LoopLeads</label>
        <locationX>1912</locationX>
        <locationY>289</locationY>
        <collectionReference>GetLeads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetLeadEconomyGroup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateLeadsWithEconomyGroup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetEconomyGroups</name>
        <label>GetEconomyGroups</label>
        <locationX>1529</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Economy_Group_Selection</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EconomicGroup__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLeads</name>
        <label>GetLeads</label>
        <locationX>1112</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLeadsWithEconomyGroup</name>
        <label>UpdateLeadsWithEconomyGroup</label>
        <locationX>1915</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputReference>varLeadCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Economy_Group_Selection</name>
        <label>Screen Economy Group Selection</label>
        <locationX>1727</locationX>
        <locationY>289</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopLeads</targetReference>
        </connector>
        <fields>
            <name>SelectionText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Selecione o Grupo Econômico a ser vinculado aos Leads selecionados:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectEconomyGroup</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>EconomicGroup__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetEconomyGroups</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-14b2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Grupo Economico&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Grupo Economico Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-fe70&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Phone__c&quot;,&quot;guid&quot;:&quot;column-ecac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Phone&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Avançar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Screen Error</label>
        <locationX>2155</locationX>
        <locationY>490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorTxt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Erro (envie o erro abaixo para o Administrador do Sistema):&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 1, 1); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Not_Able</name>
        <label>Screen Not Able</label>
        <locationX>1457</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotAbleTxt</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Selecione pelo menos um registro de Lead!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Screen Success</label>
        <locationX>1915</locationX>
        <locationY>687</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Grupo_Economico_Lead_Updates</targetReference>
        </connector>
        <fields>
            <name>SuccessTxt</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Leads atribuidos ao Grupo Economico com sucesso!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>639</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>GetLeads</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Grupo_Economico_Lead_Updates</name>
        <label>[Grupo Economico] Lead Updates</label>
        <locationX>1915</locationX>
        <locationY>909</locationY>
        <flowName>FWEconomicGroupLeadUpdates</flowName>
        <inputAssignments>
            <name>idEconomicGroup</name>
            <value>
                <elementReference>SelectEconomyGroup.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varPreLeadCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PreLead__c</objectType>
    </variables>
</Flow>
