force-app/main/default/flows/FWLeadMainCreatedUpdated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>ChangeStatus_New_or_Change</name>
        <label>ChangeStatus (New or Change)</label>
        <locationX>784</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Verifica_Regi_o_Light</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ChangeStatus_New_or_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserAble</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Economic_Group_Decision</name>
        <label>Economic Group Decision</label>
        <locationX>1141</locationX>
        <locationY>975</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Economic_Group</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EconomicGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EconomicGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EconomicGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grupo_Economico_Lead_Updates</targetReference>
            </connector>
            <label>Has Economic Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserAble</name>
        <label>UserAble?</label>
        <locationX>622</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Verifica_Regi_o_Light</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coordenador Inside Sales Luz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Analista Inside Sales Delta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FWLeadCustomCadence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_Regi_o_Light</name>
        <label>Verifica Regi達o Light</label>
        <locationX>773</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Economic_Group_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padr達o</defaultConnectorLabel>
        <rules>
            <name>Light</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Regi_o</targetReference>
            </connector>
            <label>Light</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EconomicGroupRemoved</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Record__Prior.EconomicGroup__c} &lt;&gt; null,
{!$Record.EconomicGroup__c} = null
)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>[Lead] Main Created Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] Main Created Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Regi_o</name>
        <label>get Regi達o</label>
        <locationX>782</locationX>
        <locationY>1052</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_Regi_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Regiao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Regi_o</name>
        <label>Atualiza Regi達o</label>
        <locationX>782</locationX>
        <locationY>1160</locationY>
        <connector>
            <targetReference>Economic_Group_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Regiao__c</field>
            <value>
                <elementReference>get_Regi_o.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>667</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ChangeStatus_New_or_Change</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PJDelta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadPF</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadPJ</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>FWLeadCustomCadence</name>
        <label>FWLeadCustomCadence</label>
        <locationX>460</locationX>
        <locationY>730</locationY>
        <connector>
            <targetReference>Verifica_Regi_o_Light</targetReference>
        </connector>
        <flowName>FWLeadCustomCadence</flowName>
        <inputAssignments>
            <name>LeadStatusPriorValue</name>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Grupo_Economico_Lead_Updates</name>
        <label>[Grupo Economico] Lead Updates</label>
        <locationX>1418</locationX>
        <locationY>969</locationY>
        <flowName>FWEconomicGroupLeadUpdates</flowName>
        <inputAssignments>
            <name>EconomicGroupRemoved</name>
            <value>
                <elementReference>EconomicGroupRemoved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>idEconomicGroup</name>
            <value>
                <elementReference>$Record.EconomicGroup__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>idOldEconomicGroup</name>
            <value>
                <elementReference>$Record__Prior.EconomicGroup__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
