force-app/main/default/flows/FWPreLeadActivityTracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddMoreOneTaskDone</name>
        <label>Adiciona +1 na tarefa concluída</label>
        <locationX>2192</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>addTaskDone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPreLead.TaskCadDone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpenTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PreLead_Task_Done1</name>
        <label>Assign PreLead Task Done</label>
        <locationX>3345</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>varPreLead.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.TaskCadDone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.TaskCad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.TaskCad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.NextActivityDueDateCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadStepDueDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CurrentCadenceStartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CurrentCadenceStartTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CadenceStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadenceStep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CadenceStepDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadenceStepDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadenceSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.AmountTasksStepCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.AmountTasksStepCadence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindCadence1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PreLead_Task_Done2</name>
        <label>Assign PreLead Task Done</label>
        <locationX>4340</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>varPreLead.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.TaskCadDone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.TaskCad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.TaskCad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.NextActivityDueDateCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadStepDueDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CurrentCadenceStartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CurrentCadenceStartTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CurrentCadenceDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CadenceStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadenceStep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CadenceStepDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadenceStepDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.CadenceSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreLead.AmountTasksStepCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadence.AmountTasksStepCadence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindCadence2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TaskCadDone1</name>
        <label>Assign TaskCadDone</label>
        <locationX>2923</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>varPreLead.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePreLeadFieldTaskCadDoneTaskNotCompleted1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TaskCadDone2</name>
        <label>Assign TaskCadDone</label>
        <locationX>3169</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>varPreLead.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePreLeadFieldTaskCadDoneTaskNotCompleted1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TaskCadDone3</name>
        <label>Assign TaskCadDone</label>
        <locationX>3918</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>varPreLead.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePreLeadFieldTaskCadDoneTaskNotCompleted3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TaskCadDone4</name>
        <label>Assign TaskCadDone</label>
        <locationX>4164</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>varPreLead.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePreLeadFieldTaskCadDoneTaskNotCompleted3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CadenceFound</name>
        <label>CadenceFound?</label>
        <locationX>2021</locationX>
        <locationY>346</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCadenceFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddMoreOneTaskDone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FindCadence1</name>
        <label>FindCadence?</label>
        <locationX>3337</locationX>
        <locationY>750</locationY>
        <defaultConnector>
            <targetReference>UpdatePreLeadFieldTaskCadDoneTaskCompleted2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FindCadence1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCadenceFieldTaskCadDoneCompleted_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FindCadence2</name>
        <label>FindCadence?</label>
        <locationX>4332</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>UpdateLeadFieldTaskCadDoneTaskCompleted4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FindCadence2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCadenceFieldTaskCadDoneCompleted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasCadence1</name>
        <label>HasCadence?</label>
        <locationX>3037</locationX>
        <locationY>1095</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HasCadence1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCadenceFieldTaskCadDone1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasCadence2</name>
        <label>HasCadence?</label>
        <locationX>4032</locationX>
        <locationY>1089</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HasCadence2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCadenceFieldTaskCadDone2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Lead_Found</name>
        <label>Pre Lead Found?</label>
        <locationX>1340</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Pre_Lead_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCadenceTemplate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskAndPreLeadNovo</name>
        <label>Se a Tarefa e o PreLead estão em Novo</label>
        <locationX>3164</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>TaskAndPreLeadOtherStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TaskDoneButNotCompleted_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTask.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.TaskStagePreLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Novo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreLead.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em andamento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyFieldTaskDoneEOne1</targetReference>
            </connector>
            <label>Tarefa finalizada e não concluída!</label>
        </rules>
        <rules>
            <name>TaskDoneAndCompleted_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTask.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.TaskStagePreLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Novo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreLead.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em andamento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreLead_Task_Done1</targetReference>
            </connector>
            <label>Tarefa finalizada e concluída!</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskAndPreLeadOtherStatus</name>
        <label>Se a Tarefa e o PreLead estão em Outros Status</label>
        <locationX>4159</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TaskDoneButNotCompletedOtherStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTask.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.TaskStagePreLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPreLead.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyFieldTaskDoneEOne2</targetReference>
            </connector>
            <label>Tarefa finalizada e não concluída!</label>
        </rules>
        <rules>
            <name>TaskDoneAndCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTask.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTask.TaskStagePreLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPreLead.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreLead_Task_Done2</targetReference>
            </connector>
            <label>Tarefa finalizada e concluída!</label>
        </rules>
    </decisions>
    <decisions>
        <name>TemplateFound</name>
        <label>TemplateFound?</label>
        <locationX>1673</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_TemplateFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPreLeadCadence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyFieldTaskDoneEOne1</name>
        <label>Verifica se a variável addTaskDone = 1</label>
        <locationX>3039</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Assign_TaskCadDone2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FirstTaskDone1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addTaskDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TaskCadDone1</targetReference>
            </connector>
            <label>Primeira tarefa!</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyFieldTaskDoneEOne2</name>
        <label>Verifica se a variável addTaskDone = 1</label>
        <locationX>4034</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>Assign_TaskCadDone4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FirstTaskDone2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addTaskDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TaskCadDone3</targetReference>
            </connector>
            <label>Primeira tarefa!</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyTaskFieldWhatIdIsPreLead</name>
        <label>Verifica se na tarefa o campo: WhatId é um PreLead</label>
        <locationX>996</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WhatIdIsPreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1N</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPreLead</targetReference>
            </connector>
            <label>WhatId é um PreLead!</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCompany</name>
        <dataType>String</dataType>
        <expression>{!varPreLead.Company__r.Name}</expression>
    </formulas>
    <interviewLabel>[Tasks] Subflow - PreLeadActivityTracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Tasks] Subflow - PreLeadActivityTracking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obter o template da cadência Parametrizado.</description>
        <name>GetCadenceTemplate</name>
        <label>GetCadenceTemplate</label>
        <locationX>1507</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TemplateFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTask.CadenceTemplate__c</elementReference>
            </value>
        </filters>
        <object>CadenceTemplate__c</object>
        <outputReference>varCadenceTemplate</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOpenTasks</name>
        <label>GetOpenTasks</label>
        <locationX>2341</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TaskAndPreLeadNovo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPreLead.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varTASKActivityDate</assignToReference>
            <field>ActivityDate</field>
        </outputAssignments>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getPreLead</name>
        <label>getPreLead</label>
        <locationX>1188</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pre_Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWhatId</elementReference>
            </value>
        </filters>
        <object>PreLead__c</object>
        <outputReference>varPreLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>TaskCad__c</queriedFields>
        <queriedFields>TaskCadDone__c</queriedFields>
        <queriedFields>AmountTasksStepCadence__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FantasyName__c</queriedFields>
        <queriedFields>Recordtype_Name__c</queriedFields>
        <queriedFields>CadenceAttempt__c</queriedFields>
        <queriedFields>CadenceSize__c</queriedFields>
        <queriedFields>CadenceStatus__c</queriedFields>
        <queriedFields>CadenceStep__c</queriedFields>
        <queriedFields>CadenceStepDate__c</queriedFields>
        <queriedFields>CurrentCadenceDone__c</queriedFields>
        <queriedFields>CurrentCadenceStartTime__c</queriedFields>
        <queriedFields>NextActivityDueDateCadence__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>InformationSource__c</queriedFields>
        <queriedFields>Fonte__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPreLeadCadence</name>
        <label>GetPreLeadCadence</label>
        <locationX>1871</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CadenceFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em andamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>TemplateCadence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCadenceTemplate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pre_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPreLead.Id</elementReference>
            </value>
        </filters>
        <object>Cadence__c</object>
        <outputReference>varCadence</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TaskCad__c</queriedFields>
        <queriedFields>AmountTasksBeforeStepCadence__c</queriedFields>
        <queriedFields>TaskCadDone__c</queriedFields>
        <queriedFields>AmountTasksStepCadence__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>TemplateCadence__c</queriedFields>
        <queriedFields>CadenceSize__c</queriedFields>
        <queriedFields>CadenceStep__c</queriedFields>
        <queriedFields>CadenceStepDate__c</queriedFields>
        <queriedFields>CadStepDueDate__c</queriedFields>
        <queriedFields>CurrentCadenceStartTime__c</queriedFields>
        <queriedFields>SF_TargetId__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>Pre_Lead__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTask</name>
        <label>GetTask</label>
        <locationX>839</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyTaskFieldWhatIdIsPreLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>TaskStageLead__c</queriedFields>
        <queriedFields>TaskStageOpp__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>TaskSubtype</queriedFields>
        <queriedFields>Motivo__c</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>CadenceTemplate__c</queriedFields>
        <queriedFields>TaskStagePreLead__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCadenceFieldTaskCadDone1</name>
        <label>Atualizar cadência campo TaskCadDone</label>
        <locationX>3046</locationX>
        <locationY>1257</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCadence.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TaskCadDone__c</field>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </inputAssignments>
        <object>Cadence__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCadenceFieldTaskCadDone2</name>
        <label>Atualizar cadência campo TaskCadDone</label>
        <locationX>4041</locationX>
        <locationY>1251</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCadence.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TaskCadDone__c</field>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </inputAssignments>
        <object>Cadence__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCadenceFieldTaskCadDoneCompleted</name>
        <label>Atualizar cadência campo TaskCadDone</label>
        <locationX>4570</locationX>
        <locationY>833</locationY>
        <connector>
            <targetReference>UpdateLeadFieldTaskCadDoneTaskCompleted4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCadence.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Concluída</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskCadDone__c</field>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </inputAssignments>
        <object>Cadence__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCadenceFieldTaskCadDoneCompleted_0</name>
        <label>Atualizar cadência campo TaskCadDone</label>
        <locationX>3575</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>UpdatePreLeadFieldTaskCadDoneTaskCompleted2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCadence.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Concluída</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskCadDone__c</field>
            <value>
                <elementReference>addTaskDone</elementReference>
            </value>
        </inputAssignments>
        <object>Cadence__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadFieldTaskCadDoneTaskCompleted4</name>
        <label>Atualizar PreLead campo TaskCadDone</label>
        <locationX>4342</locationX>
        <locationY>950</locationY>
        <inputReference>varPreLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePreLeadFieldTaskCadDoneTaskCompleted2</name>
        <label>Atualizar PreLead campo TaskCadDone</label>
        <locationX>3347</locationX>
        <locationY>956</locationY>
        <inputReference>varPreLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePreLeadFieldTaskCadDoneTaskNotCompleted1</name>
        <label>Atualizar PreLead campo TaskCadDone</label>
        <locationX>3045</locationX>
        <locationY>916</locationY>
        <connector>
            <targetReference>HasCadence1</targetReference>
        </connector>
        <inputReference>varPreLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePreLeadFieldTaskCadDoneTaskNotCompleted3</name>
        <label>Atualizar PreLead campo TaskCadDone</label>
        <locationX>4040</locationX>
        <locationY>910</locationY>
        <connector>
            <targetReference>HasCadence2</targetReference>
        </connector>
        <inputReference>varPreLead</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>713</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>GetTask</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>addTaskDone</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nullDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCadence</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cadence__c</objectType>
    </variables>
    <variables>
        <name>varCadenceTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CadenceTemplate__c</objectType>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varPreLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PreLead__c</objectType>
    </variables>
    <variables>
        <name>varTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTASKActivityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
