force-app/main/default/flows/FWPreLeadCustomCadence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AtributeAmountDaysInformConfigCadence</name>
        <label>Atribuir a quantidade de dias informado na configuração da cadência</label>
        <locationX>3436</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>varCadAddDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cadenceTemplateConfig.AddDays__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCadence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCadence</name>
        <label>SetCadence</label>
        <locationX>3624</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>cadence.AmountTasksBeforeStepCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cadence.AmountTasksStepCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cadenceTemplateConfig.AmountTaskStep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cadence.CadStepDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CadStepDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cadence.CadenceSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>modeloCadencia.CountCad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cadence.CadenceStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cadenceTemplateConfig.CadenceStep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cadence.CurrentCadenceStartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cadence.Pre_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prelead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cadence.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em andamento</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cadence.TaskCadDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cadence.TemplateCadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>modeloCadencia.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cadence.CadenceStepDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCadenceRegister</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetClosedCadence</name>
        <label>SetClosedCadence</label>
        <locationX>1260</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>cadence.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Concluída</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CloseOldCadence</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FindCadence</name>
        <label>FindCadence?</label>
        <locationX>1100</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>SearchCadenceTemplateParametrized1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FindCadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetClosedCadence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FindCadenceTemplate1</name>
        <label>FindCadenceTemplate1</label>
        <locationX>1446</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>SearchCadenceTemplateParametrized2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FindCadTemplate1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>modeloCadencia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchUserFieldLeadOwnerIdIsUserOrQueue</targetReference>
            </connector>
            <label>Yes FindCadTemplate</label>
        </rules>
    </decisions>
    <decisions>
        <name>FindCadenceTemplate2</name>
        <label>FindCadenceTemplate2</label>
        <locationX>1711</locationX>
        <locationY>606</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FindCadTemplate2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>modeloCadencia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchUserFieldLeadOwnerIdIsUserOrQueue</targetReference>
            </connector>
            <label>Yes FindCadTemplate</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasPriorValue</name>
        <label>HasPriorValue</label>
        <locationX>973</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>SearchCadenceTemplateParametrized1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PriorValueDefault</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreLeadStatusPriorValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchCadence</targetReference>
            </connector>
            <label>PriorValueDefault</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAnyCadenceInProgress</name>
        <label>VerifyAnyCadenceInProgress</label>
        <locationX>3032</locationX>
        <locationY>300</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DontAnyCadenceInProgressSameStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchInitialCadenceTemplateConfig</targetReference>
            </connector>
            <label>Não há cadência em progresso para o mesmo status!</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyTemplateCadence</name>
        <label>VerifyTemplateCadence</label>
        <locationX>2418</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TemplateCadenceRulesInPreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>modeloCadencia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchCadenceTemplateConfig</targetReference>
            </connector>
            <label>Há modelo de cadência conforme regras!</label>
        </rules>
    </decisions>
    <description>Fluxo de cadências customizadas para Pre Leads</description>
    <environments>Default</environments>
    <formulas>
        <name>CadStepDueDate</name>
        <dataType>Date</dataType>
        <expression>IF(MOD(( {!$Flow.CurrentDate} + {!varCadAddDays}) - DATE( 2000,01,02),7) = 0,
	{!$Flow.CurrentDate} + {!varCadAddDays} + 1,
	IF(MOD(( {!$Flow.CurrentDate} + {!varCadAddDays}) - DATE( 2000,01,02),7) = 6,
		{!$Flow.CurrentDate} + {!varCadAddDays} + 2,
		{!$Flow.CurrentDate} + {!varCadAddDays}
	)
)</expression>
    </formulas>
    <formulas>
        <name>forCompany</name>
        <dataType>String</dataType>
        <expression>{!prelead.Company__r.Name}</expression>
    </formulas>
    <formulas>
        <name>forOperation</name>
        <dataType>String</dataType>
        <expression>{!prelead.InformationSource__c}</expression>
    </formulas>
    <interviewLabel>[PreLead] Fluxo de Cadência {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[PreLead] Fluxo de Cadência</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCadenceRegister</name>
        <label>CreateCadenceRegister</label>
        <locationX>3797</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>UpdatePreLeadFieldsTemplateConfigCadence</targetReference>
        </connector>
        <inputReference>cadence</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetPreLeadRecordTypeName</name>
        <label>GetPreLeadRecordTypeName</label>
        <locationX>797</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasPriorValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prelead.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SearchCadence</name>
        <label>SearchCadence</label>
        <locationX>982</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindCadence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Concluída</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pre_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Cadence__c</object>
        <outputReference>cadence</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SearchCadencePreLeadAndTemplate</name>
        <label>Verifica se há um registro Cadência está em execução com o mesmo Status</label>
        <locationX>2867</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyAnyCadenceInProgress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Concluída</stringValue>
            </value>
        </filters>
        <filters>
            <field>TemplateCadence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>modeloCadencia.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pre_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prelead.Id</elementReference>
            </value>
        </filters>
        <object>Cadence__c</object>
        <outputReference>cadence</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SearchCadenceTemplateConfig</name>
        <label>SearchCadenceTemplateConfig</label>
        <locationX>2712</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SearchCadencePreLeadAndTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>modeloCadencia.Id</elementReference>
            </value>
        </filters>
        <object>CadenceTemplateConfig__c</object>
        <outputReference>cadenceTemplateConfig</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AmountTaskStep__c</queriedFields>
        <queriedFields>CadenceStep__c</queriedFields>
        <queriedFields>CadLeadStage__c</queriedFields>
        <queriedFields>N_Calls__c</queriedFields>
        <queriedFields>N_Emails__c</queriedFields>
        <queriedFields>AddDays__c</queriedFields>
        <queriedFields>N_Whatsapp__c</queriedFields>
        <queriedFields>CadOppStage__c</queriedFields>
        <queriedFields>TemplateTextoWhats__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SearchCadenceTemplateParametrized1</name>
        <label>SearchCadenceTemplateParametrized1</label>
        <locationX>1194</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindCadenceTemplate1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectStage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prelead.Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pré-Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>ObjectRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPreLeadRecordTypeName.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompanyGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forCompany</elementReference>
            </value>
        </filters>
        <object>CadenceTemplate__c</object>
        <outputReference>modeloCadencia</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <queriedFields>CountCad__c</queriedFields>
        <queriedFields>ObjectStage__c</queriedFields>
        <queriedFields>CompanyGroup__c</queriedFields>
        <queriedFields>ObjectRecordType__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SearchCadenceTemplateParametrized2</name>
        <label>SearchCadenceTemplateParametrized2</label>
        <locationX>1458</locationX>
        <locationY>604</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindCadenceTemplate2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectStage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prelead.Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pré-Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>ObjectRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPreLeadRecordTypeName.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompanyGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forCompany</elementReference>
            </value>
        </filters>
        <object>CadenceTemplate__c</object>
        <outputReference>modeloCadencia</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <queriedFields>CountCad__c</queriedFields>
        <queriedFields>ObjectStage__c</queriedFields>
        <queriedFields>CompanyGroup__c</queriedFields>
        <queriedFields>ObjectRecordType__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SearchInitialCadenceTemplateConfig</name>
        <label>Obter registro inicial da configuração da Cadência</label>
        <locationX>3273</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtributeAmountDaysInformConfigCadence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>modeloCadencia.Id</elementReference>
            </value>
        </filters>
        <object>CadenceTemplateConfig__c</object>
        <outputReference>cadenceTemplateConfig</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CadenceStep__c</queriedFields>
        <queriedFields>AddDays__c</queriedFields>
        <queriedFields>N_Calls__c</queriedFields>
        <queriedFields>N_Emails__c</queriedFields>
        <queriedFields>Template__c</queriedFields>
        <queriedFields>AmountTaskStep__c</queriedFields>
        <queriedFields>CadLeadStage__c</queriedFields>
        <queriedFields>CadOppStage__c</queriedFields>
        <queriedFields>N_Whatsapp__c</queriedFields>
        <queriedFields>TemplateTextoWhats__c</queriedFields>
        <sortField>CadenceStep__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>SearchPreLeadFields</name>
        <label>SearchPreLeadFields</label>
        <locationX>594</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPreLeadRecordTypeName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>PreLead__c</object>
        <outputReference>prelead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Recordtype_Name__c</queriedFields>
        <queriedFields>Company__c</queriedFields>
        <queriedFields>InformationSource__c</queriedFields>
        <queriedFields>Fonte__c</queriedFields>
        <queriedFields>SubFonte__c</queriedFields>
        <queriedFields>Nome_da_Empresa__c</queriedFields>
        <queriedFields>Nome__c</queriedFields>
        <queriedFields>FantasyName__c</queriedFields>
        <queriedFields>Primeiro_Nome__c</queriedFields>
        <queriedFields>Note__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SearchUserFieldLeadOwnerIdIsUserOrQueue</name>
        <label>SearchUserFieldLeadOwnerIdIsUserOrQueue</label>
        <locationX>2246</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyTemplateCadence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prelead.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>user</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CloseOldCadence</name>
        <label>CloseOldCadence</label>
        <locationX>1261</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>SearchCadenceTemplateParametrized1</targetReference>
        </connector>
        <inputReference>cadence</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePreLeadFieldsTemplateConfigCadence</name>
        <label>Atualizar Pre Lead com dados de configuração de cadência</label>
        <locationX>4002</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>FWCadenceTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AmountTasksStepCadence__c</field>
            <value>
                <elementReference>cadenceTemplateConfig.AmountTaskStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceSize__c</field>
            <value>
                <elementReference>modeloCadencia.CountCad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceStepDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CadenceStep__c</field>
            <value>
                <elementReference>cadenceTemplateConfig.CadenceStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentCadenceStartTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextActivityDueDateCadence__c</field>
            <value>
                <elementReference>CadStepDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskCadDone__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <start>
        <locationX>160</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>SearchPreLeadFields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FWCadenceTasks</name>
        <label>[Cadência] Subflow - Criação de tarefas</label>
        <locationX>4228</locationX>
        <locationY>302</locationY>
        <flowName>FWCadenceTasks</flowName>
        <inputAssignments>
            <name>leadRecordTypeDeveloperName</name>
            <value>
                <elementReference>GetPreLeadRecordTypeName.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCadence</name>
            <value>
                <elementReference>cadence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCadenceTemplateConfigPreLead</name>
            <value>
                <elementReference>cadenceTemplateConfig</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPreLead</name>
            <value>
                <elementReference>prelead</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>cadence</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cadence__c</objectType>
    </variables>
    <variables>
        <name>cadenceTemplateConfig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CadenceTemplateConfig__c</objectType>
    </variables>
    <variables>
        <name>iloop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>modeloCadencia</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CadenceTemplate__c</objectType>
    </variables>
    <variables>
        <name>prelead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PreLead__c</objectType>
    </variables>
    <variables>
        <name>PreLeadStatusPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varCadAddDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
