force-app/main/default/flows/FWTaskMainCreatedUpdated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>SetPreLeadStatus</name>
        <label>SetPreLeadStatus</label>
        <locationX>535</locationX>
        <locationY>1400</locationY>
        <assignmentItems>
            <assignToReference>varPreLead.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em andamento</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePreLead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FindPreLead</name>
        <label>FindPreLead?</label>
        <locationX>768</locationX>
        <locationY>1218</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Find</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPreLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreLeadStatus</targetReference>
            </connector>
            <label>Find</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasEconomicGroup</name>
        <label>HasEconomicGroup?</label>
        <locationX>768</locationX>
        <locationY>1692</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesEconomicGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreLead.EconomicGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEconomicGroup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNewDecision</name>
        <label>IsNew?</label>
        <locationX>767</locationX>
        <locationY>675</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObjectRelated</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>ObjectRelated</name>
        <label>ObjectRelated</label>
        <locationX>767</locationX>
        <locationY>864</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1N</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPreLead</targetReference>
            </connector>
            <label>PreLead</label>
        </rules>
        <rules>
            <name>GrupoEconomico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1H</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEconomicGroup1</targetReference>
            </connector>
            <label>GrupoEconomico</label>
        </rules>
    </decisions>
    <decisions>
        <name>PreLeadStatus</name>
        <label>PreLeadStatus</label>
        <locationX>767</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>HasEconomicGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StatusNovo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreLead.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Novo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPreLeadStatus</targetReference>
            </connector>
            <label>Status Novo</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskFromCadence</name>
        <label>TaskFromCadence?</label>
        <locationX>768</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>IsNewDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LeadCadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadActivityTracking</targetReference>
            </connector>
            <label>Lead Cadence</label>
        </rules>
        <rules>
            <name>OppCadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadence</stringValue>
                </rightValue>
            </conditions>
            <label>Opp Cadence</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forQtdContato</name>
        <dataType>Number</dataType>
        <expression>{!GetEconomicGroup1.ContactNumber__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <interviewLabel>[Task] Main Created Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] Main Created Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetEconomicGroup</name>
        <label>GetEconomicGroup</label>
        <locationX>775</locationX>
        <locationY>1885</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPreLead.EconomicGroup__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EconomicGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEconomicGroup1</name>
        <label>GetEconomicGroup1</label>
        <locationX>1029</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateEconomicGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EconomicGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPreLead</name>
        <label>GetPreLead</label>
        <locationX>776</locationX>
        <locationY>1054</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindPreLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <object>PreLead__c</object>
        <outputReference>varPreLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EconomicGroup__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEconomicGroup</name>
        <label>UpdateEconomicGroup</label>
        <locationX>1235</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactNumber__c</field>
            <value>
                <elementReference>forQtdContato</elementReference>
            </value>
        </inputAssignments>
        <object>EconomicGroup__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePreLead</name>
        <label>UpdatePreLead</label>
        <locationX>535</locationX>
        <locationY>1690</locationY>
        <connector>
            <targetReference>HasEconomicGroup</targetReference>
        </connector>
        <inputReference>varPreLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTask</name>
        <label>UpdateTask</label>
        <locationX>775</locationX>
        <locationY>2046</locationY>
        <connector>
            <targetReference>Grupo_Economico_Pre_Lead_Updates</targetReference>
        </connector>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>GetEconomicGroup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>TaskFromCadence</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Grupo_Economico_Pre_Lead_Updates</name>
        <label>[Grupo Economico] Pré-Lead Updates</label>
        <locationX>775</locationX>
        <locationY>2213</locationY>
        <flowName>FWEconomicGroupPreLeadUpdates</flowName>
        <inputAssignments>
            <name>idEconomicGroup</name>
            <value>
                <elementReference>GetEconomicGroup.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>LeadActivityTracking</name>
        <label>LeadActivityTracking</label>
        <locationX>464</locationX>
        <locationY>545</locationY>
        <connector>
            <targetReference>IsNewDecision</targetReference>
        </connector>
        <flowName>FWLeadActivityTracking</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhoId</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varPreLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PreLead__c</objectType>
    </variables>
</Flow>
