force-app/main/default/flows/Ganho_no_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Atribui_informa_es_obrigat_rias_Lead_PF</name>
        <label>Atribui informações obrigatórias Lead PF</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ganho</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ganho_no_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_o_2</name>
        <label>Atribui informações obrigatórias PJ</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ganho</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C_pia_2_de_Ganho_no_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_PF</name>
        <label>Natureza Juridica</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Resultado_1_de_Lead_PF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_informa_es_obrigat_rias_Lead_PF</targetReference>
            </connector>
            <label>PF</label>
        </rules>
        <rules>
            <name>PJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_o_2</targetReference>
            </connector>
            <label>PJ</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ganho no Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>{subflow} Ganho no Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_PF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IddoLeadnoPreLead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>C_pia_2_de_Ganho_no_Lead</name>
        <label>Ganho no Lead</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ganho_no_Lead</name>
        <label>Ganho no Lead</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IddoLeadnoPreLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
