force-app/main/default/flows/Lead_Trocar_Tipo_de_Registro_Empresa_e_Proprietario.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>C_pia_1_de_PF_ou_PJ</name>
        <label>PF ou PJ</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>C_pia_2_de_Enviar_para_Luz_PF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PJ</defaultConnectorLabel>
        <rules>
            <name>C_pia_1_de_PF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLead.Recordtype_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFDelta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_para_Luz</targetReference>
            </connector>
            <label>PF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qual_Empresa</name>
        <label>Qual Empresa?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_PF_ou_PJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delta</defaultConnectorLabel>
        <rules>
            <name>Luz</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetLead.Recordtype_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLead.Recordtype_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LeadPJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verificar_Valor_da_Conta</targetReference>
            </connector>
            <label>Luz</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_Valor_da_Conta</name>
        <label>Verificar Valor da Conta</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Desqualificar_Lead_Inside_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conta &lt; 10K</defaultConnectorLabel>
        <rules>
            <name>Conta_10K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLead.Valor_Conta__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Enviar_para_Delta_ACL</targetReference>
            </connector>
            <label>Conta &gt;= 10K</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Lead] - Trocar Tipo de Registro e Empresa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] - Trocar Tipo de Registro, Empresa e Proprietário</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetLead</name>
        <label>GetLead</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Qual_Empresa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>C_pia_2_de_Enviar_para_Delta_ACL</name>
        <label>Enviar para Delta Inside Sales</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <stringValue>a1F4x000000vc1PEAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005TT000009UO7lYAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004KByYAM</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_2_de_Enviar_para_Luz_PF</name>
        <label>Enviar para Luz PJ</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <stringValue>a1F4x000000vfPUEAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054x000004ROTeAAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004KByYAM</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Desqualificar_Lead_Inside_Sales</name>
        <label>Desqualificar Lead Inside Sales</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_de_Desqualificacao__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisqualifiedLead__c</field>
            <value>
                <stringValue>Baixa Tensão</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualified__c</field>
            <value>
                <stringValue>Baixa Tensão, Lead nao qualificado para Delta.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Desqualificado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submotivo__c</field>
            <value>
                <stringValue>(2) Baixa Tensão - LUZ NÃO atende;</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Enviar_para_Luz</name>
        <label>Enviar para Luz PF</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <stringValue>a1F4x000000vfPUEAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054x000004ROTeAAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IC2YAM</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
