force-app/main/default/flows/LEAD_Thymos_e_Atacadista_CEP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validar_CEP</name>
        <label>Validar CEP</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <actionName>BuscaCep.ObterCep</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Localizado</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BuscaCep.ObterCep</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Localizado</name>
        <label>Localizado</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validar_CEP.2XX.nomeFantasia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Localiazr_Distribuidora</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[LEAD]Thymos e Atacadista CEP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[LEAD]Thymos e Atacadista CEP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Localiazr_Distribuidora</name>
        <label>Localiazr Distribuidora</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeltaCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Validar_CEP.2XX.idDistribuidora</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Distributor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Lead</name>
        <label>Atualizar Lead</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.logradouroCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>Localiazr_Distribuidora.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.uf</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(4 and 1) OR (4 and 2 ) OR (4 and  3)</filterLogic>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ThymosPJ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delta_Atacadista</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wisebyte</stringValue>
            </value>
        </filters>
        <filters>
            <field>CEP__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Validar_CEP</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
