force-app/main/default/flows/LEAD_Main_Create_Delta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validar_CEP</name>
        <label>Validar CEP</label>
        <locationX>644</locationX>
        <locationY>276</locationY>
        <actionName>BuscaCep.ObterCep</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Localizado</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BuscaCep.ObterCep</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Dentro_da_rea_Atendida_LUZ</name>
        <label>Dentro da Área Atendida LUZ</label>
        <locationX>446</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Localiazr_Distribuidora</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>sim2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Validar_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1246.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validar_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1251.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validar_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1232.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validar_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1261.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validar_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1067.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Localiazr_Distribuidora_0</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Localizado</name>
        <label>Localizado</label>
        <locationX>644</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Atualiza_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validar_CEP.2XX.nomeFantasia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dentro_da_rea_Atendida_LUZ</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>MGM</name>
        <label>MGM</label>
        <locationX>644</locationX>
        <locationY>1392</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MGM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_MGM</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Possui_Cupom</name>
        <label>Possui Cupom</label>
        <locationX>644</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Atualiza_a_Fonte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cupom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Parceiro</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[LEAD]Main Create Delta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[LEAD]Main Create Delta/LUZ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Localiazr_Distribuidora</name>
        <label>Localiazr Distribuidora</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeltaCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Validar_CEP.2XX.idDistribuidora</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Distributor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Localiazr_Distribuidora_0</name>
        <label>Localiazr Distribuidora</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Lead_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeltaCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Validar_CEP.2XX.idDistribuidora</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Distributor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_ID_do_Lead</name>
        <label>Atualiza ID do Lead</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Criar_Contato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pr_Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Lead</name>
        <label>Atualiza Lead</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Possui_Cupom</targetReference>
        </connector>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <stringValue>Não Localizada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_MGM</name>
        <label>Atualiza MGM</label>
        <locationX>512</locationX>
        <locationY>1500</locationY>
        <inputAssignments>
            <field>MGMT__c</field>
            <value>
                <stringValue>MGM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MGM__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Lead</name>
        <label>Atualizar Lead</label>
        <locationX>578</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Possui_Cupom</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.logradouroCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.nomeFantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>Localiazr_Distribuidora.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.uf</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Lead_0</name>
        <label>Atualizar Lead</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Possui_Cupom</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.logradouroCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.nomeFantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>Localiazr_Distribuidora.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Validar_CEP.2XX.uf</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Campo_Data_Cria_o</name>
        <label>Campo Data Criação</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Atualiza_ID_do_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_Da_Cria_o__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campo_Data_Cria_o</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Company__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>a1FHY00000058WC2AY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>a1F4x000000vfPPEAY</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Validar_CEP</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Atualiza_a_Fonte</name>
        <label>Atualiza a Fonte</label>
        <locationX>644</locationX>
        <locationY>1284</locationY>
        <connector>
            <targetReference>MGM</targetReference>
        </connector>
        <flowName>SUBFLOW_Atualizar_Fonte</flowName>
        <inputAssignments>
            <name>IDdoRegistro</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrigemdaInformacao</name>
            <value>
                <elementReference>$Record.Origem_da_Opera_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parceiro</name>
            <value>
                <elementReference>$Record.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TPRegistro</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Atualiza_Parceiro</name>
        <label>Atualiza Parceiro</label>
        <locationX>512</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Atualiza_a_Fonte</targetReference>
        </connector>
        <flowName>SUBFLOW_Lead_createParceiros</flowName>
        <inputAssignments>
            <name>Cupom</name>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Criar_Contato</name>
        <label>Criar Contato</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <flowName>Subflow_Cria_o_de_Contato</flowName>
        <inputAssignments>
            <name>DatadeAniversario</name>
            <value>
                <elementReference>$Record.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EstadoCivil</name>
            <value>
                <elementReference>$Record.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Lead</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Locale</name>
            <value>
                <stringValue>BR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NaturezaJuridica</name>
            <value>
                <elementReference>$Record.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimeiroNome</name>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Profissao</name>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Telefone</name>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UltimoNome</name>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
