force-app/main/default/flows/Lead_LUZ_Consulta_CEP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Consulta_CEP</name>
        <label>Consulta CEP</label>
        <locationX>473</locationX>
        <locationY>276</locationY>
        <actionName>BuscaCep.ObterCep</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CepLocalizado</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BuscaCep.ObterCep</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>CepLocalizado</name>
        <label>CepLocalizado</label>
        <locationX>473</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>n_o_atende</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consulta_CEP.2XX.nomeFantasia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dentro_da_area_dea_tua_o_Luz</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dentro_da_area_dea_tua_o_Luz</name>
        <label>Dentro da area dea tuação Luz?</label>
        <locationX>275</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>C_pia_2_de_getDistribuidora</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim6565</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Consulta_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1246.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Consulta_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1251.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Consulta_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1232.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Consulta_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1261.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Consulta_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1067.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Consulta_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1071.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDistribuidora</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Lead] - LUZ Consulta CEP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] - LUZ Consulta CEP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>C_pia_2_de_getDistribuidora</name>
        <label>getDistribuidora</label>
        <locationX>407</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C_pia_2_de_Atualiza_Cep_do_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeltaCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Consulta_CEP.2XX.idDistribuidora</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Distributor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDistribuidora</name>
        <label>getDistribuidora</label>
        <locationX>143</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_Cep_do_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeltaCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Consulta_CEP.2XX.idDistribuidora</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Distributor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Cep_do_Lead</name>
        <label>Atualiza Cep do Lead</label>
        <locationX>143</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Consulta_CEP.2XX.logradouroCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Consulta_CEP.2XX.cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Consulta_CEP.2XX.nomeFantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>getDistribuidora.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Consulta_CEP.2XX.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Consulta_CEP.2XX.uf</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_2_de_Atualiza_Cep_do_Lead</name>
        <label>Atualiza Cep do Lead não atendido</label>
        <locationX>407</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Consulta_CEP.2XX.logradouroCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Consulta_CEP.2XX.cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Consulta_CEP.2XX.nomeFantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>getDistribuidora.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Consulta_CEP.2XX.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Consulta_CEP.2XX.uf</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>n_o_atende</name>
        <label>não atende</label>
        <locationX>671</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <stringValue>Nâo Localizada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CEP__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadPJ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadPF</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Consulta_CEP</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
