force-app/main/default/flows/LEAD_Button_Desqualificar_Perda_InsideSales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Baixa_Demanda</name>
        <choiceText>Baixa Demanda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Baixa Demanda</stringValue>
        </value>
    </choices>
    <choices>
        <name>Baixa_Tens_o</name>
        <choiceText>Baixa Tensão</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Baixa Tensão</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outros</name>
        <choiceText>Outros</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outros</stringValue>
        </value>
    </choices>
    <choices>
        <name>Perdido_para_a_Concorr_ncia</name>
        <choiceText>Perdido para a Concorrência</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Perdido para a Concorrência</stringValue>
        </value>
    </choices>
    <choices>
        <name>Regulatorio</name>
        <choiceText>Regulatorio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regulatorio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score</name>
        <choiceText>Score</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Score</stringValue>
        </value>
    </choices>
    <choices>
        <name>Teste</name>
        <choiceText>Teste</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Teste</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Possui_todos_os_dados</name>
        <label>Possui todos os dados</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Tipo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tudo preenchido</defaultConnectorLabel>
        <rules>
            <name>Cidade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_dados_do_Registro_Acionador.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sem_Cidade</targetReference>
            </connector>
            <label>Cidade</label>
        </rules>
        <rules>
            <name>UF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_dados_do_Registro_Acionador.UF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sem_UF</targetReference>
            </connector>
            <label>UF</label>
        </rules>
        <rules>
            <name>Distribuidora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_dados_do_Registro_Acionador.Distributor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sem_Distribuidora</targetReference>
            </connector>
            <label>Distribuidora</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo</name>
        <label>Tipo</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Perda</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Perda</defaultConnectorLabel>
        <rules>
            <name>Desqualifica_o</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obter_dados_do_Registro_Acionador.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_dados_do_Registro_Acionador.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecção</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_dados_do_Registro_Acionador.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produto Apresentado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_dados_do_Registro_Acionador.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diagnóstico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_dados_do_Registro_Acionador.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estudo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desqualificacao</targetReference>
            </connector>
            <label>Desqualificação</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[LEAD]Button Desqualificar/Perda InsideSales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[LEAD]Button Desqualificar/Perda InsideSales</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obter_dados_do_Registro_Acionador</name>
        <label>Obter dados do Registro Acionador</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Possui_todos_os_dados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Lead_Desqualificado</name>
        <label>Atualizar Lead Desqualificado</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_de_Desqualificacao__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisqualifiedLead__c</field>
            <value>
                <elementReference>Obter_dados_do_Registro_Acionador.DisqualifiedLead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualified__c</field>
            <value>
                <elementReference>Observa_o</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Desqualificado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submotivo__c</field>
            <value>
                <elementReference>Obter_dados_do_Registro_Acionador.Submotivo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Lead_Perda</name>
        <label>Atualizar Lead Perda</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_da_Perda__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_da_Perda__c</field>
            <value>
                <elementReference>Obter_dados_do_Registro_Acionador.Motivo_da_Perda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_o_de_Perda__c</field>
            <value>
                <elementReference>ObservacaoPerda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Perdido</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Desqualificacao</name>
        <label>Desqualificação</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Atualizar_Lead_Desqualificado</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Obter_dados_do_Registro_Acionador.DisqualifiedLead__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Obter_dados_do_Registro_Acionador.Submotivo__c</objectFieldReference>
        </fields>
        <fields>
            <name>Observa_o</name>
            <fieldText>Observação</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Perda</name>
        <label>Perda</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Atualizar_Lead_Perda</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Obter_dados_do_Registro_Acionador.Motivo_da_Perda__c</objectFieldReference>
        </fields>
        <fields>
            <name>ObservacaoPerda</name>
            <fieldText>Observação</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sem_Cidade</name>
        <label>Sem Cidade</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ImagemCidade</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>NoAccess2_svg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(90, 178, 195);&quot;&gt;Favor preencher campo cidade para seguir!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fechar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sem_Distribuidora</name>
        <label>Sem Distribuidora</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ImagemCidade_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>NoAccess2_svg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Info_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(90, 178, 195); font-size: 18px;&quot;&gt;Favor preencher campo distribuidora para seguir!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fechar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sem_UF</name>
        <label>Sem UF</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ImagemCidade_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>NoAccess2_svg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Info_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(90, 178, 195); font-size: 18px;&quot;&gt;Favor preencher campo UF para seguir!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fechar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_dados_do_Registro_Acionador</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
