force-app/main/default/flows/Lead_LUZ_Main_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Atribui_o_5</name>
        <label>add unidade na fatura</label>
        <locationX>1007</locationX>
        <locationY>4079</locationY>
        <assignmentItems>
            <assignToReference>get_fatura.Unidades__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idunidade</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upd_fatura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Id_opp_PF</name>
        <label>Atribuir Id opp PF</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>IdOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criar_Oportunidade_PF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qual_tipo_de_desconto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Id_opp_PJ</name>
        <label>Atribuir Id opp PJ</label>
        <locationX>578</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>IdOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criar_Oportunidade_PJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qual_tipo_de_desconto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>atribuir_ID_PF</name>
        <label>atribuir ID PF</label>
        <locationX>743</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>IDdaconta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cria_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>atribuir_ID_PJ</name>
        <label>atribuir ID PJ</label>
        <locationX>1007</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>IDdaconta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cria_Account_PJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Atualizar_ou_criar_conta</name>
        <label>Atualizar ou criar conta?</label>
        <locationX>1007</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>atualiza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_registros_4</targetReference>
            </connector>
            <label>atualiza</label>
        </rules>
    </decisions>
    <decisions>
        <name>C_pia_1_de_Qual_tipo_de_desconto</name>
        <label>Qual tipo de desconto</label>
        <locationX>644</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>C_pia_3_de_Qual_tipo_de_desconto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>X3_anos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_3_anos__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_plano_3_anos</targetReference>
            </connector>
            <label>3 anos</label>
        </rules>
    </decisions>
    <decisions>
        <name>C_pia_3_de_Qual_tipo_de_desconto</name>
        <label>Qual tipo de desconto</label>
        <locationX>644</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>C_pia_4_de_Qual_tipo_de_desconto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>X5_anos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_3_anos__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_plano_5_anos</targetReference>
            </connector>
            <label>5 anos</label>
        </rules>
    </decisions>
    <decisions>
        <name>C_pia_4_de_Qual_tipo_de_desconto</name>
        <label>Qual tipo de desconto</label>
        <locationX>644</locationX>
        <locationY>3071</locationY>
        <defaultConnector>
            <targetReference>Getfatura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Liberdade_Total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_Liberdade_total__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_plano_Liberdade_Total</targetReference>
            </connector>
            <label>Liberdade Total</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>1007</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao_Tem_Conta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RetailPartnerAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_Account</targetReference>
            </connector>
            <label>Não Tem Conta PF</label>
        </rules>
        <rules>
            <name>Nao_Tem_Conta_PJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RetailPartnerAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_Account_PJ</targetReference>
            </connector>
            <label>Não Tem Conta PJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity</name>
        <label>Check Opportunity</label>
        <locationX>1007</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Getfatura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao_tem_oportunidade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_Oportunidade</targetReference>
            </connector>
            <label>Nao tem oportunidade</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_of_Lead</name>
        <label>Check Status of Lead</label>
        <locationX>1276</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Pass Status</defaultConnectorLabel>
        <rules>
            <name>Status_Ganho</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ganho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fechado/Ganho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_account</targetReference>
            </connector>
            <label>Status Ganho</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_UC</name>
        <label>Check UC</label>
        <locationX>1007</locationX>
        <locationY>3779</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao_tem_UC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_UC_PF</targetReference>
            </connector>
            <label>Não tem UC PF</label>
        </rules>
        <rules>
            <name>Nao_tem_UC_PJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_UC_PJ</targetReference>
            </connector>
            <label>Não tem UC PJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qual_tipo_de_desconto</name>
        <label>Qual tipo de desconto</label>
        <locationX>644</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_Qual_tipo_de_desconto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>X2_anos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_2_anos__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_plano_2_anos</targetReference>
            </connector>
            <label>2 anos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Oportunidade</name>
        <label>Tipo de Oportunidade</label>
        <locationX>644</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Tipo_de_Registro_PF</targetReference>
            </connector>
            <label>PF</label>
        </rules>
        <rules>
            <name>PJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Tipo_de_Registro_PJ</targetReference>
            </connector>
            <label>PJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Registro_existente</name>
        <label>Tipo de Registro existente</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Getfatura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Id_RecordType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Oportunidade_PF</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Registro_existente2</name>
        <label>Tipo de Registro existente</label>
        <locationX>710</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Getfatura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Id_RecordType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Oportunidade_PJ</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DiaDeHoje</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>[Lead] - LUZ - Main Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] - LUZ - Main Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cria_Account</name>
        <label>Cria Account PF</label>
        <locationX>743</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>atribuir_ID_PF</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>$Record.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaboratorId__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyName__c</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empresa__c</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Managementtree__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>$Record.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004I5pYAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cria_Account_PJ</name>
        <label>Cria Account PJ</label>
        <locationX>1007</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>atribuir_ID_PJ</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>$Record.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaboratorId__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyName__c</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empresa__c</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Managementtree__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>$Record.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124x000000dWvXAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cria_plano_2_anos</name>
        <label>Cria plano 2 anos</label>
        <locationX>512</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>C_pia_1_de_Qual_tipo_de_desconto</targetReference>
        </connector>
        <inputAssignments>
            <field>Desconto__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_2_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaAnual__c</field>
            <value>
                <elementReference>$Record.Redu_o_Custo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>IdOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoFidelidade__c</field>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </inputAssignments>
        <object>Plano__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cria_plano_3_anos</name>
        <label>Cria plano 3 anos</label>
        <locationX>512</locationX>
        <locationY>2579</locationY>
        <connector>
            <targetReference>C_pia_3_de_Qual_tipo_de_desconto</targetReference>
        </connector>
        <inputAssignments>
            <field>Desconto__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_3_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaAnual__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto3anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>IdOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoFidelidade__c</field>
            <value>
                <numberValue>36.0</numberValue>
            </value>
        </inputAssignments>
        <object>Plano__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cria_plano_5_anos</name>
        <label>Cria plano 5 anos</label>
        <locationX>512</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>C_pia_4_de_Qual_tipo_de_desconto</targetReference>
        </connector>
        <inputAssignments>
            <field>Desconto__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_5_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaAnual__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto5anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>IdOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoFidelidade__c</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <object>Plano__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cria_plano_Liberdade_Total</name>
        <label>Cria plano Liberdade Total</label>
        <locationX>512</locationX>
        <locationY>3179</locationY>
        <connector>
            <targetReference>Getfatura</targetReference>
        </connector>
        <inputAssignments>
            <field>Desconto__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaAnual__c</field>
            <value>
                <elementReference>$Record.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>IdOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoFidelidade__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Plano__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_Oportunidade_PF</name>
        <label>Criar Oportunidade PF</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Atribuir_Id_opp_PF</targetReference>
        </connector>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPF_CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cidade__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>DiaDeHoje</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complemento__c</field>
            <value>
                <elementReference>$Record.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>IDdaconta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_mail_de_contato__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empresa_Nome__c</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logradouro__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero__c</field>
            <value>
                <elementReference>$Record.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_contato__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pessoa_F_sica_Jur_dica__c</field>
            <value>
                <elementReference>$Record.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_Id_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_de_contato__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>$Record.Valor_Conta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura_R__c</field>
            <value>
                <elementReference>$Record.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_Oportunidade_PJ</name>
        <label>Criar Oportunidade PJ</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Atribuir_Id_opp_PJ</targetReference>
        </connector>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cidade__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>DiaDeHoje</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complemento__c</field>
            <value>
                <elementReference>$Record.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>IDdaconta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_mail_de_contato__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empresa_Nome__c</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logradouro__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero__c</field>
            <value>
                <elementReference>$Record.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pessoa_F_sica_Jur_dica__c</field>
            <value>
                <elementReference>$Record.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_Id_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Agendar Reunião</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_de_contato__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>$Record.Valor_Conta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura_R__c</field>
            <value>
                <elementReference>$Record.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_UC_PF</name>
        <label>Criar UC PF</label>
        <locationX>743</locationX>
        <locationY>3887</locationY>
        <assignRecordIdToReference>idunidade</assignRecordIdToReference>
        <connector>
            <targetReference>Atribui_o_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Conta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>$Record.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number__c</field>
            <value>
                <elementReference>$Record.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>Criar_Oportunidade_PF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IaJYAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>Units__c</object>
    </recordCreates>
    <recordCreates>
        <name>Criar_UC_PJ</name>
        <label>Criar UC PJ</label>
        <locationX>1007</locationX>
        <locationY>3887</locationY>
        <assignRecordIdToReference>idunidade</assignRecordIdToReference>
        <connector>
            <targetReference>Atribui_o_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Conta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>$Record.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number__c</field>
            <value>
                <elementReference>$Record.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>Criar_Oportunidade_PJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IaEYAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>Units__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>1007</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_ou_criar_conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_fatura</name>
        <label>get fatura</label>
        <locationX>1007</locationX>
        <locationY>3671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_UC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fatura_Distribuidora__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getfatura</name>
        <label>Getfatura distribuidora</label>
        <locationX>1007</locationX>
        <locationY>3455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_opp_na_fatura_distribuidora</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fatura_Distribuidora__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Tipo_de_Registro_PF</name>
        <label>Obter Tipo de Registro PF</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_Registro_existente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oportunidade_PF_Luz</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_Id_RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obter_Tipo_de_Registro_PJ</name>
        <label>Obter Tipo de Registro PJ</label>
        <locationX>710</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_Registro_existente2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oportunidade_PJ_Luz</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_Id_RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Lead</name>
        <label>Atualiza Lead</label>
        <locationX>1007</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Check_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>RetailPartnerAccount__c</field>
            <value>
                <elementReference>IDdaconta</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_opp_na_fatura_distribuidora</name>
        <label>Atualiza opp na fatura distribuidora</label>
        <locationX>1007</locationX>
        <locationY>3563</locationY>
        <connector>
            <targetReference>get_fatura</targetReference>
        </connector>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>IdOpp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Fatura_Distribuidoras__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_registros_4</name>
        <label>Atualizar registros 4</label>
        <locationX>875</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>Get_account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RetailPartnerAccount__c</field>
            <value>
                <elementReference>Get_account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>upd_fatura</name>
        <label>upd fatura</label>
        <locationX>1007</locationX>
        <locationY>4187</locationY>
        <inputReference>get_fatura</inputReference>
    </recordUpdates>
    <start>
        <locationX>1150</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status_of_Lead</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadPF</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadPJ</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IDdaconta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>idunidade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Id_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
