force-app/main/default/flows/Lead_LUZ_Main_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>N_o_Tem_Conta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Conta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_Account</targetReference>
            </connector>
            <label>Não Tem Conta PF</label>
        </rules>
        <rules>
            <name>N_o_Tem_Conta_PJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Conta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Cria_Account_PF</targetReference>
            </connector>
            <label>Não Tem Conta PJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity</name>
        <label>Check Opportunity</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Check_UC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao_tem_oportunidade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Oportunidade</targetReference>
            </connector>
            <label>Nao tem oportunidade</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_of_Lead</name>
        <label>Check Status of Lead</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Pass Status</defaultConnectorLabel>
        <rules>
            <name>Status_Ganho</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ganho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fechado/Ganho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account</targetReference>
            </connector>
            <label>Status Ganho</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_UC</name>
        <label>Check UC</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>N_o_tem_UC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Criar_UC_PJ</targetReference>
            </connector>
            <label>Não tem UC PF</label>
        </rules>
        <rules>
            <name>N_o_tem_UC_PJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_UC_PJ</targetReference>
            </connector>
            <label>Não tem UC PJ</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DiaDeHoje</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>[Lead] - LUZ - Main Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] - LUZ - Main Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>C_pia_1_de_Criar_UC_PJ</name>
        <label>Criar UC PF</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Conta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>$Record.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number__c</field>
            <value>
                <elementReference>$Record.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IaJYAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>Units__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>C_pia_2_de_Cria_Account_PF</name>
        <label>Cria Account PJ</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>$Record.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaboratorId__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyName__c</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empresa__c</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Managementtree__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>$Record.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124x000000dWvXAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cria_Account</name>
        <label>Cria Account PF</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>$Record.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaboratorId__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyName__c</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empresa__c</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Managementtree__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>$Record.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004I5pYAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_Oportunidade</name>
        <label>Criar Oportunidade</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Check_UC</targetReference>
        </connector>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cidade__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>DiaDeHoje</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complemento__c</field>
            <value>
                <elementReference>$Record.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logradouro__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero__c</field>
            <value>
                <elementReference>$Record.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004LC6YAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Em Andamento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_UC_PJ</name>
        <label>Criar UC PJ</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Conta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>$Record.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number__c</field>
            <value>
                <elementReference>$Record.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IaEYAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>Units__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status_of_Lead</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadPF</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadPJ</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
