force-app/main/default/flows/LEAD_Delta_Voltar_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>C_pia_1_de_Novo_Status_D_vidas_e_Ajustes</name>
        <label>Novo Status Dúvidas e Ajustes</label>
        <locationX>4274</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_Status_D_vidas_e_Ajustes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_D_vidas_e_Ajustes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_Novo_Status_Diagn_stico</name>
        <label>Novo Status Diagnóstico</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusDiagnostico</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_Novo_Status_Produto</name>
        <label>Novo Status Produto</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_New</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Inicio_da_Prospec_o__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_Novo_Status_Reengajamento</name>
        <label>Novo Status Reengajamento</label>
        <locationX>5858</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusReengajamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_D_vidas_e_Ajustes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Reengajamento__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_Novo_Status_D_vidas_e_Ajustes</name>
        <label>Novo Status Dúvidas e Ajustes</label>
        <locationX>4538</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_Status_D_vidas_e_Ajustes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_D_vidas_e_Ajustes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_Novo_Status_Reengajamento</name>
        <label>Novo Status Reengajamento</label>
        <locationX>6122</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusReengajamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_D_vidas_e_Ajustes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Reengajamento__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_3_de_Novo_Status_D_vidas_e_Ajustes</name>
        <label>Novo Status Dúvidas e Ajustes</label>
        <locationX>4802</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_Status_D_vidas_e_Ajustes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_D_vidas_e_Ajustes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_3_de_Novo_Status_Reengajamento</name>
        <label>Status Reengajamento</label>
        <locationX>6386</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusReengajamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_D_vidas_e_Ajustes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Reengajamento__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_4_de_Novo_Status_D_vidas_e_Ajustes</name>
        <label>Novo Status Dúvidas e Ajustes</label>
        <locationX>5066</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_Status_D_vidas_e_Ajustes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_D_vidas_e_Ajustes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_4_de_Novo_Status_Reengajamento</name>
        <label>Novo Status Reengajamento</label>
        <locationX>6650</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusReengajamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_D_vidas_e_Ajustes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Reengajamento__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_5_de_Novo_Status_D_vidas_e_Ajustes</name>
        <label>Novo Status Dúvidas e Ajustes</label>
        <locationX>5330</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_Status_D_vidas_e_Ajustes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_D_vidas_e_Ajustes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_5_de_Novo_Status_Reengajamento</name>
        <label>Novo Status Reengajamento</label>
        <locationX>6914</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusReengajamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_D_vidas_e_Ajustes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Reengajamento__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_6_de_Novo_Status_Reengajamento</name>
        <label>Novo Status Reengajamento</label>
        <locationX>7178</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusReengajamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Reengajamento__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Apresenta_o_de_Estudo</name>
        <label>Novo Status Apresentação de Estudo</label>
        <locationX>2690</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusApresentacaodeestudo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Inicio_da_Prospec_o__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Apresenta_o_de_Estudo1</name>
        <label>Novo Status Apresentação de Estudo</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusApresentacaodeestudo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Apresenta_o_de_Estudo2</name>
        <label>Novo Status Apresentação de Estudo</label>
        <locationX>3218</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusApresentacaodeestudo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Apresenta_o_de_Estudo3</name>
        <label>Novo Status Apresentação de Estudo</label>
        <locationX>3482</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusApresentacaodeestudo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Apresenta_o_de_Estudo4</name>
        <label>Novo Status Apresentação de Estudo</label>
        <locationX>3746</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusApresentacaodeestudo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_D_vidas_e_Ajustes</name>
        <label>Novo Status Dúvidas e Ajustes</label>
        <locationX>4010</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_Status_D_vidas_e_Ajustes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Inicio_da_Prospec_o__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_D_vidas_e_Ajustes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Diagn_stico</name>
        <label>Novo Status Diagnóstico</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusDiagnostico</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Inicio_da_Prospec_o__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Diagn_stico1</name>
        <label>Novo Status Diagnóstico</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusDiagnostico</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Estudo</name>
        <label>Novo Status Estudo</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Novo_StatusEstudo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Inicio_da_Prospec_o__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Estudo1</name>
        <label>Novo Status Estudo</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Novo_StatusEstudo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Estudo2</name>
        <label>Novo Status Estudo</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Novo_StatusEstudo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Estudo3</name>
        <label>Novo Status Estudo</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Novo_StatusEstudo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Produto</name>
        <label>Novo Status Produto</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_New</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Prospec_o</name>
        <label>Novo Status Prospecção</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>novostatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Inicio_da_Prospec_o__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Novo_Status_Reengajamento</name>
        <label>Novo Status Reengajamento</label>
        <locationX>5594</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_o_Novo_StatusReengajamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Inicio_da_Prospec_o__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_do_Diagn_stico__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Solicita_o_do_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Apresenta_o_de_Estudo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_D_vidas_e_Ajustes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Reengajamento__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_da_Apresenta_o_do_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Apresenta_o_de_Estudo</name>
        <choiceText>Apresentação de Estudo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Apresentação de Estudo</stringValue>
        </value>
    </choices>
    <choices>
        <name>D_vidas_e_Ajustes</name>
        <choiceText>Dúvidas e Ajustes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dúvidas e Ajustes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Diagn_stico</name>
        <choiceText>Diagnóstico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diagnóstico</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estudo</name>
        <choiceText>Estudo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estudo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Novo</name>
        <choiceText>Novo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Produto_Apresentado</name>
        <choiceText>Produto Apresentado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Produto Apresentado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prospec_o</name>
        <choiceText>Prospecção</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospecção</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reengajamento</name>
        <choiceText>Reengajamento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reengajamento</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decis_o_3</name>
        <label>Decisão 3</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Novo_Status_Diagn_stico1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Produto Apresentado</defaultConnectorLabel>
        <rules>
            <name>Novo2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_StatusDiagnostico</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Status_Diagn_stico</targetReference>
            </connector>
            <label>Novo</label>
        </rules>
        <rules>
            <name>Prospec_o1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_StatusDiagnostico</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecção</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Novo_Status_Diagn_stico</targetReference>
            </connector>
            <label>Prospecção</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decis_o_4</name>
        <label>Decisão 4</label>
        <locationX>2030</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Novo_Status_Estudo3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Diagnóstico</defaultConnectorLabel>
        <rules>
            <name>Novo3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Novo_StatusEstudo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Status_Estudo</targetReference>
            </connector>
            <label>Novo</label>
        </rules>
        <rules>
            <name>Prospec_o2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Novo_StatusEstudo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecção</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Status_Estudo1</targetReference>
            </connector>
            <label>Prospecção</label>
        </rules>
        <rules>
            <name>Produto_Apresentado2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Novo_StatusEstudo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produto Apresentado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Status_Estudo2</targetReference>
            </connector>
            <label>Produto Apresentado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decis_o_5</name>
        <label>Decisão 5</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Novo_Status_Apresenta_o_de_Estudo4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Estudo</defaultConnectorLabel>
        <rules>
            <name>Novo4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_StatusApresentacaodeestudo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Status_Apresenta_o_de_Estudo</targetReference>
            </connector>
            <label>Novo</label>
        </rules>
        <rules>
            <name>Prospec_o3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_StatusApresentacaodeestudo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecção</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Status_Apresenta_o_de_Estudo1</targetReference>
            </connector>
            <label>Prospecção</label>
        </rules>
        <rules>
            <name>Produto_Apresentado3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_StatusApresentacaodeestudo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produto Apresentado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Status_Apresenta_o_de_Estudo2</targetReference>
            </connector>
            <label>Produto Apresentado</label>
        </rules>
        <rules>
            <name>Diagn_stico1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_StatusApresentacaodeestudo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diagnóstico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Status_Apresenta_o_de_Estudo3</targetReference>
            </connector>
            <label>Diagnóstico</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decis_o_6</name>
        <label>Decisão 6</label>
        <locationX>4670</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>C_pia_5_de_Novo_Status_D_vidas_e_Ajustes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Apresentação de Estudo</defaultConnectorLabel>
        <rules>
            <name>Novo5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_Status_D_vidas_e_Ajustes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Status_D_vidas_e_Ajustes</targetReference>
            </connector>
            <label>Novo</label>
        </rules>
        <rules>
            <name>Prospec_o5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_Status_D_vidas_e_Ajustes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecção</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Novo_Status_D_vidas_e_Ajustes</targetReference>
            </connector>
            <label>Prospecção</label>
        </rules>
        <rules>
            <name>Produto_Apresentado4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_Status_D_vidas_e_Ajustes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produto Apresentado </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Novo_Status_D_vidas_e_Ajustes</targetReference>
            </connector>
            <label>Produto Apresentado</label>
        </rules>
        <rules>
            <name>Diagn_stico5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_Status_D_vidas_e_Ajustes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diagnóstico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_3_de_Novo_Status_D_vidas_e_Ajustes</targetReference>
            </connector>
            <label>Diagnóstico</label>
        </rules>
        <rules>
            <name>Estudo3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_Status_D_vidas_e_Ajustes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estudo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_4_de_Novo_Status_D_vidas_e_Ajustes</targetReference>
            </connector>
            <label>Estudo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decis_o_7</name>
        <label>Decisão 7</label>
        <locationX>6386</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>C_pia_6_de_Novo_Status_Reengajamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dúvidas e Ajustes</defaultConnectorLabel>
        <rules>
            <name>Novo7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_StatusReengajamento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Status_Reengajamento</targetReference>
            </connector>
            <label>Novo</label>
        </rules>
        <rules>
            <name>Prospec_o6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_StatusReengajamento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecção</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Novo_Status_Reengajamento</targetReference>
            </connector>
            <label>Prospecção</label>
        </rules>
        <rules>
            <name>Produto_Apresentado5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_StatusReengajamento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produto Apresentado </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Novo_Status_Reengajamento</targetReference>
            </connector>
            <label>Produto Apresentado</label>
        </rules>
        <rules>
            <name>Diagn_stico4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_StatusReengajamento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diagnóstico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_3_de_Novo_Status_Reengajamento</targetReference>
            </connector>
            <label>Diagnóstico</label>
        </rules>
        <rules>
            <name>Estudo4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_StatusReengajamento</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_4_de_Novo_Status_Reengajamento</targetReference>
            </connector>
            <label>Estudo</label>
        </rules>
        <rules>
            <name>Apresenta_o_de_Estudo1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_Novo_StatusReengajamento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apresentação de Estudo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_5_de_Novo_Status_Reengajamento</targetReference>
            </connector>
            <label>Apresentação de Estudo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Novo_Status</name>
        <label>Novo Status</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Novo_Status_Produto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prospecção</defaultConnectorLabel>
        <rules>
            <name>Novo1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Novo_Status_Produto</targetReference>
            </connector>
            <label>Novo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_da_Entrada</name>
        <label>Status da Entrada</label>
        <locationX>3746</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Op_o_Invalida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Demais</defaultConnectorLabel>
        <rules>
            <name>Prospeccao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecção</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RetornarStatusProspeccao</targetReference>
            </connector>
            <label>Prospecção</label>
        </rules>
        <rules>
            <name>ProdutoApresentado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produto Apresentado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retornar_Statusproduto</targetReference>
            </connector>
            <label>Produto Apresentado</label>
        </rules>
        <rules>
            <name>Diagnostico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diagnóstico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retornar_StatusDiagnostico</targetReference>
            </connector>
            <label>Diagnóstico</label>
        </rules>
        <rules>
            <name>Estudos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estudo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retornar_StatusEstudo</targetReference>
            </connector>
            <label>Estudo</label>
        </rules>
        <rules>
            <name>Apresentacao_de_Estudo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apresentação de Estudo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retornar_Status_Apresenta_o_de_Estudo</targetReference>
            </connector>
            <label>Apresentação de Estudo</label>
        </rules>
        <rules>
            <name>Duvidas_e_Ajustes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dúvidas e Ajustes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retornar_Status_D_vidas_e_Ajustes</targetReference>
            </connector>
            <label>Dúvidas e Ajustes</label>
        </rules>
        <rules>
            <name>Reengajamentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reengajamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retornar_StatusReengajamento</targetReference>
            </connector>
            <label>Reengajamento</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[LEAD]Delta Voltar Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[LEAD]Delta Voltar Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Atualiza_Lead1</name>
        <label>Atualiza Lead</label>
        <locationX>3746</locationX>
        <locationY>734</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Op_o_Invalida</name>
        <label>Opção Invalida</label>
        <locationX>7442</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>semacesso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>NoAccess2_svg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>500px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>semacesso2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(124, 7, 15);&quot;&gt;Não Permitido para esse Status&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fechar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retornar_Status_Apresenta_o_de_Estudo</name>
        <label>Retornar Status</label>
        <locationX>3218</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decis_o_5</targetReference>
        </connector>
        <fields>
            <name>Selecione_o_Novo_StatusApresentacaodeestudo</name>
            <choiceReferences>Novo</choiceReferences>
            <choiceReferences>Prospec_o</choiceReferences>
            <choiceReferences>Produto_Apresentado</choiceReferences>
            <choiceReferences>Diagn_stico</choiceReferences>
            <choiceReferences>Estudo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o Novo Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retornar_Status_D_vidas_e_Ajustes</name>
        <label>Retornar Status</label>
        <locationX>4670</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decis_o_6</targetReference>
        </connector>
        <fields>
            <name>Selecione_o_Novo_Status_D_vidas_e_Ajustes</name>
            <choiceReferences>Novo</choiceReferences>
            <choiceReferences>Prospec_o</choiceReferences>
            <choiceReferences>Produto_Apresentado</choiceReferences>
            <choiceReferences>Diagn_stico</choiceReferences>
            <choiceReferences>Estudo</choiceReferences>
            <choiceReferences>Apresenta_o_de_Estudo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o Novo Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retornar_StatusDiagnostico</name>
        <label>Retornar Status</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decis_o_3</targetReference>
        </connector>
        <fields>
            <name>Selecione_o_Novo_StatusDiagnostico</name>
            <choiceReferences>Novo</choiceReferences>
            <choiceReferences>Prospec_o</choiceReferences>
            <choiceReferences>Produto_Apresentado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o Novo Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retornar_StatusEstudo</name>
        <label>Retornar Status</label>
        <locationX>2030</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decis_o_4</targetReference>
        </connector>
        <fields>
            <name>Novo_StatusEstudo</name>
            <choiceReferences>Novo</choiceReferences>
            <choiceReferences>Prospec_o</choiceReferences>
            <choiceReferences>Produto_Apresentado</choiceReferences>
            <choiceReferences>Diagn_stico</choiceReferences>
            <choiceReferences>Estudo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o Novo Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retornar_Statusproduto</name>
        <label>Retornar Status</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Novo_Status</targetReference>
        </connector>
        <fields>
            <name>Selecione_o_New</name>
            <choiceReferences>Novo</choiceReferences>
            <choiceReferences>Prospec_o</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o Novo Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retornar_StatusReengajamento</name>
        <label>Retornar Status</label>
        <locationX>6386</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decis_o_7</targetReference>
        </connector>
        <fields>
            <name>Selecione_o_Novo_StatusReengajamento</name>
            <choiceReferences>Novo</choiceReferences>
            <choiceReferences>Prospec_o</choiceReferences>
            <choiceReferences>Produto_Apresentado</choiceReferences>
            <choiceReferences>Diagn_stico</choiceReferences>
            <choiceReferences>Estudo</choiceReferences>
            <choiceReferences>Apresenta_o_de_Estudo</choiceReferences>
            <choiceReferences>D_vidas_e_Ajustes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o Novo Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RetornarStatusProspeccao</name>
        <label>Retornar Status</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Novo_Status_Prospec_o</targetReference>
        </connector>
        <fields>
            <name>novostatus</name>
            <choiceReferences>Novo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o Novo Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3620</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_da_Entrada</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
