force-app/main/default/flows/LUZ_Atualiza_o_de_chamado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Registro1_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancelado</defaultConnectorLabel>
        <rules>
            <name>Aberto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aberto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Registro</targetReference>
            </connector>
            <label>Aberto</label>
        </rules>
        <rules>
            <name>Em_Atendimento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em atendimento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Registro_0</targetReference>
            </connector>
            <label>Em Atendimento</label>
        </rules>
        <rules>
            <name>Aguardando_outra_rea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguardando outra área</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Registro1</targetReference>
            </connector>
            <label>Aguardando outra área</label>
        </rules>
        <rules>
            <name>Aguardando_Cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguardando Cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Registro1_0</targetReference>
            </connector>
            <label>Aguardando Cliente</label>
        </rules>
        <rules>
            <name>Encerrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Encerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Registro1_0_0</targetReference>
            </connector>
            <label>Encerrado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>HOJE</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>LUZ - Atualização de chamado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LUZ - Atualização de chamado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualizar_Registro</name>
        <label>Atualizar Registro</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Parado__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parado_desde__c</field>
            <value>
                <elementReference>oki</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Registro1</name>
        <label>Atualizar Registro</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Parado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parado_desde__c</field>
            <value>
                <elementReference>HOJE</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Registro1_0</name>
        <label>Atualizar Registro</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Parado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parado_desde__c</field>
            <value>
                <elementReference>HOJE</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Registro1_0_0</name>
        <label>Atualizar Registro</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Parado__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parado_desde__c</field>
            <value>
                <elementReference>oki</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Registro1_0_0_0</name>
        <label>Atualizar Registro</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Parado__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parado_desde__c</field>
            <value>
                <elementReference>oki</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Registro_0</name>
        <label>Atualizar Registro</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Parado__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parado_desde__c</field>
            <value>
                <elementReference>oki</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <object>Chamado__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ok</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oki</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
