force-app/main/default/flows/LUZ_Convers_o_Pr_Lead_em_Lead1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Qual_Empresa</name>
        <label>Empresa</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Tem_UC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Luz</defaultConnectorLabel>
        <rules>
            <name>Delta_Inside_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountValue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Produto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InformationSource__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AreaLogada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Lead_Delta</targetReference>
            </connector>
            <label>Delta Inside Sales</label>
        </rules>
        <rules>
            <name>LuzPJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tem_UC_0</targetReference>
            </connector>
            <label>LuzPJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tem_UC</name>
        <label>Tem UC</label>
        <locationX>1040</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Criar_Lead_LuzPF_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sem UC</defaultConnectorLabel>
        <rules>
            <name>Sim1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Pr_lead.FantasyName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Lead_LuzPF</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tem_UC_0</name>
        <label>Tem UC</label>
        <locationX>512</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Criar_Lead_LuzPJ_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sem UC</defaultConnectorLabel>
        <rules>
            <name>Sim1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Pr_lead.FantasyName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Lead_LuzPJ</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_desconto</name>
        <label>Tipo de desconto</label>
        <locationX>578</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>resultado padrão</defaultConnectorLabel>
        <rules>
            <name>X2_anos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_2_Anos__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Plano</targetReference>
            </connector>
            <label>2 anos</label>
        </rules>
        <rules>
            <name>X3_anos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_3_Anos__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_13_de_Criar_Plano</targetReference>
            </connector>
            <label>3 anos</label>
        </rules>
        <rules>
            <name>X5_anos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_5_Anos__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia4_de_Criar_Plano</targetReference>
            </connector>
            <label>5 anos</label>
        </rules>
        <rules>
            <name>Liberdade_total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_Liberdade_total__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_4e_Criar_Plano</targetReference>
            </connector>
            <label>Liberdade total</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>prname</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!Obter_Pr_lead.Name}, FIND(&quot; &quot;, {!Obter_Pr_lead.Name})-1))</expression>
    </formulas>
    <formulas>
        <name>sobrenome</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Obter_Pr_lead.Name}, LEN({!Obter_Pr_lead.Name}) - FIND (&quot; &quot;, {!Obter_Pr_lead.Name}))</expression>
    </formulas>
    <interviewLabel>LUZ-Conversão Pré-Lead em Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LUZ-Conversão Pré-Lead em Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>C_pia4_de_Criar_Plano</name>
        <label>Criar Plano</label>
        <locationX>578</locationX>
        <locationY>1200</locationY>
        <inputAssignments>
            <field>Cotacao__c</field>
            <value>
                <elementReference>Idcotacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaAnual__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoFidelidade__c</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <object>Plano__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>C_pia_13_de_Criar_Plano</name>
        <label>Criar Plano</label>
        <locationX>314</locationX>
        <locationY>1200</locationY>
        <inputAssignments>
            <field>Cotacao__c</field>
            <value>
                <elementReference>Idcotacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaAnual__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoFidelidade__c</field>
            <value>
                <numberValue>36.0</numberValue>
            </value>
        </inputAssignments>
        <object>Plano__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>C_pia_4e_Criar_Plano</name>
        <label>Criar Plano</label>
        <locationX>842</locationX>
        <locationY>1200</locationY>
        <inputAssignments>
            <field>Cotacao__c</field>
            <value>
                <elementReference>Idcotacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaAnual__c</field>
            <value>
                <elementReference>$Record.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoFidelidade__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Plano__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_cotacao</name>
        <label>Criar cotacao</label>
        <locationX>578</locationX>
        <locationY>984</locationY>
        <assignRecordIdToReference>Idcotacao</assignRecordIdToReference>
        <connector>
            <targetReference>Tipo_de_desconto</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>varNewLead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ativa</stringValue>
            </value>
        </inputAssignments>
        <object>Cotacao__c</object>
    </recordCreates>
    <recordCreates>
        <name>Criar_Lead_Delta</name>
        <label>Criar Lead Delta</label>
        <locationX>116</locationX>
        <locationY>600</locationY>
        <assignRecordIdToReference>varNewLead.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>Obter_Pr_lead.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Data_de_Anivers_rio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONSUMO__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoKwh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_Pr_lead.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercialuz__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Obter_Pr_lead.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Localizacao_Id_Empresa.idDeltaEmpresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoMensal__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Hired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ContratoGerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Simulacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateSimulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateContratado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_gerado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_1_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Obter_Pr_lead.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Obter_Pr_lead.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>Obter_Pr_lead.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>prname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuidArquivoDaDigitalizacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Obter_Pr_lead.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Obter_Pr_lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sobrenome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>Obter_Pr_lead.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mensagem_WhatsApp__c</field>
            <value>
                <elementReference>MensagemWhats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_Da_distribuidora__c</field>
            <value>
                <elementReference>Obter_Pr_lead.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>$Record.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>Obter_Pr_lead.N_o_Incomodar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Observa_es_Gerais_de_Cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obter_Pr_lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFPJ__c</field>
            <value>
                <elementReference>Obter_Pr_lead.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Obter_Pr_lead.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_second__c</field>
            <value>
                <elementReference>Obter_Pr_lead.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Possivel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Prazo_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnidtsNegotiable__c</field>
            <value>
                <elementReference>$Record.QuantityUnidtsNegotiable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>$Record.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004KC3YAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto5anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SimulacoesRealizadas__c</field>
            <value>
                <elementReference>Obter_Pr_lead.simulacoes_realizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>Obter_Pr_lead.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em Agendamento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>$Record.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalUnitsQuantity__c</field>
            <value>
                <elementReference>Obter_Pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_Pr_lead.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>$Record.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Criar_Lead_LuzPF</name>
        <label>Criar Lead LuzPF</label>
        <locationX>908</locationX>
        <locationY>708</locationY>
        <assignRecordIdToReference>varNewLead.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Criar_cotacao</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>Obter_Pr_lead.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Data_de_Anivers_rio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONSUMO__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoKwh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_Pr_lead.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercialuz__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Obter_Pr_lead.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Localizacao_Id_Empresa.idLuzEmpresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoMensal__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Hired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ContratoGerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Simulacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateSimulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateContratado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_gerado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_1_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Obter_Pr_lead.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Obter_Pr_lead.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>Obter_Pr_lead.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>prname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuidArquivoDaDigitalizacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Obter_Pr_lead.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Obter_Pr_lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sobrenome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>Obter_Pr_lead.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_Da_distribuidora__c</field>
            <value>
                <elementReference>Obter_Pr_lead.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>$Record.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>Obter_Pr_lead.N_o_Incomodar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Observa_es_Gerais_de_Cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obter_Pr_lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFPJ__c</field>
            <value>
                <elementReference>Obter_Pr_lead.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Obter_Pr_lead.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_second__c</field>
            <value>
                <elementReference>Obter_Pr_lead.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Possivel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Prazo_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnidtsNegotiable__c</field>
            <value>
                <elementReference>$Record.QuantityUnidtsNegotiable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>$Record.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IC2YAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto5anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SimulacoesRealizadas__c</field>
            <value>
                <elementReference>Obter_Pr_lead.simulacoes_realizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>Obter_Pr_lead.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>$Record.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalUnitsQuantity__c</field>
            <value>
                <elementReference>Obter_Pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_Pr_lead.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>$Record.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Criar_Lead_LuzPF_0</name>
        <label>Criar Lead LuzPF</label>
        <locationX>1172</locationX>
        <locationY>708</locationY>
        <assignRecordIdToReference>varNewLead.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Criar_cotacao</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>Obter_Pr_lead.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Data_de_Anivers_rio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONSUMO__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoKwh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_Pr_lead.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercialuz__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Obter_Pr_lead.Nome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Localizacao_Id_Empresa.idLuzEmpresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoMensal__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Hired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ContratoGerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Simulacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateSimulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateContratado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_gerado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_1_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Obter_Pr_lead.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Obter_Pr_lead.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>Obter_Pr_lead.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>prname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuidArquivoDaDigitalizacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Obter_Pr_lead.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Obter_Pr_lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sobrenome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>Obter_Pr_lead.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_Da_distribuidora__c</field>
            <value>
                <elementReference>Obter_Pr_lead.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>$Record.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>Obter_Pr_lead.N_o_Incomodar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Observa_es_Gerais_de_Cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obter_Pr_lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFPJ__c</field>
            <value>
                <elementReference>Obter_Pr_lead.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Obter_Pr_lead.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_second__c</field>
            <value>
                <elementReference>Obter_Pr_lead.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Possivel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Prazo_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnidtsNegotiable__c</field>
            <value>
                <elementReference>$Record.QuantityUnidtsNegotiable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>$Record.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IC2YAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto5anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SimulacoesRealizadas__c</field>
            <value>
                <elementReference>Obter_Pr_lead.simulacoes_realizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>Obter_Pr_lead.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>$Record.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalUnitsQuantity__c</field>
            <value>
                <elementReference>Obter_Pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_Pr_lead.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>$Record.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Criar_Lead_LuzPJ</name>
        <label>Criar Lead LuzPJ</label>
        <locationX>380</locationX>
        <locationY>708</locationY>
        <assignRecordIdToReference>varNewLead.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Criar_cotacao</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>Obter_Pr_lead.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Data_de_Anivers_rio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONSUMO__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoKwh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_Pr_lead.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercialuz__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Obter_Pr_lead.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Localizacao_Id_Empresa.idLuzEmpresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoMensal__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Hired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ContratoGerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Simulacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateSimulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateContratado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_gerado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_1_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Obter_Pr_lead.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Obter_Pr_lead.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>Obter_Pr_lead.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>prname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuidArquivoDaDigitalizacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Obter_Pr_lead.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Obter_Pr_lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sobrenome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>Obter_Pr_lead.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_Da_distribuidora__c</field>
            <value>
                <elementReference>Obter_Pr_lead.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>$Record.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>Obter_Pr_lead.N_o_Incomodar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Observa_es_Gerais_de_Cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obter_Pr_lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFPJ__c</field>
            <value>
                <elementReference>Obter_Pr_lead.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Obter_Pr_lead.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_second__c</field>
            <value>
                <elementReference>Obter_Pr_lead.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Possivel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Prazo_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnidtsNegotiable__c</field>
            <value>
                <elementReference>$Record.QuantityUnidtsNegotiable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>$Record.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IBxYAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto5anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SimulacoesRealizadas__c</field>
            <value>
                <elementReference>Obter_Pr_lead.simulacoes_realizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>Obter_Pr_lead.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>$Record.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalUnitsQuantity__c</field>
            <value>
                <elementReference>Obter_Pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_Pr_lead.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>$Record.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Criar_Lead_LuzPJ_0</name>
        <label>Criar Lead LuzPJ</label>
        <locationX>644</locationX>
        <locationY>708</locationY>
        <assignRecordIdToReference>varNewLead.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Criar_cotacao</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>Obter_Pr_lead.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Data_de_Anivers_rio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONSUMO__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoKwh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_Pr_lead.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercialuz__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Obter_Pr_lead.Nome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Localizacao_Id_Empresa.idLuzEmpresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoMensal__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Hired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ContratoGerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Simulacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateSimulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateContratado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_gerado__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DateContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_1_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Desconto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>Obter_Pr_lead.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Obter_Pr_lead.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Obter_Pr_lead.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>Obter_Pr_lead.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>prname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuidArquivoDaDigitalizacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Obter_Pr_lead.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Obter_Pr_lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sobrenome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>Obter_Pr_lead.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_Da_distribuidora__c</field>
            <value>
                <elementReference>Obter_Pr_lead.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>$Record.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>Obter_Pr_lead.N_o_Incomodar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <elementReference>Obter_Pr_lead.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Observa_es_Gerais_de_Cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>Obter_Pr_lead.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obter_Pr_lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFPJ__c</field>
            <value>
                <elementReference>Obter_Pr_lead.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Obter_Pr_lead.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_second__c</field>
            <value>
                <elementReference>Obter_Pr_lead.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Possivel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Prazo_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnidtsNegotiable__c</field>
            <value>
                <elementReference>$Record.QuantityUnidtsNegotiable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>$Record.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IBxYAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Obter_Pr_lead.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto5anos__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>Obter_Pr_lead.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SimulacoesRealizadas__c</field>
            <value>
                <elementReference>Obter_Pr_lead.simulacoes_realizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>Obter_Pr_lead.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>$Record.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalUnitsQuantity__c</field>
            <value>
                <elementReference>Obter_Pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_Pr_lead.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>$Record.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>Obter_Pr_lead.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Criar_Plano</name>
        <label>Criar Plano</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <inputAssignments>
            <field>Cotacao__c</field>
            <value>
                <elementReference>Idcotacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaAnual__c</field>
            <value>
                <elementReference>$Record.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoFidelidade__c</field>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </inputAssignments>
        <object>Plano__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obter_Pr_lead</name>
        <label>Obter Pré lead</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Qual_Empresa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PreLead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <object>PreLead__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Localizacao_Id_Empresa</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Localizacao_Id_Empresa</name>
        <label>Localizacao Id Empresa</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Obter_Pr_lead</targetReference>
        </connector>
        <flowName>Subflow_Determinacao_Id_Empresa</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>MensagemWhats</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Olá {!prname}, Tudo bem?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sou o *Sérgio* Reis - Coordenador Comercial aqui na *LUZ (sualuz.com.br) - Grupo Delta Energia*&lt;/p&gt;&lt;p&gt;Recebemos a sua solicitação de contato com *interesse em obter economia de até 40% na fatura de energia* para a *sua empresa*&lt;/p&gt;&lt;p&gt;Para te passar o *quanto a sua empresa pode economizar*, precisamos de uma *foto ou PDF da sua fatura de energia mais recente*&lt;/p&gt;&lt;p&gt;Você consegue me *enviar uma foto ou PDF da sua fatura de energia?*&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Idcotacao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
