force-app/main/default/flows/LUZ_Convers_o_Lead_para_Oportunidade1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Empresa</name>
        <label>Empresa</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Criar_oportunidade_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DELTA</defaultConnectorLabel>
        <rules>
            <name>LUZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1F4x000000vfPUEAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_oportunidade</targetReference>
            </connector>
            <label>LUZ</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Data</name>
        <dataType>Date</dataType>
        <expression>today()+90</expression>
    </formulas>
    <formulas>
        <name>Nome</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}+&quot; &quot;+{!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>LUZ - Conversão Lead  para Oportunidade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LUZ - Conversão Lead  para Oportunidade</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_oportunidade</name>
        <label>Criar oportunidade</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Atualizar_Pr_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Anos_ACL__c</field>
            <value>
                <elementReference>$Record.Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>$Record.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPF_CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cargo__c</field>
            <value>
                <elementReference>$Record.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Celular__c</field>
            <value>
                <elementReference>$Record.Phone_second__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cidade__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Classifica_o__c</field>
            <value>
                <elementReference>$Record.Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente_novo__c</field>
            <value>
                <elementReference>$Record.Cliente_novo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Data</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercial__c</field>
            <value>
                <elementReference>$Record.Comercialuz__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complemento__c</field>
            <value>
                <elementReference>$Record.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>$Record.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoMensal__c</field>
            <value>
                <elementReference>$Record.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>$Record.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_kWh__c</field>
            <value>
                <elementReference>$Record.CONSUMO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>$Record.Contrato_Gerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>$Record.Contrato_Gerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>$Record.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_da_Gera_o_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Data_do_contrato_gerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_de_Agendamento__c</field>
            <value>
                <elementReference>$Record.Data_de_Agendamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>$Record.Data_do_contrato_assinado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateSimulation__c</field>
            <value>
                <elementReference>$Record.Data_Simulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demanda_Contratada__c</field>
            <value>
                <elementReference>$Record.Demanda_Contratada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_Anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_1_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_Anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_2_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_Anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_3_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_Anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_4_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_Anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_5_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Pr_Simula_o__c</field>
            <value>
                <elementReference>$Record.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>$Record.Desconto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DiscountOffered__c</field>
            <value>
                <elementReference>$Record.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>$Record.Distributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>$Record.Distribuidora_n_o_Atendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_mail_de_contato__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>$Record.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empresa_Nome__c</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>$Record.Erro_Gen_rico_de_Simula_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>$Record.Erro_Leitura_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>$Record.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_Civil__c</field>
            <value>
                <elementReference>$Record.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>$Record.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>$Record.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Oportunidade</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>$Record.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>$Record.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grupo_Econ_mico__c</field>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Guid_do_Arquivo_na_Digitaliza_o__c</field>
            <value>
                <elementReference>$Record.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_cio_do_Fornecimento_ACL__c</field>
            <value>
                <elementReference>$Record.In_cio_de_Fornecimento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>$Record.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logradouro__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>$Record.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mercado__c</field>
            <value>
                <elementReference>$Record.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_da_Distribuidora__c</field>
            <value>
                <elementReference>$Record.Multa_Da_distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>$Record.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero__c</field>
            <value>
                <elementReference>$Record.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero_de_Contatos__c</field>
            <value>
                <elementReference>$Record.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero_de_E_mails__c</field>
            <value>
                <elementReference>$Record.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>$Record.N_o_Incomodar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>$Record.Nome_do_Arquivo_anexo_com_extens_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>$Record.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_contato__c</field>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_da_Instala_o__c</field>
            <value>
                <elementReference>$Record.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>$Record.Observa_es_gerais_de_cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Informa_o__c</field>
            <value>
                <elementReference>$Record.Origem_da_Informa_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>$Record.Origem_da_Opera_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>$Record.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pessoa_F_sica_Jur_dica__c</field>
            <value>
                <elementReference>$Record.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>$Record.Poss_vel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>$Record.Pr_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>$Record.Prazo_de_pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto__c</field>
            <value>
                <elementReference>$Record.Tipo_de_produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>$Record.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profiss_o__c</field>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>$Record.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Unidades_Negociaveis__c</field>
            <value>
                <elementReference>$Record.QuantityUnidtsNegotiable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Unidades_Totais__c</field>
            <value>
                <elementReference>$Record.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004LC6YAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto3anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>$Record.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reducao_Custo_5_Anos__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto5anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>$Record__Prior.Score_SERASA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setor__c</field>
            <value>
                <elementReference>$Record.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sexo__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>$Record.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submercado_ACL__c</field>
            <value>
                <elementReference>$Record.Submercado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>T_rmino_do_Fornecimento_ACL__c</field>
            <value>
                <elementReference>$Record.T_rmino_de_Fornecimento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>$Record.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_de_contato__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiro__c</field>
            <value>
                <elementReference>$Record.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Energia_ACL__c</field>
            <value>
                <elementReference>$Record.TypeOfEnergy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>$Record.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Tipo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UC__c</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_de_proposta_ACL__c</field>
            <value>
                <elementReference>$Record.V_lidade_de_proposta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>$Record.Valor_Conta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura_R__c</field>
            <value>
                <elementReference>$Record.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_Mwmed_ACL__c</field>
            <value>
                <elementReference>$Record.Volume_Mwmed_ACL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>$Record.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>$Record.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>de_simula_es_realizadas__c</field>
            <value>
                <elementReference>$Record.SimulacoesRealizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>re__c</field>
            <value>
                <elementReference>$Record.Redu_o_Custo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_oportunidade_0</name>
        <label>Criar oportunidade</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Atualizar_Pr_Lead_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Anos_ACL__c</field>
            <value>
                <elementReference>$Record.Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>$Record.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPF_CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cargo__c</field>
            <value>
                <elementReference>$Record.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Celular__c</field>
            <value>
                <elementReference>$Record.Phone_second__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cidade__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Classifica_o__c</field>
            <value>
                <elementReference>$Record.Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente_novo__c</field>
            <value>
                <elementReference>$Record.Cliente_novo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Data</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercial__c</field>
            <value>
                <elementReference>$Record.Comercialuz__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complemento__c</field>
            <value>
                <elementReference>$Record.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>$Record.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoMensal__c</field>
            <value>
                <elementReference>$Record.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>$Record.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_kWh__c</field>
            <value>
                <elementReference>$Record.CONSUMO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>$Record.Contrato_Gerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>$Record.Contrato_Gerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>$Record.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_da_Gera_o_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Data_do_contrato_gerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_de_Agendamento__c</field>
            <value>
                <elementReference>$Record.Data_de_Agendamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>$Record.Data_do_contrato_assinado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateSimulation__c</field>
            <value>
                <elementReference>$Record.Data_Simulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demanda_Contratada__c</field>
            <value>
                <elementReference>$Record.Demanda_Contratada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_Anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_1_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_Anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_2_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_Anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_3_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_Anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_4_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_Anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_5_anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Pr_Simula_o__c</field>
            <value>
                <elementReference>$Record.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>$Record.Desconto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DiscountOffered__c</field>
            <value>
                <elementReference>$Record.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>$Record.Distributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>$Record.Distribuidora_n_o_Atendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_mail_de_contato__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>$Record.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empresa_Nome__c</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>$Record.Erro_Gen_rico_de_Simula_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>$Record.Erro_Leitura_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>$Record.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_Civil__c</field>
            <value>
                <elementReference>$Record.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>$Record.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>$Record.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Oportunidade</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>$Record.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>$Record.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grupo_Econ_mico__c</field>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Guid_do_Arquivo_na_Digitaliza_o__c</field>
            <value>
                <elementReference>$Record.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_cio_do_Fornecimento_ACL__c</field>
            <value>
                <elementReference>$Record.In_cio_de_Fornecimento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>$Record.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logradouro__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>$Record.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mercado__c</field>
            <value>
                <elementReference>$Record.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_da_Distribuidora__c</field>
            <value>
                <elementReference>$Record.Multa_Da_distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>$Record.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero__c</field>
            <value>
                <elementReference>$Record.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero_de_Contatos__c</field>
            <value>
                <elementReference>$Record.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_mero_de_E_mails__c</field>
            <value>
                <elementReference>$Record.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>$Record.N_o_Incomodar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>$Record.Nome_do_Arquivo_anexo_com_extens_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>$Record.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_contato__c</field>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_da_Instala_o__c</field>
            <value>
                <elementReference>$Record.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>$Record.Observa_es_gerais_de_cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Informa_o__c</field>
            <value>
                <elementReference>$Record.Origem_da_Informa_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>$Record.Origem_da_Opera_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>$Record.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pessoa_F_sica_Jur_dica__c</field>
            <value>
                <elementReference>$Record.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>$Record.Poss_vel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>$Record.Pr_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>$Record.Prazo_de_pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto__c</field>
            <value>
                <elementReference>$Record.Tipo_de_produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>$Record.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profiss_o__c</field>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>$Record.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Unidades_Negociaveis__c</field>
            <value>
                <elementReference>$Record.QuantityUnidtsNegotiable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Unidades_Totais__c</field>
            <value>
                <elementReference>$Record.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124x000000dWvZAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto3anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>$Record.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reducao_Custo_5_Anos__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto5anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>$Record__Prior.Score_SERASA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setor__c</field>
            <value>
                <elementReference>$Record.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sexo__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualificação</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>$Record.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submercado_ACL__c</field>
            <value>
                <elementReference>$Record.Submercado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>T_rmino_do_Fornecimento_ACL__c</field>
            <value>
                <elementReference>$Record.T_rmino_de_Fornecimento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>$Record.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_de_contato__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiro__c</field>
            <value>
                <elementReference>$Record.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Energia_ACL__c</field>
            <value>
                <elementReference>$Record.TypeOfEnergy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>$Record.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Tipo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UC__c</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_de_proposta_ACL__c</field>
            <value>
                <elementReference>$Record.V_lidade_de_proposta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>$Record.Valor_Conta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura_R__c</field>
            <value>
                <elementReference>$Record.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_Mwmed_ACL__c</field>
            <value>
                <elementReference>$Record.Volume_Mwmed_ACL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>$Record.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>$Record.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>de_simula_es_realizadas__c</field>
            <value>
                <elementReference>$Record.SimulacoesRealizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>re__c</field>
            <value>
                <elementReference>$Record.Redu_o_Custo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Atualizar_Lead</name>
        <label>Atualizar Lead</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>Criar_oportunidade</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Lead_0</name>
        <label>Atualizar Lead</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>Criar_oportunidade_0</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Pr_Lead</name>
        <label>Atualizar Pré-Lead</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Atualizar_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pr_Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Oportunidade</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>Criar_oportunidade</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Pr_Lead_0</name>
        <label>Atualizar Pré-Lead</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Atualizar_Lead_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pr_Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Oportunidade</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>Criar_oportunidade_0</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Empresa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fluxo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oportunidade</stringValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidade__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
