force-app/main/default/flows/LUZAtualizaoLeadcomPreLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>C_pia_1_de_verifica_se_existe_fatura</name>
        <label>verifica se existe fatura</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>não</defaultConnectorLabel>
        <rules>
            <name>C_pia_1_de_sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C_pia_1_de_Get_Fatura_Distribuidora</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Upd_fatura_distribuidora</targetReference>
            </connector>
            <label>sim</label>
        </rules>
        <rules>
            <name>C_pia_1_de_N_o_mas_precisa_criar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Link_Download__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_Fatura</targetReference>
            </connector>
            <label>Não mas precisa criar</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[LUZ] Atualização Lead com Pré-Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[LUZ] Atualização Lead com Pré-Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>C_pia_1_de_Get_Fatura_Distribuidora</name>
        <label>Get Fatura Distribuidora</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C_pia_1_de_verifica_se_existe_fatura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pr_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fatura_Distribuidora__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>C_pia_1_de_Upd_fatura_distribuidora</name>
        <label>Upd fatura distribuidora</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AccountValue__c</field>
            <value>
                <elementReference>$Record.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Abaixo_do_Range__c</field>
            <value>
                <elementReference>$Record.ConsumoAbaixoRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Historico__c</field>
            <value>
                <elementReference>$Record.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Mensal__c</field>
            <value>
                <elementReference>$Record.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Utilizado__c</field>
            <value>
                <elementReference>$Record.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>$Record.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_Download__c</field>
            <value>
                <elementReference>$Record.Link_Download__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura_R__c</field>
            <value>
                <elementReference>$Record.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>$Record.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Fatura_Distribuidoras__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>C_pia_1_de_Get_Fatura_Distribuidora</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Link_Download__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PreLead__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cria_Fatura</name>
        <label>Cria Fatura</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <flowName>Subflow_criacao_de_fatura</flowName>
        <inputAssignments>
            <name>BaixaRenda</name>
            <value>
                <elementReference>$Record.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>classificacao</name>
            <value>
                <elementReference>$Record.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>consumoabaixorange</name>
            <value>
                <elementReference>$Record.ConsumoAbaixoRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Distribuidora</name>
            <value>
                <elementReference>$Record.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>distribuidoranaoatendida</name>
            <value>
                <elementReference>$Record.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>errogenericosimulacao</name>
            <value>
                <elementReference>$Record.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>erroleiturafatura</name>
            <value>
                <elementReference>$Record.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>erros</name>
            <value>
                <elementReference>$Record.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>faturaanexada</name>
            <value>
                <elementReference>$Record.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>faturaprocessada</name>
            <value>
                <elementReference>$Record.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>guiddoarquivo</name>
            <value>
                <elementReference>$Record.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>lead</name>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LinkDownload</name>
            <value>
                <elementReference>$Record.Link_Download__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>multadadistribuidora</name>
            <value>
                <elementReference>$Record.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NomedaFatura</name>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NomedoArquivoanexocomexten</name>
            <value>
                <elementReference>$Record.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oportunidade</name>
            <value>
                <elementReference>$Record.Oportunidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>origem</name>
            <value>
                <elementReference>$Record.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>prelead</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scoreserasa</name>
            <value>
                <elementReference>$Record.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TarifaBranca</name>
            <value>
                <elementReference>$Record.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ValordaConta</name>
            <value>
                <elementReference>$Record.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ValorFatura</name>
            <value>
                <elementReference>$Record.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Volumeconsideradoparaestudo</name>
            <value>
                <elementReference>$Record.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>idcotacao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Idplano2anos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Idplano3anos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Idplano5anos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdplanoLT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
