force-app/main/default/flows/Medidor_Main_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>[Medidor]Main Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Medidor]Main Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_a_Unidade</name>
        <label>Obter a Unidade</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Unidade_Conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ID_de_Unidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unidades__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Units__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Unidade_Conta</name>
        <label>Atualizar Unidade Conta</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>Obter_a_Unidade.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto__c</field>
            <value>
                <elementReference>Obter_a_Unidade.Desconto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Obter_a_Unidade.Distributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plano__c</field>
            <value>
                <elementReference>Obter_a_Unidade.Plano__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Cliente__c</field>
            <value>
                <elementReference>Obter_a_Unidade.Account__r.AccountType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unidades__c</field>
            <value>
                <elementReference>Obter_a_Unidade.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_a_Unidade</targetReference>
        </connector>
        <object>Medidor__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
