force-app/main/default/flows/Pr_Lead_Main_Update_CEP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Obter_CEP</name>
        <label>Obter CEP</label>
        <locationX>473</locationX>
        <locationY>276</locationY>
        <actionName>BuscaCep.ObterCep</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Localizou_Distribuidora</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BuscaCep.ObterCep</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Block_List</name>
        <label>Block List</label>
        <locationX>473</locationX>
        <locationY>984</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BlockList.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desqualificar</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Distribuidora_Atendida</name>
        <label>Distribuidora Atendida</label>
        <locationX>275</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Pr_Lead_N_o_Atendido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obter_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1246.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1251.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1232.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1261.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1067.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_CEP.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1071.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_registros_1</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Localizou_Distribuidora</name>
        <label>Localizou Distribuidora</label>
        <locationX>473</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Atualiza_N_o_Localizada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_CEP.2XX.nomeFantasia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distribuidora_Atendida</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Cepsemtraco</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!$Record.CEP__c}, &quot;-&quot;),
    SUBSTITUTE({!$Record.CEP__c}, &quot;-&quot;, &quot;&quot;),
    {!$Record.CEP__c}
)</expression>
    </formulas>
    <interviewLabel>[Pré-Lead]Main Update CEP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Pré-Lead]Main Update CEP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BlockList</name>
        <label>BlockList</label>
        <locationX>473</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Block_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cepsemtraco</elementReference>
            </value>
        </filters>
        <filters>
            <field>Empresa_do_Grupo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BlockList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_N_o_Localizada</name>
        <label>Atualiza Não Localizada</label>
        <locationX>671</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>BlockList</targetReference>
        </connector>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Atualiza_N_o_Localizada</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Pr_Lead_N_o_Atendido</name>
        <label>Atualizar Pré-Lead Não Atendido</label>
        <locationX>407</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>BlockList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Obter_CEP.2XX.logradouroCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_CEP.2XX.cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraNaoAtendida__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Obter_CEP.2XX.nomeFantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Obter_CEP.2XX.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_CEP.2XX.uf</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_registros_1</name>
        <label>Atualizar Pré-Lead Atendido</label>
        <locationX>143</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>BlockList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Obter_CEP.2XX.logradouroCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_CEP.2XX.cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraNaoAtendida__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Obter_CEP.2XX.nomeFantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Obter_CEP.2XX.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_CEP.2XX.uf</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Desqualificar</name>
        <label>Desqualificar</label>
        <locationX>341</locationX>
        <locationY>1092</locationY>
        <inputAssignments>
            <field>Data_de_Desqualificacao__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraNaoAtendida__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fora_da_rea_de_Cobertura__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_Desqualifica_o__c</field>
            <value>
                <stringValue>Distribuidora não atendida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_o_da_Desqualifica_o__c</field>
            <value>
                <stringValue>BlockList</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Desqualificado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CEP__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PreLead__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Obter_CEP</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CEP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
