force-app/main/default/flows/Pr_Lead_Fluxo_de_parceiros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Decis_o_1</name>
        <label>Decisão 1</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Localizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Cupom.Parceiro__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compartilhar</targetReference>
            </connector>
            <label>Localizado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>{Pré-Lead} Fluxo de parceiros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>{Pré-Lead} Fluxo de parceiros</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Compartilhar</name>
        <label>Compartilhar</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Obter_Cupom.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obter_Cupom</name>
        <label>Obter Cupom</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decis_o_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cupom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cupom_do_parceiro__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parceiros_e_Vendedores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Cupom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cupom_do_parceiro__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PreLead__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
