force-app/main/default/flows/Pre_Lead_Main_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Apto_pra_Cadencia</name>
        <label>Apto pra Cadência?</label>
        <locationX>336</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Grupo_Economico</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim_Apto_pra_Cadencia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_Liberdade_total__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreLead_Fluxo_de_Cadencia</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Block_List</name>
        <label>Block List</label>
        <locationX>798</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BlockList.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desqualificar</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grupo_Economico</name>
        <label>Grupo Economico?</label>
        <locationX>336</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Tipo_de_Atualiza_o</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesGrupo_Economico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EconomicGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grupo_Economico_Pre_Lead_Updates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parceiro</name>
        <label>É Parceiro?</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Verifica_Regi_o_Light</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cupom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_Parceiros</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Atualiza_o</name>
        <label>Tipo de Atualização</label>
        <locationX>336</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Verifica_Regi_o_Light</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Geral</defaultConnectorLabel>
        <rules>
            <name>Novo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parceiro</targetReference>
            </connector>
            <label>Novo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_Regi_o_Light</name>
        <label>Verifica Região Light</label>
        <locationX>336</locationX>
        <locationY>1368</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Light</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Regi_o</targetReference>
            </connector>
            <label>Light?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Cepsemtraco</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!$Record.CEP__c}, &quot;-&quot;),
    SUBSTITUTE({!$Record.CEP__c}, &quot;-&quot;, &quot;&quot;),
    {!$Record.CEP__c}
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>prname</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!$Record.Name}, FIND(&quot; &quot;, {!$Record.Name})-1))</expression>
    </formulas>
    <formulas>
        <name>TelefoneFormatado</name>
        <dataType>String</dataType>
        <expression>IF(
    LEN({!$Record.PhoneNumber__c}) = 12 &amp;&amp; LEFT({!$Record.PhoneNumber__c}, 4) = &quot;5541&quot;,
    LEFT({!$Record.PhoneNumber__c}, 4) &amp; &quot;9&quot; &amp; MID({!$Record.PhoneNumber__c}, 5, 8),
    {!$Record.PhoneNumber__c}
)</expression>
    </formulas>
    <label>{Pre-Lead} - Main Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BlockList</name>
        <label>BlockList</label>
        <locationX>798</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Block_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cepsemtraco</elementReference>
            </value>
        </filters>
        <filters>
            <field>Empresa_do_Grupo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BlockList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Regi_o</name>
        <label>Get Região</label>
        <locationX>204</locationX>
        <locationY>1476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_Regi_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Regiao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Regi_o</name>
        <label>Atualiza Região</label>
        <locationX>204</locationX>
        <locationY>1584</locationY>
        <inputAssignments>
            <field>Regiao__c</field>
            <value>
                <elementReference>Get_Regi_o.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Desqualificar</name>
        <label>Desqualificar</label>
        <locationX>666</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Data_de_Desqualificacao__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraNaoAtendida__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fora_da_rea_de_Cobertura__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_Desqualifica_o__c</field>
            <value>
                <stringValue>Distribuidora não atendida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_o_da_Desqualifica_o__c</field>
            <value>
                <stringValue>BlockList</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Desqualificado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>441</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Apto_pra_Cadencia</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>InformationSource__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ADS</stringValue>
            </value>
        </filters>
        <filters>
            <field>InformationSource__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </filters>
        <object>PreLead__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Depois_de_2_min</name>
            <connector>
                <targetReference>BlockList</targetReference>
            </connector>
            <label>Depois de 2 min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fluxo_Parceiros</name>
        <label>Fluxo Parceiros</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Verifica_Regi_o_Light</targetReference>
        </connector>
        <flowName>SUBFLOW_pr_lead_createParceiros</flowName>
        <inputAssignments>
            <name>Cupom</name>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Grupo_Economico_Pre_Lead_Updates</name>
        <label>[Grupo Economico] Pré-Lead Updates</label>
        <locationX>204</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Tipo_de_Atualiza_o</targetReference>
        </connector>
        <flowName>FWEconomicGroupPreLeadUpdates</flowName>
        <inputAssignments>
            <name>idEconomicGroup</name>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PreLead_Fluxo_de_Cadencia</name>
        <label>[PreLead] Fluxo de Cadência</label>
        <locationX>204</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Grupo_Economico</targetReference>
        </connector>
        <flowName>FWPreLeadCustomCadence</flowName>
        <inputAssignments>
            <name>prelead</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PreLeadStatusPriorValue</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>idDeltaCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idLuzCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
