force-app/main/default/flows/Pre_Lead_Create_ADS1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Obter_Cep</name>
        <label>Obter Cep</label>
        <locationX>1172</locationX>
        <locationY>276</locationY>
        <actionName>BuscaCep.ObterCep</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Localizou_Distribuidora</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BuscaCep.ObterCep</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>SetDelta</name>
        <label>SetDelta</label>
        <locationX>468</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>idDeltaCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCompany.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCompany</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLUZ</name>
        <label>SetLUZ</label>
        <locationX>732</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>idLuzCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCompany.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCompany</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Block_List</name>
        <label>Block List</label>
        <locationX>1172</locationX>
        <locationY>984</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Validar_se_esta_na_block.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desqualificar</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Name</name>
        <label>Company Name</label>
        <locationX>732</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>LoopCompany</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delta_Company_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCompany.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDelta</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
        <rules>
            <name>Luz_Company_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCompany.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLUZ</targetReference>
            </connector>
            <label>Luz</label>
        </rules>
    </decisions>
    <decisions>
        <name>Distribuidora_Atendida</name>
        <label>Distribuidora Atendida</label>
        <locationX>974</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Atualizar_PreLead_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Cep.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1246.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_Cep.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1251.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_Cep.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1232.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_Cep.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1261.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_Cep.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1067.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_PreLead</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empresa</name>
        <label>Empresa</label>
        <locationX>182</locationX>
        <locationY>1884</locationY>
        <defaultConnector>
            <targetReference>Atualizar_LUZ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Luz</defaultConnectorLabel>
        <rules>
            <name>Delta_Inside_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountValue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Delta_Inside_Sales</targetReference>
            </connector>
            <label>Delta Inside Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Localizou_Distribuidora</name>
        <label>Localizou Distribuidora</label>
        <locationX>1172</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Atualiza_PreLeaad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Cep.2XX.nomeFantasia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distribuidora_Atendida</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>MGM</name>
        <label>MGM</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Possui_Numero_de_Instala_o</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MGM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FLUXO_MGM</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parceiro</name>
        <label>É Parceiro?</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>MGM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cupom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_Parceiros</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Possui_Numero_de_Instala_o</name>
        <label>Possui Numero de Instalação</label>
        <locationX>182</locationX>
        <locationY>1584</locationY>
        <defaultConnector>
            <targetReference>Insere_0_na_Instal_o</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumeroInstalacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empresa</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Atualiza_o</name>
        <label>Tipo de Atualização</label>
        <locationX>380</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>Geral</defaultConnectorLabel>
        <rules>
            <name>Novo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parceiro</targetReference>
            </connector>
            <label>Novo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Cepsemtraco</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!$Record.CEP__c}, &quot;-&quot;),
    SUBSTITUTE({!$Record.CEP__c}, &quot;-&quot;, &quot;&quot;),
    {!$Record.CEP__c}
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <label>{Pre-Lead}-Create ADS</label>
    <loops>
        <name>LoopCompany</name>
        <label>LoopCompany</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <collectionReference>GetCompany</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Company_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tipo_de_Atualiza_o</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCompany</name>
        <label>GetCompany</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCompany</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Company__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Validar_se_esta_na_block</name>
        <label>Validar se esta na block</label>
        <locationX>1172</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Block_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cepsemtraco</elementReference>
            </value>
        </filters>
        <filters>
            <field>Empresa_do_Grupo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BlockList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_PreLeaad</name>
        <label>Atualiza Pré-Leaad</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Validar_se_esta_na_block</targetReference>
        </connector>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <stringValue>Não Localizada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Delta_Inside_Sales</name>
        <label>Atualizar Delta Inside Sales</label>
        <locationX>50</locationX>
        <locationY>1992</locationY>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>idDeltaCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005HY000000VdgrYAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004LmEYAU</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_LUZ</name>
        <label>Atualizar LUZ</label>
        <locationX>314</locationX>
        <locationY>1992</locationY>
        <connector>
            <targetReference>Criar_o_Contato</targetReference>
        </connector>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>idLuzCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004Lm9YAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_PreLead</name>
        <label>Atualizar Pré-Lead</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Validar_se_esta_na_block</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Obter_Cep.2XX.logradouroCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_Cep.2XX.cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Obter_Cep.2XX.nomeFantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Obter_Cep.2XX.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_Cep.2XX.uf</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_PreLead_0</name>
        <label>Atualizar Pré-Lead</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Validar_se_esta_na_block</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Obter_Cep.2XX.logradouroCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_Cep.2XX.cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraNaoAtendida__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Obter_Cep.2XX.nomeFantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Obter_Cep.2XX.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_Cep.2XX.uf</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Desqualificar</name>
        <label>Desqualificar</label>
        <locationX>1040</locationX>
        <locationY>1092</locationY>
        <inputAssignments>
            <field>Data_de_Desqualificacao__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraNaoAtendida__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_Desqualifica_o__c</field>
            <value>
                <stringValue>Distribuidora não atendida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_o_da_Desqualifica_o__c</field>
            <value>
                <stringValue>BlockList</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Desqualificado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Insere_0_na_Instal_o</name>
        <label>Insere 0 na Instalção</label>
        <locationX>270</locationX>
        <locationY>1692</locationY>
        <connector>
            <targetReference>Empresa</targetReference>
        </connector>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCompany</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InformationSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ADS</stringValue>
            </value>
        </filters>
        <object>PreLead__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Obter_Cep</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Criar_o_Contato</name>
        <label>Criar o Contato</label>
        <locationX>314</locationX>
        <locationY>2100</locationY>
        <flowName>Subfluxo_prelead_cricao_de_contato</flowName>
        <inputAssignments>
            <name>Record_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FLUXO_MGM</name>
        <label>FLUXO MGM</label>
        <locationX>50</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>Possui_Numero_de_Instala_o</targetReference>
        </connector>
        <flowName>Atualizar_MGM</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fluxo_Parceiros</name>
        <label>Fluxo Parceiros</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>MGM</targetReference>
        </connector>
        <flowName>SUBFLOW_pr_lead_createParceiros</flowName>
        <inputAssignments>
            <name>Cupom</name>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>idDeltaCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idLuzCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
