force-app/main/default/flows/Pre_Lead_Create_ADS1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>SetDelta</name>
        <label>SetDelta</label>
        <locationX>468</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>idDeltaCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCompany.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCompany</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLUZ</name>
        <label>SetLUZ</label>
        <locationX>732</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>idLuzCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCompany.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCompany</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Company_Name</name>
        <label>Company Name</label>
        <locationX>732</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>LoopCompany</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delta_Company_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCompany.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDelta</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
        <rules>
            <name>Luz_Company_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCompany.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLUZ</targetReference>
            </connector>
            <label>Luz</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empresa</name>
        <label>Empresa</label>
        <locationX>182</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Atualizar_LUZ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Luz</defaultConnectorLabel>
        <rules>
            <name>Delta_Inside_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountValue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Delta_Inside_Sales</targetReference>
            </connector>
            <label>Delta Inside Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>MGM</name>
        <label>MGM</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Busca_dados_do_Cep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MGM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FLUXO_MGM</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parceiro</name>
        <label>É Parceiro?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>MGM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cupom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_Parceiros</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Possui_Numero_de_Instala_o</name>
        <label>Possui Numero de Instalação</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Insere_0_na_Instal_o</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumeroInstalacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empresa</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Atualiza_o</name>
        <label>Tipo de Atualização</label>
        <locationX>380</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Geral</defaultConnectorLabel>
        <rules>
            <name>Novo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parceiro</targetReference>
            </connector>
            <label>Novo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <label>{Pre-Lead}-Create ADS</label>
    <loops>
        <name>LoopCompany</name>
        <label>LoopCompany</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <collectionReference>GetCompany</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Company_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tipo_de_Atualiza_o</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCompany</name>
        <label>GetCompany</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCompany</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Company__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_dados_do_CEP</name>
        <label>Atualiza dados do CEP</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Possui_Numero_de_Instala_o</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Busca_dados_do_Cep.logradouro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Busca_dados_do_Cep.cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Busca_dados_do_Cep.Distribuidora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Busca_dados_do_Cep.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Busca_dados_do_Cep.UF</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Delta_Inside_Sales</name>
        <label>Atualizar Delta Inside Sales</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>idDeltaCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005HY000000UVLfYAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004LmEYAU</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_LUZ</name>
        <label>Atualizar LUZ</label>
        <locationX>314</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Criar_o_Contato</targetReference>
        </connector>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>idLuzCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004Lm9YAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Insere_0_na_Instal_o</name>
        <label>Insere 0 na Instalção</label>
        <locationX>270</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Empresa</targetReference>
        </connector>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCompany</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InformationSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ADS</stringValue>
            </value>
        </filters>
        <object>PreLead__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Busca_dados_do_Cep</name>
        <label>Busca dados do Cep</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Atualiza_dados_do_CEP</targetReference>
        </connector>
        <flowName>Subfluxo_Buscar_CEP</flowName>
        <inputAssignments>
            <name>CEP</name>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Criar_o_Contato</name>
        <label>Criar o Contato</label>
        <locationX>314</locationX>
        <locationY>2363</locationY>
        <flowName>Subfluxo_prelead_cricao_de_contato</flowName>
        <inputAssignments>
            <name>Record_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FLUXO_MGM</name>
        <label>FLUXO MGM</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Busca_dados_do_Cep</targetReference>
        </connector>
        <flowName>Atualizar_MGM</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fluxo_Parceiros</name>
        <label>Fluxo Parceiros</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>MGM</targetReference>
        </connector>
        <flowName>SUBFLOW_pr_lead_createParceiros</flowName>
        <inputAssignments>
            <name>Cupom</name>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>idDeltaCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idLuzCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
