force-app/main/default/flows/Pre_Lead_Main_Update_Geral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Altera_o_de_contrato1</name>
        <label>Alteração de contrato</label>
        <locationX>776</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Converte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2) or (1 AND 3) or (1 and 2 and 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hired__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContratoGerado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Altera_o_de_contrato1_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Altera_o_de_contrato1_0</name>
        <label>Alteração de contrato</label>
        <locationX>402</locationX>
        <locationY>1778</locationY>
        <defaultConnectorLabel>Não altera</defaultConnectorLabel>
        <rules>
            <name>Contrato_Assinado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valida_se_j_h_Lead</targetReference>
            </connector>
            <label>Contrato Assinado</label>
        </rules>
        <rules>
            <name>Contrato_Gerado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContratoGerado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valida_se_j_h_Lead_0</targetReference>
            </connector>
            <label>Contrato Gerado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alterado_MGM</name>
        <label>Alterado MGM</label>
        <locationX>776</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Cupom_Alterado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medium__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MGM</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Apto_pra_Cadencia</name>
        <label>Apto pra Cadência?</label>
        <locationX>783</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>Grupo_Economico_Pre_Lead_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim_Apto_pra_Cadencia</name>
            <conditionLogic>((1 AND 2 AND 3) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_Liberdade_total__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_Liberdade_total__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Desconto_Ofertado_Liberdade_total__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreLead_Fluxo_de_Cadencia</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Converte</name>
        <label>Converte</label>
        <locationX>1150</locationX>
        <locationY>1778</locationY>
        <defaultConnectorLabel>Não Converte</defaultConnectorLabel>
        <rules>
            <name>Delta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DELTA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualificado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_de_Convers_o</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
        <rules>
            <name>LUZ_Fluxo_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fluxo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fluxo__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_de_Convers_o</targetReference>
            </connector>
            <label>LUZ- Fluxo Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cupom_Alterado</name>
        <label>Cupom Alterado</label>
        <locationX>776</locationX>
        <locationY>1370</locationY>
        <defaultConnector>
            <targetReference>Altera_o_de_contrato1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cupom__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_Parceiro</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>MGM</name>
        <label>é MGM</label>
        <locationX>622</locationX>
        <locationY>986</locationY>
        <defaultConnector>
            <targetReference>Cupom_Alterado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MGM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_MGM</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_se_j_h_Lead</name>
        <label>Valida se já há Lead</label>
        <locationX>94</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>Nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Status</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_se_j_h_Lead_0</name>
        <label>Valida se já há Lead</label>
        <locationX>446</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>Nao_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Status_0</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Cepsemtraco</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!$Record.CEP__c}, &quot;-&quot;),
    SUBSTITUTE({!$Record.CEP__c}, &quot;-&quot;, &quot;&quot;),
    {!$Record.CEP__c}
)</expression>
    </formulas>
    <formulas>
        <name>EconomicGroupRemoved</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Record__Prior.EconomicGroup__c} &lt;&gt; null,
{!$Record.EconomicGroup__c} = null
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>[Pre-Lead]- Main Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Pre-Lead]- Main Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualizar_Status</name>
        <label>Atualizar Status</label>
        <locationX>94</locationX>
        <locationY>2078</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Convertido</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Status_0</name>
        <label>Atualizar Status</label>
        <locationX>446</locationX>
        <locationY>2078</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Contrato Gerado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>667</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Apto_pra_Cadencia</targetReference>
        </connector>
        <object>PreLead__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fluxo_de_Convers_o</name>
        <label>Fluxo de Conversão</label>
        <locationX>1150</locationX>
        <locationY>2078</locationY>
        <flowName>Subfluxo_pr_lead_convers_o_para_lead</flowName>
        <inputAssignments>
            <name>Record_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fluxo_MGM</name>
        <label>Fluxo MGM</label>
        <locationX>490</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Cupom_Alterado</targetReference>
        </connector>
        <flowName>Atualizar_MGM</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fluxo_Parceiro</name>
        <label>Fluxo Parceiro</label>
        <locationX>644</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Altera_o_de_contrato1</targetReference>
        </connector>
        <flowName>SUBFLOW_pr_lead_createParceiros</flowName>
        <inputAssignments>
            <name>Cupom</name>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Grupo_Economico_Pre_Lead_Updates</name>
        <label>[Grupo Economico] Pré-Lead Updates</label>
        <locationX>782</locationX>
        <locationY>730</locationY>
        <connector>
            <targetReference>Alterado_MGM</targetReference>
        </connector>
        <flowName>FWEconomicGroupPreLeadUpdates</flowName>
        <inputAssignments>
            <name>idEconomicGroup</name>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EconomicGroupRemoved</name>
            <value>
                <elementReference>EconomicGroupRemoved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>idOldEconomicGroup</name>
            <value>
                <elementReference>$Record__Prior.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PreLead_Fluxo_de_Cadencia</name>
        <label>[PreLead] Fluxo de Cadência</label>
        <locationX>644</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>Grupo_Economico_Pre_Lead_Updates</targetReference>
        </connector>
        <flowName>FWPreLeadCustomCadence</flowName>
        <inputAssignments>
            <name>prelead</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PreLeadStatusPriorValue</name>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>idDeltaCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idLuzCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
