force-app/main/default/flows/Pre_Lead_Main_Update_Geral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Atribui_Fatura</name>
        <label>Atribui Fatura</label>
        <locationX>600</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_fatura.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Classifica_o__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Classifica_o__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Consumo_Historico__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConsumoHistorico__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Consumo_Mensal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConsumoMensal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Consumo_Utilizado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConsumoUtilizado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Link_Download__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Link_Download__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Mensagem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mensagem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Valor_da_Fatura_R__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Valor_da_Fatura__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Volume_considerado_para_estudo_kWh__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Distribuidora__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distribuidora__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Nome_do_Arquivo_anexo_com_extens_o__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Fatura_Anexada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fatura_Anexada__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Fatura_Processada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fatura_Processada__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Erro_Leitura_Fatura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ErroLeituraFatura__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Tarifa_Bancaria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tarifa_Branca__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Baixa_Renda__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Baixa_Renda__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Multa_da_Distribuidora__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssessmentDistributor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Erro_Gen_rico_de_Simula_o__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ErroGenericoSimulacao__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Consumo_Abaixo_do_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConsumoAbaixoRange__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Distribuidora_n_o_Atendida__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Erros__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Erros__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Score_Serasa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ScoreSerasa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_fatura.Origem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InformationSource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Fatura</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Altera_o_de_contrato1</name>
        <label>Alteração de contrato</label>
        <locationX>732</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>Converte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2) or (1 AND 3) or (1 and 2 and 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hired__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContratoGerado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Altera_o_de_contrato1_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Altera_o_de_contrato1_0</name>
        <label>Alteração de contrato</label>
        <locationX>358</locationX>
        <locationY>2447</locationY>
        <defaultConnectorLabel>Não altera</defaultConnectorLabel>
        <rules>
            <name>Contrato_Assinado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valida_se_j_h_Lead</targetReference>
            </connector>
            <label>Contrato Assinado</label>
        </rules>
        <rules>
            <name>Contrato_Gerado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContratoGerado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valida_se_j_h_Lead_0</targetReference>
            </connector>
            <label>Contrato Gerado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alterado_MGM</name>
        <label>Alterado MGM</label>
        <locationX>732</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Cupom_Alterado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medium__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MGM</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Apto_pra_Cadencia</name>
        <label>Apto pra Cadência?</label>
        <locationX>732</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Grupo_Economico_Pre_Lead_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim_Apto_pra_Cadencia</name>
            <conditionLogic>((1 AND 2 AND 3) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_Liberdade_total__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_Liberdade_total__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Desconto_Ofertado_Liberdade_total__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreLead_Fluxo_de_Cadencia</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Converte</name>
        <label>Converte</label>
        <locationX>1106</locationX>
        <locationY>2447</locationY>
        <defaultConnectorLabel>Não Converte</defaultConnectorLabel>
        <rules>
            <name>Delta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DELTA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualificado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_de_Convers_o</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
        <rules>
            <name>LUZ_Fluxo_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fluxo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fluxo__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_de_Convers_o</targetReference>
            </connector>
            <label>LUZ- Fluxo Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cupom_Alterado</name>
        <label>Cupom Alterado</label>
        <locationX>732</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Altera_o_de_contrato1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cupom__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_Parceiro</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Link_Download_Alterado</name>
        <label>Link Download Alterado?</label>
        <locationX>732</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Telefone_Alterado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim234567</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Link_Download__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Link_Download__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_fatura</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>MGM</name>
        <label>é MGM</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Cupom_Alterado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MGM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_MGM</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Telefone_Alterado</name>
        <label>Telefone Alterado</label>
        <locationX>732</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Apto_pra_Cadencia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>adshfkjasbdfjb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PhoneNumber__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Telefone</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_se_j_h_Lead</name>
        <label>Valida se já há Lead</label>
        <locationX>50</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>Nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Status</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_se_j_h_Lead_0</name>
        <label>Valida se já há Lead</label>
        <locationX>402</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>Nao_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Status_0</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EconomicGroupRemoved</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Record__Prior.EconomicGroup__c} &lt;&gt; null,
{!$Record.EconomicGroup__c} = null
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>TelefoneFormatado</name>
        <dataType>String</dataType>
        <expression>IF(
    LEN({!$Record.PhoneNumber__c}) = 12 &amp;&amp; LEFT({!$Record.PhoneNumber__c}, 4) = &quot;5541&quot;,
    LEFT({!$Record.PhoneNumber__c}, 4) &amp; &quot;9&quot; &amp; MID({!$Record.PhoneNumber__c}, 5, 8),
    {!$Record.PhoneNumber__c}
)</expression>
    </formulas>
    <interviewLabel>[Pre-Lead]- Main Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Pre-Lead]- Main Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_fatura</name>
        <label>Get fatura</label>
        <locationX>600</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_Fatura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pr_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fatura_Distribuidora__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Fatura</name>
        <label>Atualiza Fatura</label>
        <locationX>600</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Telefone_Alterado</targetReference>
        </connector>
        <inputReference>Get_fatura</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Telefone</name>
        <label>Atualiza Telefone</label>
        <locationX>600</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Apto_pra_Cadencia</targetReference>
        </connector>
        <inputAssignments>
            <field>Telefone_MKT__c</field>
            <value>
                <elementReference>TelefoneFormatado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Status</name>
        <label>Atualizar Status</label>
        <locationX>50</locationX>
        <locationY>2747</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Convertido</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Status_0</name>
        <label>Atualizar Status</label>
        <locationX>402</locationX>
        <locationY>2747</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Contrato Gerado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Link_Download_Alterado</targetReference>
        </connector>
        <object>PreLead__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fluxo_de_Convers_o</name>
        <label>Fluxo de Conversão</label>
        <locationX>1106</locationX>
        <locationY>2747</locationY>
        <flowName>Subfluxo_pr_lead_convers_o_para_lead</flowName>
        <inputAssignments>
            <name>Record_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fluxo_MGM</name>
        <label>Fluxo MGM</label>
        <locationX>446</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Cupom_Alterado</targetReference>
        </connector>
        <flowName>Atualizar_MGM</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fluxo_Parceiro</name>
        <label>Fluxo Parceiro</label>
        <locationX>600</locationX>
        <locationY>2147</locationY>
        <connector>
            <targetReference>Altera_o_de_contrato1</targetReference>
        </connector>
        <flowName>SUBFLOW_pr_lead_createParceiros</flowName>
        <inputAssignments>
            <name>Cupom</name>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Grupo_Economico_Pre_Lead_Updates</name>
        <label>[Grupo Economico] Pré-Lead Updates</label>
        <locationX>732</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Alterado_MGM</targetReference>
        </connector>
        <flowName>FWEconomicGroupPreLeadUpdates</flowName>
        <inputAssignments>
            <name>EconomicGroupRemoved</name>
            <value>
                <elementReference>EconomicGroupRemoved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>idEconomicGroup</name>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>idOldEconomicGroup</name>
            <value>
                <elementReference>$Record__Prior.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PreLead_Fluxo_de_Cadencia</name>
        <label>[PreLead] Fluxo de Cadência</label>
        <locationX>600</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Grupo_Economico_Pre_Lead_Updates</targetReference>
        </connector>
        <flowName>FWLeadCustomCadence</flowName>
        <inputAssignments>
            <name>LeadStatusPriorValue</name>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>idDeltaCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idLuzCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
