force-app/main/default/flows/Pre_Lead_Main_Update_Geral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Cep</name>
        <label>Get Cep</label>
        <locationX>1084</locationX>
        <locationY>384</locationY>
        <actionName>BuscaCep.ObterCep</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Localizou_distribuidora</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BuscaCep.ObterCep</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Alterado_MGM</name>
        <label>Alterado MGM</label>
        <locationX>380</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Verifica_Regi_o_Light</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medium__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MGM</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Apto_pra_Cadencia</name>
        <label>Apto pra Cadência?</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Grupo_Economico_Pre_Lead_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim_Apto_pra_Cadencia</name>
            <conditionLogic>((1 AND 2 AND 3) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_Liberdade_total__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Desconto_Ofertado_Liberdade_total__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Desconto_Ofertado_Liberdade_total__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreLead_Fluxo_de_Cadencia</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>BlockListadsfasdf</name>
        <label>BlockList?</label>
        <locationX>1084</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>sadhfasdfhjkasldf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BlockList.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desqualificar</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continuo_tendo_Cupom</name>
        <label>Continuo tendo Cupom</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Tira_Fleg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cupom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_Parceiro</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cupom_Alterado</name>
        <label>Cupom Alterado</label>
        <locationX>380</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Alterado_MGM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cupom__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Continuo_tendo_Cupom</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Distribuidora_Atentida</name>
        <label>Distribuidora Atentida?</label>
        <locationX>886</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Pr_Lead_N_o_Atendido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Simasdfsadfadsf</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cep.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1246.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cep.2XX.complemento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1251</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cep.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1232.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cep.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1261.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cep.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1067.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cep.2XX.idDistribuidora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1071.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Pr_Lead_N_o_Atendido</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Localizou_distribuidora</name>
        <label>Localizou distribuidora?</label>
        <locationX>1084</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>N_o_Localizada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Simsdfsadf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cep.2XX.nomeFantasia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distribuidora_Atentida</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>MGM</name>
        <label>é MGM</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>C_pia_2_de_Tira_Fleg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MGM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fluxo_MGM</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_Regi_o_Light</name>
        <label>Verifica Região Light</label>
        <locationX>380</locationX>
        <locationY>1668</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Light</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Regi_o</targetReference>
            </connector>
            <label>Light</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_se_ADS</name>
        <label>Verifica se é ADS</label>
        <locationX>1315</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ADS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InformationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cep</targetReference>
            </connector>
            <label>ADS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Cepsemtraco</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!$Record.CEP__c}, &quot;-&quot;),
    SUBSTITUTE({!$Record.CEP__c}, &quot;-&quot;, &quot;&quot;),
    {!$Record.CEP__c}
)</expression>
    </formulas>
    <formulas>
        <name>EconomicGroupRemoved</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Record__Prior.EconomicGroup__c} &lt;&gt; null,
{!$Record.EconomicGroup__c} = null
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>TelefoneFormatado</name>
        <dataType>String</dataType>
        <expression>IF(
    LEN({!$Record.PhoneNumber__c}) = 12 &amp;&amp; LEFT({!$Record.PhoneNumber__c}, 4) = &quot;5541&quot;,
    LEFT({!$Record.PhoneNumber__c}, 4) &amp; &quot;9&quot; &amp; MID({!$Record.PhoneNumber__c}, 5, 8),
    {!$Record.PhoneNumber__c}
)</expression>
    </formulas>
    <interviewLabel>[Pre-Lead]- Main Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Pre-Lead]- Main Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BlockList</name>
        <label>BlockList</label>
        <locationX>1084</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BlockListadsfasdf</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cepsemtraco</elementReference>
            </value>
        </filters>
        <filters>
            <field>Empresa_do_Grupo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BlockList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Regi_o</name>
        <label>Get Região</label>
        <locationX>248</locationX>
        <locationY>1776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_Regi_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Regiao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Regi_o</name>
        <label>Atualiza Região</label>
        <locationX>248</locationX>
        <locationY>1884</locationY>
        <inputAssignments>
            <field>Regiao__c</field>
            <value>
                <elementReference>Get_Regi_o.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_1_de_Pr_Lead_N_o_Atendido</name>
        <label>Pré Lead Atendido</label>
        <locationX>754</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>BlockList</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Get_Cep.2XX.logradouroCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Cep.2XX.cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraNaoAtendida__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Get_Cep.2XX.nomeFantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Get_Cep.2XX.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Get_Cep.2XX.uf</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_2_de_Tira_Fleg</name>
        <label>Tira Fleg</label>
        <locationX>314</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>Verifica_Regi_o_Light</targetReference>
        </connector>
        <inputAssignments>
            <field>MGM__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Desqualificar</name>
        <label>Desqualificar</label>
        <locationX>952</locationX>
        <locationY>1200</locationY>
        <inputAssignments>
            <field>Data_de_Desqualificacao__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraNaoAtendida__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fora_da_rea_de_Cobertura__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_Desqualifica_o__c</field>
            <value>
                <stringValue>Distribuidora não atendida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_o_da_Desqualifica_o__c</field>
            <value>
                <stringValue>Blocklist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Desqualificado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>N_o_Localizada</name>
        <label>Não Localizada</label>
        <locationX>1282</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>BlockList</targetReference>
        </connector>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <stringValue>Não Localizada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Pr_Lead_N_o_Atendido</name>
        <label>Pré Lead Não Atendido</label>
        <locationX>1018</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>BlockList</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Get_Cep.2XX.logradouroCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Cep.2XX.cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraNaoAtendida__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Get_Cep.2XX.nomeFantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Get_Cep.2XX.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Get_Cep.2XX.uf</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Tira_Fleg</name>
        <label>Tira Fleg</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Alterado_MGM</targetReference>
        </connector>
        <inputAssignments>
            <field>MGM__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>721</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Apto_pra_Cadencia</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PreLead__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Executar_ap_s_2_min</name>
            <connector>
                <targetReference>Verifica_se_ADS</targetReference>
            </connector>
            <label>Executar após 2 min</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fluxo_MGM</name>
        <label>Fluxo MGM</label>
        <locationX>50</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>Verifica_Regi_o_Light</targetReference>
        </connector>
        <flowName>Atualizar_MGM</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fluxo_Parceiro</name>
        <label>Fluxo Parceiro</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Alterado_MGM</targetReference>
        </connector>
        <flowName>SUBFLOW_pr_lead_createParceiros</flowName>
        <inputAssignments>
            <name>Cupom</name>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Grupo_Economico_Pre_Lead_Updates</name>
        <label>[Grupo Economico] Pré-Lead Updates</label>
        <locationX>380</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Cupom_Alterado</targetReference>
        </connector>
        <flowName>FWEconomicGroupPreLeadUpdates</flowName>
        <inputAssignments>
            <name>idEconomicGroup</name>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EconomicGroupRemoved</name>
            <value>
                <elementReference>EconomicGroupRemoved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>idOldEconomicGroup</name>
            <value>
                <elementReference>$Record__Prior.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PreLead_Fluxo_de_Cadencia</name>
        <label>[PreLead] Fluxo de Cadência</label>
        <locationX>248</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Grupo_Economico_Pre_Lead_Updates</targetReference>
        </connector>
        <flowName>FWPreLeadCustomCadence</flowName>
        <inputAssignments>
            <name>prelead</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PreLeadStatusPriorValue</name>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>idDeltaCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idLuzCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
