force-app/main/default/flows/preleadmaincreateluz.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Empresa_do_Grupo</name>
        <label>Empresa do Grupo</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Pre_Lead_Luz</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Delta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountValue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Produto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InformationSource__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AreaLogada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_Lead_Delta</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grupo_Economico</name>
        <label>Grupo Economico?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Tem_n_mero_de_Instala_o</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EconomicGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grupo_Economico_Pr_Lead_Updates</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Possui_Telefone</name>
        <label>Possui Telefone</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Pr_Lead_Convers_o_em_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim3456</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PhoneNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Locale_e_telefone</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tem_n_mero_de_Instala_o</name>
        <label>Tem número de Instalação</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Localiza_Id_Empresa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumeroInstalacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_N_mero_instala_o</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TelefoneFormatado</name>
        <dataType>String</dataType>
        <expression>IF(
    LEN({!$Record.PhoneNumber__c}) = 12 &amp;&amp; LEFT({!$Record.PhoneNumber__c}, 4) = &quot;5541&quot;,
    LEFT({!$Record.PhoneNumber__c}, 4) &amp; &quot;9&quot; &amp; MID({!$Record.PhoneNumber__c}, 5, 8),
    {!$Record.PhoneNumber__c}
)</expression>
    </formulas>
    <interviewLabel>[Pré-Lead] - Main Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Pré-Lead] - Main Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_N_mero_instala_o</name>
        <label>Add Número instalação</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Localiza_Id_Empresa</targetReference>
        </connector>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atribui_Locale_e_telefone</name>
        <label>Atribui Locale e telefone</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Pr_Lead_Convers_o_em_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>PhoneNumber__c</field>
            <value>
                <elementReference>TelefoneFormatado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_MKT__c</field>
            <value>
                <elementReference>TelefoneFormatado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locale__c</field>
            <value>
                <stringValue>BR</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Pre_Lead_Delta</name>
        <label>Pre Lead Delta</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Possui_Telefone</targetReference>
        </connector>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>IdDelta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005TT000009UO7lYAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004LmEYAU</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Pre_Lead_Luz</name>
        <label>Pre Lead Luz</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Possui_Telefone</targetReference>
        </connector>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>IDLuz</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004Lm9YAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Grupo_Economico</targetReference>
        </connector>
        <object>PreLead__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Grupo_Economico_Pr_Lead_Updates</name>
        <label>[Grupo Economico] Pré-Lead Updates</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Tem_n_mero_de_Instala_o</targetReference>
        </connector>
        <flowName>FWEconomicGroupPreLeadUpdates</flowName>
        <inputAssignments>
            <name>idEconomicGroup</name>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Localiza_Id_Empresa</name>
        <label>Localiza Id Empresa</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Empresa_do_Grupo</targetReference>
        </connector>
        <flowName>Subflow_Determinacao_Id_Empresa</flowName>
        <outputAssignments>
            <assignToReference>IdDelta</assignToReference>
            <name>idDeltaEmpresa</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDLuz</assignToReference>
            <name>idLuzEmpresa</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Pr_Lead_Convers_o_em_Lead</name>
        <label>[Pré Lead] Conversão em Lead</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <flowName>Pr_Lead_Convers_oa_em_Lead</flowName>
        <inputAssignments>
            <name>varIDPrelead</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>IdDelta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDLuz</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
