force-app/main/default/flows/Subflow_Determinacao_Id_Empresa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>SetDelta</name>
        <label>SetDelta</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>idDeltaEmpresa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Empresa.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Empresa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLuz</name>
        <label>SetLuz</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>idLuzEmpresa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Empresa.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Empresa</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Nome_da_Empresa</name>
        <label>Nome da Empresa</label>
        <locationX>528</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_Empresa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Defalut Outcome</defaultConnectorLabel>
        <rules>
            <name>Delta_Empresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Empresa.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDelta</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
        <rules>
            <name>Luz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Empresa.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLuz</targetReference>
            </connector>
            <label>Luz</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>{Subflow} Determinacao Id Empresa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>{Subflow} Determinacao Id Empresa</label>
    <loops>
        <name>Loop_Empresa</name>
        <label>Loop Empresa</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Obter_Empresa</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Nome_da_Empresa</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Empresa</name>
        <label>Obter Empresa</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Empresa</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Company__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Empresa</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idDeltaEmpresa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>idLuzEmpresa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
