force-app/main/default/flows/Subfluxo_Buscar_CEP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Buscar_CEP</name>
        <label>Buscar CEP</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>BuscaCep.ObterCep</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Valores_de_Sa_da</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>CEP</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BuscaCep.ObterCep</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Valores_de_Sa_da</name>
        <label>Valores de Saída</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>UF</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_CEP.2XX.uf</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Distribuidora</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_CEP.2XX.nomeFantasia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>logradouro</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_CEP.2XX.logradouroCompleto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cidade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_CEP.2XX.cidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bairro</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_CEP.2XX.bairro</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Subfluxo - Buscar CEP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subfluxo - Buscar CEP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_CEP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bairro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CEP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cidade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Distribuidora</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>logradouro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
