force-app/main/default/flows/SUBFLOW_Lead_createParceiros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>validar_cupom</name>
        <label>validar cupom</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Obter_Parcerias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_cupom.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atualizar_pr_lead</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_Parcerias</name>
        <label>Validar Parcerias</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Resultado_1_de_Validar_Parcerias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Parcerias.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Parcerias</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SUBFLOW{Lead}-createParceiros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUBFLOW{Lead}-createParceiros</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Compartilhar_Community</name>
        <label>Compartilhar Community</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Record_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Obter_cupom.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obter_cupom</name>
        <label>Obter cupom</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validar_cupom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cupom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cupom</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parceiros_e_Vendedores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Parcerias</name>
        <label>Obter Parcerias</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validar_Parcerias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cupom</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parcerias__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Parcerias</name>
        <label>Atualizar Parcerias</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parceria_Indicado__c</field>
            <value>
                <elementReference>Obter_Parcerias.Nome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parcerias__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>atualizar_pr_lead</name>
        <label>atualizar lead</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Compartilhar_Community</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_cupom.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empresa_Parceira__c</field>
            <value>
                <elementReference>Obter_cupom.Parceiro__r.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_cupom.Nome_Vendedor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>Obter_cupom.Telefone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_cupom</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cupom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
