force-app/main/default/flows/SUBFLOW_pr_lead_createParceiros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>FindAccount</name>
        <label>FindAccount?</label>
        <locationX>957</locationX>
        <locationY>580</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesFindAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountWithMGM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePreLead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>validar_cupom</name>
        <label>validar cupom</label>
        <locationX>769</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>GetAccountWithMGM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_cupom.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atualizar_pr_lead</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SUBFLOW{ pré-lead}-createParceiros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUBFLOW{ pré-lead}-createParceiros</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Compartilhar_Community</name>
        <label>Compartilhar Community</label>
        <locationX>644</locationX>
        <locationY>670</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Record_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Obter_cupom.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccountWithMGM</name>
        <label>GetAccountWithMGM</label>
        <locationX>965</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cupom_MGM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cupom</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_cupom</name>
        <label>Obter cupom</label>
        <locationX>777</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validar_cupom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cupom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cupom</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parceiros_e_Vendedores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>atualizar_pr_lead</name>
        <label>atualizar pré lead</label>
        <locationX>644</locationX>
        <locationY>504</locationY>
        <connector>
            <targetReference>Compartilhar_Community</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_cupom.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>Obter_cupom.Nome_Vendedor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>Obter_cupom.Telefone__c</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePreLead</name>
        <label>UpdatePreLead</label>
        <locationX>965</locationX>
        <locationY>777</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Indicado_MGM_CPF__c</field>
            <value>
                <elementReference>GetAccountWithMGM.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indicado_MGM_Nome__c</field>
            <value>
                <elementReference>GetAccountWithMGM.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MGM__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <start>
        <locationX>651</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obter_cupom</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cupom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
