force-app/main/default/flows/SUBFLOW_preLead_areaAtendida.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>C_pia_2_de_Dentro_da_rea_de_Atua_o</name>
        <label>Dentro da área de Atuação</label>
        <locationX>720</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Nao2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_2_de_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_com_5_primeiros_digitos.Atuacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Sim1</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>CEP_Branco</name>
        <label>CEP é Branco</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Obter_Registros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dentro_da_area_de_Atuacao</name>
        <label>Dentro da área de Atuação</label>
        <locationX>192</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Nao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Registros.Atuacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Sim</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Localizou</name>
        <label>Localizou?</label>
        <locationX>555</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Obter_com_5_primeiros_digitos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Registros.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dentro_da_area_de_Atuacao</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Localizouu</name>
        <label>Localizouu?</label>
        <locationX>918</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Nao1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_com_5_primeiros_digitos.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Dentro_da_rea_de_Atua_o</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CepCompleto</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Cep},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>CepInicio</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!Cep}, FIND(&quot;-&quot;,{!Cep})-1))</expression>
    </formulas>
    <interviewLabel>SUBFLOW{preLead}areaAtendida {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUBFLOW{preLead}areaAtendida</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_com_5_primeiros_digitos</name>
        <label>Obter com 5 primeiros digitos</label>
        <locationX>918</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Localizouu</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>CepInicio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AreaAtendida__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Registros</name>
        <label>Obter Registros</label>
        <locationX>555</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Localizou</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CepCompleto</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AreaAtendida__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Nao</name>
        <label>Atualizar Não</label>
        <locationX>324</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_Registros.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraNaoAtendida__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Obter_Registros.Distribuidora__r.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidorad__c</field>
            <value>
                <elementReference>Obter_Registros.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_Registros.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Nao1</name>
        <label>Atualizar Nao</label>
        <locationX>1116</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <stringValue> Não Localizada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidorad__c</field>
            <value>
                <stringValue> </stringValue>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Nao2</name>
        <label>Atualizar Não</label>
        <locationX>852</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_com_5_primeiros_digitos.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraNaoAtendida__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Obter_com_5_primeiros_digitos.Distribuidora__r.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidorad__c</field>
            <value>
                <elementReference>Obter_com_5_primeiros_digitos.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_com_5_primeiros_digitos.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Sim</name>
        <label>Atualizar Sim</label>
        <locationX>60</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_Registros.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Obter_Registros.Distribuidora__r.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidorad__c</field>
            <value>
                <elementReference>Obter_Registros.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_Registros.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Sim1</name>
        <label>Atualizar Sim</label>
        <locationX>588</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Obter_com_5_primeiros_digitos.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>Obter_com_5_primeiros_digitos.Distribuidora__r.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidorad__c</field>
            <value>
                <elementReference>Obter_com_5_primeiros_digitos.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Obter_com_5_primeiros_digitos.UF__c</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CEP_Branco</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
