force-app/main/default/flows/Subfluxo_pr_lead_convers_o_para_lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Atualizar_Lead</name>
        <label>Atualizar Lead</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Lead_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criar_Lead_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_Pr_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atualizar_Lead_0</name>
        <label>Atualizar Lead</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Lead_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criar_Lead_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_Pr_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atualizar_Lead_0_0</name>
        <label>Atualizar Lead</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Lead_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criar_Lead_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_Pr_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atualizar_Lead_0_0_0</name>
        <label>Atualizar Lead</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Lead_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criar_Lead_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_Pr_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Definir_UC</name>
        <label>Definir UC</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NomedaUC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dados_pr_lead.FantasyName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Empresa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Definir_UC1</name>
        <label>Definir UC</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NomedaUC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dados_pr_lead.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Empresa</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Delta</name>
        <label>Delta</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Criar_Lead_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delta Inside Sales</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dados_pr_lead.Parceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Lead_0_0_0_0</targetReference>
            </connector>
            <label>Delta Parceiro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empresa</name>
        <label>Empresa</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Delta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delta</defaultConnectorLabel>
        <rules>
            <name>LUZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dados_pr_lead.Company__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PF_ou_PJ</targetReference>
            </connector>
            <label>LUZ</label>
        </rules>
    </decisions>
    <decisions>
        <name>PF_ou_PJ</name>
        <label>PF ou PJ</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Criar_Lead_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>pj</defaultConnectorLabel>
        <rules>
            <name>pf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dados_pr_lead.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Lead_0_0</targetReference>
            </connector>
            <label>pf</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_se_existe_Nome_da_UC</name>
        <label>Validar se existe Nome da UC</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Definir_UC1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dados_pr_lead.FantasyName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Definir_UC</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>prname</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!Dados_pr_lead.Name}, FIND(&quot; &quot;, {!Dados_pr_lead.Name})-1))</expression>
    </formulas>
    <formulas>
        <name>sobrenome</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Dados_pr_lead.Name}, LEN({!Dados_pr_lead.Name}) - FIND (&quot; &quot;, {!Dados_pr_lead.Name}))</expression>
    </formulas>
    <interviewLabel>Subfluxo{prélead}-conversão para lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subfluxo{pré-lead}-conversão para lead</label>
    <loops>
        <name>Atualizar_Casos</name>
        <label>Atualizar Casos</label>
        <locationX>446</locationX>
        <locationY>1766</locationY>
        <collectionReference>Obter_Casos_Relacionados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atualizar_Casos1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obter_Usu_rio_do_Messaging</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Atualizar_chat</name>
        <label>Atualizar chat</label>
        <locationX>446</locationX>
        <locationY>2798</locationY>
        <collectionReference>Obter_Sess_es_do_Chat</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atualizar_Sess_es_do_Chat</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obter_Anexo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Atualizar_Contatos</name>
        <label>Atualizar Contatos</label>
        <locationX>446</locationX>
        <locationY>1358</locationY>
        <collectionReference>Contatos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atualizar_Contato</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obter_Casos_Relacionados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Atualizar_Sess_es_Messaging</name>
        <label>Atualizar Sessões Messaging</label>
        <locationX>446</locationX>
        <locationY>2390</locationY>
        <collectionReference>Sess_o_do_Messaging</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atualizar_Messaging</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obter_Sess_es_do_Chat</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Validar_Arquivos</name>
        <label>Validar Arquivos</label>
        <locationX>446</locationX>
        <locationY>3206</locationY>
        <collectionReference>Obter_Anexo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Criar_Anexo</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Anexo</name>
        <label>Criar Anexo</label>
        <locationX>534</locationX>
        <locationY>3314</locationY>
        <connector>
            <targetReference>Validar_Arquivos</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Validar_Arquivos.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Lead_id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_Lead_0_0</name>
        <label>Criar Lead</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Atualizar_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Dados_pr_lead.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>Dados_pr_lead.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>Dados_pr_lead.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>Dados_pr_lead.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>Dados_pr_lead.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>Dados_pr_lead.CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONSUMO__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoKwh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Dados_pr_lead.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancelado__c</field>
            <value>
                <elementReference>Dados_pr_lead.Cancelado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Dados_pr_lead.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente_Livre__c</field>
            <value>
                <elementReference>Dados_pr_lead.Cliente_Livre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercialuz__c</field>
            <value>
                <elementReference>Dados_pr_lead.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>NomedaUC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Dados_pr_lead.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>Dados_pr_lead.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoMensal__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Abaixo_do_Range__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoAbaixoRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>Dados_pr_lead.Hired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>Dados_pr_lead.ContratoGerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>Dados_pr_lead.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>Dados_pr_lead.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Simulacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.DateSimulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_de_Desqualificacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.Data_de_Desqualificacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_Cancelamento__c</field>
            <value>
                <elementReference>Dados_pr_lead.Data_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>Dados_pr_lead.DateContratado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_gerado__c</field>
            <value>
                <elementReference>Dados_pr_lead.DateContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_1_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisqualifiedLead__c</field>
            <value>
                <elementReference>Dados_pr_lead.Motivo_Desqualifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualified__c</field>
            <value>
                <elementReference>Dados_pr_lead.Observa_o_da_Desqualifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Dados_pr_lead.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>Dados_pr_lead.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Dados_pr_lead.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>Dados_pr_lead.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Dados_pr_lead.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>Dados_pr_lead.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>Dados_pr_lead.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>Dados_pr_lead.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>Dados_pr_lead.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>Dados_pr_lead.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>Dados_pr_lead.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>Dados_pr_lead.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>prname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>Dados_pr_lead.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Dados_pr_lead.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>Dados_pr_lead.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuidArquivoDaDigitalizacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Dados_pr_lead.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Dados_pr_lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>Dados_pr_lead.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sobrenome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>Dados_pr_lead.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>Dados_pr_lead.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>Dados_pr_lead.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_do_Cancelamento__c</field>
            <value>
                <elementReference>Dados_pr_lead.Motivo_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_Da_distribuidora__c</field>
            <value>
                <elementReference>Dados_pr_lead.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>Dados_pr_lead.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>Dados_pr_lead.N_o_Incomodar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>Dados_pr_lead.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>Dados_pr_lead.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Dados_pr_lead.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>Dados_pr_lead.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>Dados_pr_lead.Observa_es_Gerais_de_Cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>Dados_pr_lead.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>Dados_pr_lead.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>Dados_pr_lead.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Dados_pr_lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFPJ__c</field>
            <value>
                <elementReference>Dados_pr_lead.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>Dados_pr_lead.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Dados_pr_lead.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_second__c</field>
            <value>
                <elementReference>Dados_pr_lead.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>Dados_pr_lead.Possivel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>Dados_pr_lead.Prazo_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Dados_pr_lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Dados_pr_lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>Dados_pr_lead.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnidtsNegotiable__c</field>
            <value>
                <elementReference>Dados_pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>Dados_pr_lead.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IC2YAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Dados_pr_lead.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto5anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>Dados_pr_lead.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>Dados_pr_lead.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SimulacoesRealizadas__c</field>
            <value>
                <elementReference>Dados_pr_lead.simulacoes_realizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Dados_pr_lead.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>Dados_pr_lead.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>Dados_pr_lead.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>Dados_pr_lead.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Dados_pr_lead.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>Dados_pr_lead.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>Dados_pr_lead.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalUnitsQuantity__c</field>
            <value>
                <elementReference>Dados_pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Dados_pr_lead.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>Dados_pr_lead.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>Dados_pr_lead.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura__c</field>
            <value>
                <elementReference>Dados_pr_lead.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>Dados_pr_lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>Dados_pr_lead.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_Lead_0_0_0</name>
        <label>Criar Lead</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Atualizar_Lead_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Dados_pr_lead.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>Dados_pr_lead.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>Dados_pr_lead.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>Dados_pr_lead.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>Dados_pr_lead.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>Dados_pr_lead.CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONSUMO__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoKwh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Dados_pr_lead.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancelado__c</field>
            <value>
                <elementReference>Dados_pr_lead.Cancelado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Dados_pr_lead.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente_Livre__c</field>
            <value>
                <elementReference>Dados_pr_lead.Cliente_Livre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercialuz__c</field>
            <value>
                <elementReference>Dados_pr_lead.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>NomedaUC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Dados_pr_lead.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>Dados_pr_lead.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoMensal__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Abaixo_do_Range__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoAbaixoRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>Dados_pr_lead.Hired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>Dados_pr_lead.ContratoGerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>Dados_pr_lead.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>Dados_pr_lead.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Simulacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.DateSimulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_de_Desqualificacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.Data_de_Desqualificacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_Cancelamento__c</field>
            <value>
                <elementReference>Dados_pr_lead.Data_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>Dados_pr_lead.DateContratado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_gerado__c</field>
            <value>
                <elementReference>Dados_pr_lead.DateContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_1_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisqualifiedLead__c</field>
            <value>
                <elementReference>Dados_pr_lead.Motivo_Desqualifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualified__c</field>
            <value>
                <elementReference>Dados_pr_lead.Observa_o_da_Desqualifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Dados_pr_lead.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>Dados_pr_lead.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Dados_pr_lead.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>Dados_pr_lead.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Dados_pr_lead.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>Dados_pr_lead.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>Dados_pr_lead.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>Dados_pr_lead.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>Dados_pr_lead.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>Dados_pr_lead.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>Dados_pr_lead.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>Dados_pr_lead.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>prname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>Dados_pr_lead.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Dados_pr_lead.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>Dados_pr_lead.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuidArquivoDaDigitalizacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Dados_pr_lead.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Dados_pr_lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>Dados_pr_lead.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sobrenome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>Dados_pr_lead.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>Dados_pr_lead.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>Dados_pr_lead.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_do_Cancelamento__c</field>
            <value>
                <elementReference>Dados_pr_lead.Motivo_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_Da_distribuidora__c</field>
            <value>
                <elementReference>Dados_pr_lead.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>Dados_pr_lead.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>Dados_pr_lead.N_o_Incomodar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>Dados_pr_lead.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>Dados_pr_lead.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Dados_pr_lead.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>Dados_pr_lead.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>Dados_pr_lead.Observa_es_Gerais_de_Cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>Dados_pr_lead.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>Dados_pr_lead.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>Dados_pr_lead.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Dados_pr_lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFPJ__c</field>
            <value>
                <elementReference>Dados_pr_lead.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>Dados_pr_lead.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Dados_pr_lead.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_second__c</field>
            <value>
                <elementReference>Dados_pr_lead.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>Dados_pr_lead.Possivel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>Dados_pr_lead.Prazo_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Dados_pr_lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Dados_pr_lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>Dados_pr_lead.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnidtsNegotiable__c</field>
            <value>
                <elementReference>Dados_pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>Dados_pr_lead.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IBxYAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Dados_pr_lead.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto5anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>Dados_pr_lead.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>Dados_pr_lead.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SimulacoesRealizadas__c</field>
            <value>
                <elementReference>Dados_pr_lead.simulacoes_realizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Dados_pr_lead.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>Dados_pr_lead.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>Dados_pr_lead.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>Dados_pr_lead.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Dados_pr_lead.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>Dados_pr_lead.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>Dados_pr_lead.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalUnitsQuantity__c</field>
            <value>
                <elementReference>Dados_pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Dados_pr_lead.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>Dados_pr_lead.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>Dados_pr_lead.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura__c</field>
            <value>
                <elementReference>Dados_pr_lead.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>Dados_pr_lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>Dados_pr_lead.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_Lead_0_0_0_0</name>
        <label>Criar Lead</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Atualizar_Lead_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Dados_pr_lead.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>Dados_pr_lead.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>Dados_pr_lead.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>Dados_pr_lead.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>Dados_pr_lead.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>Dados_pr_lead.CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONSUMO__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoKwh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Dados_pr_lead.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancelado__c</field>
            <value>
                <elementReference>Dados_pr_lead.Cancelado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Dados_pr_lead.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente_Livre__c</field>
            <value>
                <elementReference>Dados_pr_lead.Cliente_Livre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercialuz__c</field>
            <value>
                <elementReference>Dados_pr_lead.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>NomedaUC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Dados_pr_lead.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>Dados_pr_lead.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoMensal__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Abaixo_do_Range__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoAbaixoRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>Dados_pr_lead.Hired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>Dados_pr_lead.ContratoGerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>Dados_pr_lead.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>Dados_pr_lead.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Simulacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.DateSimulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_de_Desqualificacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.Data_de_Desqualificacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_Cancelamento__c</field>
            <value>
                <elementReference>Dados_pr_lead.Data_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>Dados_pr_lead.DateContratado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_gerado__c</field>
            <value>
                <elementReference>Dados_pr_lead.DateContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_1_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisqualifiedLead__c</field>
            <value>
                <elementReference>Dados_pr_lead.Motivo_Desqualifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualified__c</field>
            <value>
                <elementReference>Dados_pr_lead.Observa_o_da_Desqualifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Dados_pr_lead.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>Dados_pr_lead.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Dados_pr_lead.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>Dados_pr_lead.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Dados_pr_lead.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>Dados_pr_lead.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>Dados_pr_lead.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>Dados_pr_lead.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>Dados_pr_lead.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>Dados_pr_lead.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>Dados_pr_lead.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>Dados_pr_lead.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>prname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>Dados_pr_lead.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Dados_pr_lead.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>Dados_pr_lead.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuidArquivoDaDigitalizacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Dados_pr_lead.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Dados_pr_lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>Dados_pr_lead.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sobrenome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>Dados_pr_lead.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>Dados_pr_lead.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>Dados_pr_lead.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_do_Cancelamento__c</field>
            <value>
                <elementReference>Dados_pr_lead.Motivo_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_Da_distribuidora__c</field>
            <value>
                <elementReference>Dados_pr_lead.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>Dados_pr_lead.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>Dados_pr_lead.N_o_Incomodar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>Dados_pr_lead.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>Dados_pr_lead.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Dados_pr_lead.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>Dados_pr_lead.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>Dados_pr_lead.Observa_es_Gerais_de_Cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>Dados_pr_lead.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>Dados_pr_lead.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>Dados_pr_lead.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Dados_pr_lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFPJ__c</field>
            <value>
                <elementReference>Dados_pr_lead.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>Dados_pr_lead.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Dados_pr_lead.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_second__c</field>
            <value>
                <elementReference>Dados_pr_lead.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>Dados_pr_lead.Possivel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>Dados_pr_lead.Prazo_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Dados_pr_lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Dados_pr_lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>Dados_pr_lead.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnidtsNegotiable__c</field>
            <value>
                <elementReference>Dados_pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>Dados_pr_lead.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004KC3YAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Dados_pr_lead.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto5anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>Dados_pr_lead.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>Dados_pr_lead.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SimulacoesRealizadas__c</field>
            <value>
                <elementReference>Dados_pr_lead.simulacoes_realizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Dados_pr_lead.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>Dados_pr_lead.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Estudo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>Dados_pr_lead.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>Dados_pr_lead.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Dados_pr_lead.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>Dados_pr_lead.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>Dados_pr_lead.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalUnitsQuantity__c</field>
            <value>
                <elementReference>Dados_pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Dados_pr_lead.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>Dados_pr_lead.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>Dados_pr_lead.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura__c</field>
            <value>
                <elementReference>Dados_pr_lead.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>Dados_pr_lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>Dados_pr_lead.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_Lead_0_0_0_0_0</name>
        <label>Criar Lead</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Atualizar_Lead_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Dados_pr_lead.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>Dados_pr_lead.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>Dados_pr_lead.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>Dados_pr_lead.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>Dados_pr_lead.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>Dados_pr_lead.CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONSUMO__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoKwh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Dados_pr_lead.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancelado__c</field>
            <value>
                <elementReference>Dados_pr_lead.Cancelado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Dados_pr_lead.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente_Livre__c</field>
            <value>
                <elementReference>Dados_pr_lead.Cliente_Livre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercialuz__c</field>
            <value>
                <elementReference>Dados_pr_lead.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>NomedaUC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Dados_pr_lead.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>Dados_pr_lead.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoMensal__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoMensal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Abaixo_do_Range__c</field>
            <value>
                <elementReference>Dados_pr_lead.ConsumoAbaixoRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>Dados_pr_lead.Hired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>Dados_pr_lead.ContratoGerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>Dados_pr_lead.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>Dados_pr_lead.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Simulacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.DateSimulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_de_Desqualificacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.Data_de_Desqualificacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_Cancelamento__c</field>
            <value>
                <elementReference>Dados_pr_lead.Data_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>Dados_pr_lead.DateContratado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_gerado__c</field>
            <value>
                <elementReference>Dados_pr_lead.DateContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_1_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Dados_pr_lead.Desconto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisqualifiedLead__c</field>
            <value>
                <elementReference>Dados_pr_lead.Motivo_Desqualifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualified__c</field>
            <value>
                <elementReference>Dados_pr_lead.Observa_o_da_Desqualifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>Dados_pr_lead.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>Dados_pr_lead.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Dados_pr_lead.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>Dados_pr_lead.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Dados_pr_lead.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>Dados_pr_lead.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>Dados_pr_lead.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>Dados_pr_lead.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>Dados_pr_lead.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>Dados_pr_lead.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>Dados_pr_lead.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>Dados_pr_lead.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>prname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>Dados_pr_lead.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Dados_pr_lead.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>Dados_pr_lead.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuidArquivoDaDigitalizacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Dados_pr_lead.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>Dados_pr_lead.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>Dados_pr_lead.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sobrenome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>Dados_pr_lead.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>Dados_pr_lead.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>Dados_pr_lead.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mensagem_WhatsApp__c</field>
            <value>
                <elementReference>MensagemWhatsApp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_do_Cancelamento__c</field>
            <value>
                <elementReference>Dados_pr_lead.Motivo_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_Da_distribuidora__c</field>
            <value>
                <elementReference>Dados_pr_lead.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>Dados_pr_lead.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>Dados_pr_lead.N_o_Incomodar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>Dados_pr_lead.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>Dados_pr_lead.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Dados_pr_lead.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <elementReference>Dados_pr_lead.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>Dados_pr_lead.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>Dados_pr_lead.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>Dados_pr_lead.Observa_es_Gerais_de_Cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>Dados_pr_lead.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>Dados_pr_lead.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>Dados_pr_lead.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Dados_pr_lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFPJ__c</field>
            <value>
                <elementReference>Dados_pr_lead.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>Dados_pr_lead.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Dados_pr_lead.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_second__c</field>
            <value>
                <elementReference>Dados_pr_lead.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>Dados_pr_lead.Possivel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>Dados_pr_lead.Prazo_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>Dados_pr_lead.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>Dados_pr_lead.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>Dados_pr_lead.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnidtsNegotiable__c</field>
            <value>
                <elementReference>Dados_pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>Dados_pr_lead.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004KByYAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>Dados_pr_lead.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto5anos__c</field>
            <value>
                <elementReference>Dados_pr_lead.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>Dados_pr_lead.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>Dados_pr_lead.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SimulacoesRealizadas__c</field>
            <value>
                <elementReference>Dados_pr_lead.simulacoes_realizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Dados_pr_lead.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>Dados_pr_lead.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>Dados_pr_lead.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>Dados_pr_lead.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Dados_pr_lead.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>Dados_pr_lead.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>Dados_pr_lead.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalUnitsQuantity__c</field>
            <value>
                <elementReference>Dados_pr_lead.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>Dados_pr_lead.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>Dados_pr_lead.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>Dados_pr_lead.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura__c</field>
            <value>
                <elementReference>Dados_pr_lead.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>Dados_pr_lead.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>Dados_pr_lead.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Contatos</name>
        <label>Contatos</label>
        <locationX>446</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Contatos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pr_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dados_pr_lead</name>
        <label>Dados pré lead</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validar_se_existe_Nome_da_UC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PreLead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Anexo</name>
        <label>Obter Anexo</label>
        <locationX>446</locationX>
        <locationY>3098</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validar_Arquivos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Casos_Relacionados</name>
        <label>Obter Casos Relacionados</label>
        <locationX>446</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Casos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Sess_es_do_Chat</name>
        <label>Obter Sessões do Chat</label>
        <locationX>446</locationX>
        <locationY>2690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_chat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Usu_rio_do_Messaging</name>
        <label>Obter Usuário do Messaging</label>
        <locationX>446</locationX>
        <locationY>2066</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Usuario_do_Messaging</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pre_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Sess_o_do_Messaging</name>
        <label>Sessão do Messaging</label>
        <locationX>446</locationX>
        <locationY>2282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Sess_es_Messaging</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Casos1</name>
        <label>Atualizar Casos</label>
        <locationX>534</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>Atualizar_Casos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Atualizar_Casos.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Lead_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Contato</name>
        <label>Atualizar Contato</label>
        <locationX>534</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>Atualizar_Contatos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Atualizar_Contatos.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Lead_id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Messaging</name>
        <label>Atualizar Messaging</label>
        <locationX>534</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>Atualizar_Sess_es_Messaging</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Atualizar_Sess_es_Messaging.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Lead_id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Pr_Lead</name>
        <label>Atualizar Pré-Lead</label>
        <locationX>446</locationX>
        <locationY>1142</locationY>
        <connector>
            <targetReference>Contatos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Lead_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Qualificado</stringValue>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Sess_es_do_Chat</name>
        <label>Atualizar Sessões do Chat</label>
        <locationX>534</locationX>
        <locationY>2906</locationY>
        <connector>
            <targetReference>Atualizar_chat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Atualizar_chat.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Lead_id</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Usuario_do_Messaging</name>
        <label>Atualizar Usuario do Messaging</label>
        <locationX>446</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Sess_o_do_Messaging</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Usu_rio_do_Messaging.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Lead_id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dados_pr_lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MensagemWhatsApp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ola, {!prname}! Tudo bom?
Sou o Leonardo da empresa Luz!

Recebemos sua solicitação de contato e notamos seu interesse em obter economia na fatura de energia. Para estipularmos quanto a sua empresa pode economizar, precisamos apenas da sua fatura mais recente, você teria em mãos? Qualquer dúvida me avise. ⚡</text>
    </textTemplates>
    <variables>
        <name>Lead_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NomedaUC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
