force-app/main/default/flows/Task_main_create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Email</name>
        <label>Email</label>
        <locationX>1065</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaskSubtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead2</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_0</name>
        <label>Email</label>
        <locationX>185</locationX>
        <locationY>995</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaskSubtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pr_Lead1</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Foi_SDR_Thymos</name>
        <label>Foi SDR Thymos</label>
        <locationX>1065</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Tarefa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimSDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR Thymos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nota_Automatica</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qual_a_Empresa</name>
        <label>Qual Empresa</label>
        <locationX>845</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outras</defaultConnectorLabel>
        <rules>
            <name>Thymos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nome.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thymos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nome.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Lead_Thymos</targetReference>
            </connector>
            <label>Thymos/Notus</label>
        </rules>
        <rules>
            <name>Delta_Inside_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nome.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delta Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nome.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Lead_Delta_Inside_Sales</targetReference>
            </connector>
            <label>Delta Inside Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tarefa</name>
        <label>Tarefa</label>
        <locationX>1065</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Atualizar_lead_Ultima</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ultimo</defaultConnectorLabel>
        <rules>
            <name>Primeiro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nome.Data_Primeiro_Contato__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>leadatt</targetReference>
            </connector>
            <label>Primeiro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tarefa1</name>
        <label>Tarefa</label>
        <locationX>185</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Pr_lead_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ultimo</defaultConnectorLabel>
        <rules>
            <name>Primeiro1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relativo.Data_Primeiro_Contato__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Pr_lead</targetReference>
            </connector>
            <label>Primeiro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_registro</name>
        <label>Tipo de registro</label>
        <locationX>867</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>NA</defaultConnectorLabel>
        <rules>
            <name>Pr_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relativo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tarefa1</targetReference>
            </connector>
            <label>Pré lead</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nome.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foi_SDR_Thymos</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContatoPreLead</name>
        <dataType>Number</dataType>
        <expression>{!Relativo.Numero_de_Contatos__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EmailPreLead</name>
        <dataType>Number</dataType>
        <expression>{!Relativo.Numero_de_E_mails__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EmailsLead</name>
        <dataType>Number</dataType>
        <expression>{!Nome.Numero_de_E_mails__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NumContLead</name>
        <dataType>Number</dataType>
        <expression>{!Nome.Numero_de_Contatos__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Task]main create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task]main create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Nome</name>
        <label>Nome</label>
        <locationX>867</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_registro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Relativo</name>
        <label>Relativo</label>
        <locationX>867</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PreLead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Lead_Delta_Inside_Sales</name>
        <label>Atualizar Lead Delta Inside Sales</label>
        <locationX>845</locationX>
        <locationY>1319</locationY>
        <connector>
            <targetReference>Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nome.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Prospecção</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Lead_Thymos</name>
        <label>Atualizar Lead Thymos</label>
        <locationX>581</locationX>
        <locationY>1319</locationY>
        <connector>
            <targetReference>Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nome.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inicio de Contato</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_lead_Ultima</name>
        <label>Atualizar lead Ultima</label>
        <locationX>1285</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nome.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreatedDateTask__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Tarefa__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>NumContLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubjectTask__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Pr_lead</name>
        <label>Atualizar Pré lead</label>
        <locationX>50</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Email_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Relativo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_Primeiro_Contato__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_da_Ultima_Tarefa__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>ContatoPreLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Atribuido_a__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Canal__c</field>
            <value>
                <elementReference>$Record.Canal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Horario__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Motivo__c</field>
            <value>
                <elementReference>$Record.Motivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Sucesso__c</field>
            <value>
                <elementReference>$Record.Sucesso__c</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Pr_lead_0</name>
        <label>Atualizar Pré lead</label>
        <locationX>317</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Email_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Relativo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_da_Ultima_Tarefa__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>ContatoPreLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Atribuido_a__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Canal__c</field>
            <value>
                <elementReference>$Record.Canal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Horario__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Motivo__c</field>
            <value>
                <elementReference>$Record.Motivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarefa_Sucesso__c</field>
            <value>
                <elementReference>$Record.Sucesso__c</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead2</name>
        <label>Lead</label>
        <locationX>933</locationX>
        <locationY>1703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nome.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>EmailsLead</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>leadatt</name>
        <label>Atualizar lead</label>
        <locationX>845</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Qual_a_Empresa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nome.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreatedDateTask__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Primeiro_Contato__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Tarefa__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>NumContLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubjectTask__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Pr_Lead1</name>
        <label>Pré-Lead</label>
        <locationX>53</locationX>
        <locationY>1103</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Relativo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>EmailPreLead</elementReference>
            </value>
        </inputAssignments>
        <object>PreLead__c</object>
    </recordUpdates>
    <start>
        <locationX>741</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Relativo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <subflows>
        <name>Nota_Automatica</name>
        <label>Nota Automatica</label>
        <locationX>933</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Tarefa</targetReference>
        </connector>
        <flowName>SUBFLOW_Nota_Automatica</flowName>
        <inputAssignments>
            <name>Content</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdLead</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdProprietario</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Titulo</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
