force-app/main/default/flows/TEMP_Pr_lead_Cria_o_de_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>C_pia_1_de_Fonte</name>
        <label>Cópia 1 de Fonte</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_C_pia_1_de_atualizar_fonte_3_Parcerias_ACL_Varejo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>2 - Outbound - ACL Varejo</defaultConnectorLabel>
        <rules>
            <name>Parceiros_Delta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atualizar_fonte</targetReference>
            </connector>
            <label>3 - Parcerias - ACL Varejo</label>
        </rules>
        <rules>
            <name>C_pia_1_de_Inbound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InformationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InformationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SiteLuz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InformationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AreaLogada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_atualizar_fonte_3_Parcerias_ACL_Varejo</targetReference>
            </connector>
            <label>1 - Inbound - ACL Varejo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delta_Ou_Luz</name>
        <label>Delta Ou Luz?</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>PF_ou_PJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LUZ</defaultConnectorLabel>
        <rules>
            <name>Delta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountValue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InformationSource__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AreaLogada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Criar_Lead_Luz</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fonte</name>
        <label>Fonte</label>
        <locationX>1106</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>C_pia_2_de_C_pia_1_de_C_pia_1_de_atualizar_fonte_2_Outbound_ACL_Varejo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outbound</defaultConnectorLabel>
        <rules>
            <name>Parceiros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_atualizar_fonte_2_Outbound_ACL_Varejo</targetReference>
            </connector>
            <label>Parceiros</label>
        </rules>
        <rules>
            <name>Inbound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InformationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InformationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SiteLuz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InformationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AreaLogada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_C_pia_1_de_atualizar_fonte_2_Outbound_ACL_Varejo</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>PF_ou_PJ</name>
        <label>PF ou PJ</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_Criar_Lead_Luz</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Lead_Luz</targetReference>
            </connector>
            <label>PF</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[TEMP] Criação de Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[TEMP] Pré-lead - Criação de Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>C_pia_1_de_Criar_Lead_Luz</name>
        <label>Criar Lead Luz PJ</label>
        <locationX>1238</locationX>
        <locationY>600</locationY>
        <assignRecordIdToReference>IDLead</assignRecordIdToReference>
        <connector>
            <targetReference>Fonte</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>$Record.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>$Record.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boptante__c</field>
            <value>
                <elementReference>$Record.Boptante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONSUMO__c</field>
            <value>
                <elementReference>$Record.ConsumoKwh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancelado__c</field>
            <value>
                <elementReference>$Record.Cancelado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercialuz__c</field>
            <value>
                <elementReference>$Record.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Nome_da_Empresa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <stringValue>a1F89000000VVvbEAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>$Record.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>$Record.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>$Record.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Abaixo_do_Range__c</field>
            <value>
                <elementReference>$Record.ConsumoAbaixoRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>$Record.Hired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>$Record.ContratoGerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>$Record.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom_do_parceiro__c</field>
            <value>
                <elementReference>$Record.Cupom_do_parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Altera_o_CPFCNPJ__c</field>
            <value>
                <elementReference>$Record.DataAlteracao_CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Altera_o_Instala_o__c</field>
            <value>
                <elementReference>$Record.DataAlteracao_Instalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Da_Cria_o__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Simulacao__c</field>
            <value>
                <elementReference>$Record.DateSimulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_Cancelamento__c</field>
            <value>
                <elementReference>$Record.Data_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>$Record.DateContratado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_gerado__c</field>
            <value>
                <elementReference>$Record.DateContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_1_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>$Record.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>$Record.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Edicao_Instalacao__c</field>
            <value>
                <elementReference>$Record.Edicao_Instalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>$Record.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>$Record.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>$Record.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>$Record.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <elementReference>$Record.Etapa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fase__c</field>
            <value>
                <elementReference>$Record.Fase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>$Record.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>$Record.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filiais__c</field>
            <value>
                <elementReference>$Record.Filiais__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>$Record.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>$Record.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuidArquivoDaDigitalizacao__c</field>
            <value>
                <elementReference>$Record.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Cotacao__c</field>
            <value>
                <elementReference>$Record.ID_Cotacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>$Record.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>$Record.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>$Record.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>$Record.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOCALE__c</field>
            <value>
                <elementReference>$Record.locale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_Download__c</field>
            <value>
                <elementReference>$Record.Link_Download__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>$Record.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>$Record.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>$Record.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mensagem__c</field>
            <value>
                <elementReference>$Record.Mensagem__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_do_Cancelamento__c</field>
            <value>
                <elementReference>$Record.Motivo_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_Da_distribuidora__c</field>
            <value>
                <elementReference>$Record.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>$Record.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>$Record.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nacionalidade__c</field>
            <value>
                <elementReference>$Record.Nacionalidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>$Record.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>$Record.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>$Record.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <elementReference>$Record.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>$Record.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>$Record.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>$Record.Observa_es_Gerais_de_Cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>$Record.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_Temp__c</field>
            <value>
                <elementReference>$Record.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>$Record.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFPJ__c</field>
            <value>
                <elementReference>$Record.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>$Record.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_second__c</field>
            <value>
                <elementReference>$Record.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>$Record.Possivel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>$Record.Prazo_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>$Record.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>$Record.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnidtsNegotiable__c</field>
            <value>
                <elementReference>$Record.QuantityUnidtsNegotiable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RG__c</field>
            <value>
                <elementReference>$Record.RG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>$Record.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IBxYAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>$Record.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto5anos__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>$Record.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>$Record.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SimulacoesRealizadas__c</field>
            <value>
                <elementReference>$Record.simulacoes_realizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>$Record.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>$Record.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>$Record.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>$Record.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>$Record.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalUnitsQuantity__c</field>
            <value>
                <elementReference>$Record.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>$Record.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura__c</field>
            <value>
                <elementReference>$Record.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Iluminacao_publica__c</field>
            <value>
                <elementReference>$Record.Valor_da_Iluminacao_publica__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>$Record.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>$Record.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>C_pia_2_de_Criar_Lead_Luz</name>
        <label>Criar Lead Delta</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignRecordIdToReference>IDLead</assignRecordIdToReference>
        <connector>
            <targetReference>C_pia_1_de_Fonte</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>$Record.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>$Record.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boptante__c</field>
            <value>
                <elementReference>$Record.Boptante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONSUMO__c</field>
            <value>
                <elementReference>$Record.ConsumoKwh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancelado__c</field>
            <value>
                <elementReference>$Record.Cancelado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercialuz__c</field>
            <value>
                <elementReference>$Record.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Nome_da_Empresa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <stringValue>a1F89000000VVvZEAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>$Record.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>$Record.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>$Record.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Abaixo_do_Range__c</field>
            <value>
                <elementReference>$Record.ConsumoAbaixoRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>$Record.Hired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>$Record.ContratoGerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>$Record.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom_do_parceiro__c</field>
            <value>
                <elementReference>$Record.Cupom_do_parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Altera_o_CPFCNPJ__c</field>
            <value>
                <elementReference>$Record.DataAlteracao_CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Altera_o_Instala_o__c</field>
            <value>
                <elementReference>$Record.DataAlteracao_Instalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Da_Cria_o__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Simulacao__c</field>
            <value>
                <elementReference>$Record.DateSimulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_Cancelamento__c</field>
            <value>
                <elementReference>$Record.Data_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>$Record.DateContratado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_gerado__c</field>
            <value>
                <elementReference>$Record.DateContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_1_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>$Record.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>$Record.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Edicao_Instalacao__c</field>
            <value>
                <elementReference>$Record.Edicao_Instalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>$Record.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>$Record.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>$Record.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>$Record.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <elementReference>$Record.Etapa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fase__c</field>
            <value>
                <elementReference>$Record.Fase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>$Record.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>$Record.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filiais__c</field>
            <value>
                <elementReference>$Record.Filiais__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>$Record.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>$Record.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuidArquivoDaDigitalizacao__c</field>
            <value>
                <elementReference>$Record.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Cotacao__c</field>
            <value>
                <elementReference>$Record.ID_Cotacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>$Record.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>$Record.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>$Record.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>$Record.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOCALE__c</field>
            <value>
                <elementReference>$Record.locale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_Download__c</field>
            <value>
                <elementReference>$Record.Link_Download__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>$Record.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>$Record.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>$Record.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mensagem__c</field>
            <value>
                <elementReference>$Record.Mensagem__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_do_Cancelamento__c</field>
            <value>
                <elementReference>$Record.Motivo_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_Da_distribuidora__c</field>
            <value>
                <elementReference>$Record.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>$Record.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>$Record.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nacionalidade__c</field>
            <value>
                <elementReference>$Record.Nacionalidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>$Record.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>$Record.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>$Record.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <elementReference>$Record.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>$Record.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>$Record.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>$Record.Observa_es_Gerais_de_Cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>$Record.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_Temp__c</field>
            <value>
                <elementReference>$Record.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>$Record.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFPJ__c</field>
            <value>
                <elementReference>$Record.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>$Record.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_second__c</field>
            <value>
                <elementReference>$Record.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>$Record.Possivel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>$Record.Prazo_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>$Record.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>$Record.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnidtsNegotiable__c</field>
            <value>
                <elementReference>$Record.QuantityUnidtsNegotiable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RG__c</field>
            <value>
                <elementReference>$Record.RG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>$Record.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004KByYAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>$Record.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto5anos__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>$Record.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>$Record.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SimulacoesRealizadas__c</field>
            <value>
                <elementReference>$Record.simulacoes_realizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>$Record.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>$Record.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>$Record.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>$Record.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>$Record.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalUnitsQuantity__c</field>
            <value>
                <elementReference>$Record.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>$Record.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura__c</field>
            <value>
                <elementReference>$Record.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Iluminacao_publica__c</field>
            <value>
                <elementReference>$Record.Valor_da_Iluminacao_publica__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>$Record.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>$Record.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Criar_Lead_Luz</name>
        <label>Criar Lead Luz</label>
        <locationX>974</locationX>
        <locationY>600</locationY>
        <assignRecordIdToReference>IDLead</assignRecordIdToReference>
        <connector>
            <targetReference>Fonte</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdressNumber__c</field>
            <value>
                <elementReference>$Record.AdressNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baixa_Renda__c</field>
            <value>
                <elementReference>$Record.Baixa_Renda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boptante__c</field>
            <value>
                <elementReference>$Record.Boptante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONSUMO__c</field>
            <value>
                <elementReference>$Record.ConsumoKwh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancelado__c</field>
            <value>
                <elementReference>$Record.Cancelado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comercialuz__c</field>
            <value>
                <elementReference>$Record.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Nome_da_Empresa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <stringValue>a1F89000000VVvbEAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complement__c</field>
            <value>
                <elementReference>$Record.Complement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoHistorico__c</field>
            <value>
                <elementReference>$Record.ConsumoHistorico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumoUtilizado__c</field>
            <value>
                <elementReference>$Record.ConsumoUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_Abaixo_do_Range__c</field>
            <value>
                <elementReference>$Record.ConsumoAbaixoRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Assinado__c</field>
            <value>
                <elementReference>$Record.Hired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_Gerado__c</field>
            <value>
                <elementReference>$Record.ContratoGerado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criativo__c</field>
            <value>
                <elementReference>$Record.Criativo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom__c</field>
            <value>
                <elementReference>$Record.Cupom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cupom_do_parceiro__c</field>
            <value>
                <elementReference>$Record.Cupom_do_parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Altera_o_CPFCNPJ__c</field>
            <value>
                <elementReference>$Record.DataAlteracao_CPFCNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Altera_o_Instala_o__c</field>
            <value>
                <elementReference>$Record.DataAlteracao_Instalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Da_Cria_o__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Simulacao__c</field>
            <value>
                <elementReference>$Record.DateSimulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_Cancelamento__c</field>
            <value>
                <elementReference>$Record.Data_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_assinado__c</field>
            <value>
                <elementReference>$Record.DateContratado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_do_contrato_gerado__c</field>
            <value>
                <elementReference>$Record.DateContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_1_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_1_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_2_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_2_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_3_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_3_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_4_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_4_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_5_anos__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_5_Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desconto_Ofertado_Liberdade_total__c</field>
            <value>
                <elementReference>$Record.Desconto_Ofertado_Liberdade_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistribuidoraLuz__c</field>
            <value>
                <elementReference>$Record.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora_n_o_Atendida__c</field>
            <value>
                <elementReference>$Record.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomicGroup__c</field>
            <value>
                <elementReference>$Record.EconomicGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Edicao_Instalacao__c</field>
            <value>
                <elementReference>$Record.Edicao_Instalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_do_Parceiro__c</field>
            <value>
                <elementReference>$Record.Email_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Gen_rico_de_Simula_o__c</field>
            <value>
                <elementReference>$Record.ErroGenericoSimulacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erro_Leitura_Fatura__c</field>
            <value>
                <elementReference>$Record.ErroLeituraFatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Erros__c</field>
            <value>
                <elementReference>$Record.Erros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <elementReference>$Record.Etapa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FantasyName__c</field>
            <value>
                <elementReference>$Record.FantasyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fase__c</field>
            <value>
                <elementReference>$Record.Fase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Anexada__c</field>
            <value>
                <elementReference>$Record.Fatura_Anexada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatura_Processada__c</field>
            <value>
                <elementReference>$Record.Fatura_Processada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filiais__c</field>
            <value>
                <elementReference>$Record.Filiais__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fluxo__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantidor__c</field>
            <value>
                <elementReference>$Record.Garantidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Growth__c</field>
            <value>
                <elementReference>$Record.Growth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuidArquivoDaDigitalizacao__c</field>
            <value>
                <elementReference>$Record.GuidArquivoDaDigitalizacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Cotacao__c</field>
            <value>
                <elementReference>$Record.ID_Cotacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>$Record.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>$Record.Setor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialDiscount__c</field>
            <value>
                <elementReference>$Record.InitialDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>$Record.Inside_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOCALE__c</field>
            <value>
                <elementReference>$Record.locale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_Download__c</field>
            <value>
                <elementReference>$Record.Link_Download__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus__c</field>
            <value>
                <elementReference>$Record.MaritalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>$Record.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>$Record.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mensagem__c</field>
            <value>
                <elementReference>$Record.Mensagem__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_do_Cancelamento__c</field>
            <value>
                <elementReference>$Record.Motivo_do_Cancelamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multa_Da_distribuidora__c</field>
            <value>
                <elementReference>$Record.AssessmentDistributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MunicipalRegistration__c</field>
            <value>
                <elementReference>$Record.MunicipalRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_o_Incomodar__c</field>
            <value>
                <elementReference>$Record.DistribuidoraNaoAtendida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nacionalidade__c</field>
            <value>
                <elementReference>$Record.Nacionalidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Arquivo_anexo_com_extens_o__c</field>
            <value>
                <elementReference>$Record.NomeDoAnexoComExtensao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Parceiro__c</field>
            <value>
                <elementReference>$Record.Nome_do_Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>$Record.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroInstalacao__c</field>
            <value>
                <elementReference>$Record.NumeroInstalacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Contatos__c</field>
            <value>
                <elementReference>$Record.Numero_de_Contatos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_E_mails__c</field>
            <value>
                <elementReference>$Record.Numero_de_E_mails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es_gerais_de_cr_dito__c</field>
            <value>
                <elementReference>$Record.Observa_es_Gerais_de_Cr_dito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>$Record.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_Temp__c</field>
            <value>
                <elementReference>$Record.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem_da_Opera_o__c</field>
            <value>
                <elementReference>$Record.InformationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFPJ__c</field>
            <value>
                <elementReference>$Record.PFPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parceiro__c</field>
            <value>
                <elementReference>$Record.Parceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_second__c</field>
            <value>
                <elementReference>$Record.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poss_vel_Fraude__c</field>
            <value>
                <elementReference>$Record.Possivel_Fraude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pr_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_pagamento__c</field>
            <value>
                <elementReference>$Record.Prazo_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_escolhido_pelo_cliente__c</field>
            <value>
                <elementReference>$Record.Produto_escolhido_pelo_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_foi_a_base_de_c_lculo__c</field>
            <value>
                <elementReference>$Record.Qual_foi_a_base_de_c_lculo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_meses__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_meses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnidtsNegotiable__c</field>
            <value>
                <elementReference>$Record.QuantityUnidtsNegotiable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RG__c</field>
            <value>
                <elementReference>$Record.RG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>$Record.Classifica_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012HY0000004IC2YAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redu_o_Custo__c</field>
            <value>
                <elementReference>$Record.CostReduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto3anos__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto3Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCusto5anos__c</field>
            <value>
                <elementReference>$Record.ReducaoCusto5Anos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReducaoCustoSemFidelidade__c</field>
            <value>
                <elementReference>$Record.ReducaoCustoSemFidelidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_SERASA__c</field>
            <value>
                <elementReference>$Record.ScoreSerasa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SimulacoesRealizadas__c</field>
            <value>
                <elementReference>$Record.simulacoes_realizadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateRegistration__c</field>
            <value>
                <elementReference>$Record.StateRegistration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa_Branca__c</field>
            <value>
                <elementReference>$Record.Tarifa_Branca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone_do_Parceiros__c</field>
            <value>
                <elementReference>$Record.Telefone_do_Parceiros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_garantia__c</field>
            <value>
                <elementReference>$Record.Tipo_de_garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_produto__c</field>
            <value>
                <elementReference>$Record.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalUnitsQuantity__c</field>
            <value>
                <elementReference>$Record.TotalUnitsQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>$Record.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conta__c</field>
            <value>
                <elementReference>$Record.AccountValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Fatura__c</field>
            <value>
                <elementReference>$Record.Valor_da_Fatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_da_Iluminacao_publica__c</field>
            <value>
                <elementReference>$Record.Valor_da_Iluminacao_publica__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_considerado_para_estudo_kWh__c</field>
            <value>
                <elementReference>$Record.Volume_considerado_para_estudo_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whatsapp__c</field>
            <value>
                <elementReference>$Record.Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Recordtype</name>
        <label>Get Recordtype</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delta_Ou_Luz</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Recordtype_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_id_no_Pr_lead</name>
        <label>Atualiza id no Pré-lead</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>IDLead</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>atualizar_fonte</name>
        <label>atualizar fonte 3 - Parcerias - ACL Varejo</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Atualiza_id_no_Pr_lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Fonte__c</field>
            <value>
                <stringValue>3 - Parcerias - ACL Varejo</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Leads__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_1_de_atualizar_fonte_2_Outbound_ACL_Varejo</name>
        <label>atualizar fonte Parceiros</label>
        <locationX>842</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>C_pia_2_de_Atualiza_id_no_Pr_lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Fonte__c</field>
            <value>
                <stringValue>Parceiros</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Leads__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_1_de_atualizar_fonte_3_Parcerias_ACL_Varejo</name>
        <label>atualizar fonte 1 - Inbound - ACL Varejo</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Atualiza_id_no_Pr_lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Fonte__c</field>
            <value>
                <stringValue>1 - Inbound - ACL Varejo</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Leads__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_1_de_C_pia_1_de_atualizar_fonte_3_Parcerias_ACL_Varejo</name>
        <label>atualizar fonte 2 - Outbound - ACL Varejo</label>
        <locationX>578</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Atualiza_id_no_Pr_lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Fonte__c</field>
            <value>
                <stringValue>2 - Outbound - ACL Varejo</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Leads__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_2_de_Atualiza_id_no_Pr_lead</name>
        <label>Atualiza id no Pré-lead</label>
        <locationX>1106</locationX>
        <locationY>1092</locationY>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>IDLead</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_2_de_C_pia_1_de_atualizar_fonte_2_Outbound_ACL_Varejo</name>
        <label>atualizar fonte Inbound</label>
        <locationX>1106</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>C_pia_2_de_Atualiza_id_no_Pr_lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Fonte__c</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Leads__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_2_de_C_pia_1_de_C_pia_1_de_atualizar_fonte_2_Outbound_ACL_Varejo</name>
        <label>atualizar fonte Outbound</label>
        <locationX>1370</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>C_pia_2_de_Atualiza_id_no_Pr_lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Fonte__c</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Leads__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <object>PreLead__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Recordtype</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IDLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
