force-app/main/default/flows/THYMOS_Atualiza_o_data_tarefa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>J_completa</name>
        <label>Já completa?</label>
        <locationX>776</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>Atualizar_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>Nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>

    <environments>Default</environments>
    <interviewLabel>THYMOS - Atualiza {!$Flow.CurrentDateTime}</interviewLabel>
    <label>THYMOS - Atualização data tarefa</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualizar_lead</name>
        <label>Atualizar lead</label>
        <locationX>908</locationX>
        <locationY>733</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_Tarefa__c</field>
            <value>
                <elementReference>datavazia</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>644</locationX>
        <locationY>733</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_Tarefa__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>

        <locationY>50</locationY>
        <connector>
            <targetReference>J_completa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>datavazia</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
