force-app/main/default/flows/VF_Fatura_Job_Em_Aberto_Vencidas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Vencimento_menor_que_Data_Atual</name>
        <label>Vencimento menor que Data Atual?</label>
        <locationX>768</locationX>
        <locationY>342</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_do_Vencimeto_LUZ__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Fatura</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DataInicioCobranca</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Data_do_Vencimeto_LUZ__c}+14</expression>
    </formulas>
    <interviewLabel>[Fatura] Job Em Aberto - Vencidas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Fatura] Job Em Aberto - Vencidas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualizar_Fatura</name>
        <label>Atualizar Fatura</label>
        <locationX>776</locationX>
        <locationY>591</locationY>
        <inputAssignments>
            <field>DataInicioCobranca__c</field>
            <value>
                <elementReference>DataInicioCobranca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Vencida</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Vencimento_menor_que_Data_Atual</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em Aberto</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>em aberto</stringValue>
            </value>
        </filters>
        <filters>
            <field>Data_do_Vencimeto_LUZ__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Fatura__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-04</startDate>
            <startTime>14:08:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
