force-app/main/default/flows/VF_Tasks_Subflow_Chamado_Contagem_de_Atividades.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Atrbuir_Contagem</name>
        <label>Atrbuir Contagem</label>
        <locationX>2504</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>CountTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Atividades</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Achou_Tipo_de_Registro</name>
        <label>Achou Tipo de Registro?</label>
        <locationX>958</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim_Achou_Tipo_de_Registro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Tipo_de_Registro_do_Chamado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Atividade</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrou_Atividades</name>
        <label>Encontrou Atividades?</label>
        <locationX>2002</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim_Encontrou_Atividades</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Atividades_Relacionadas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Atividades</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrou_Chamado</name>
        <label>Encontrou Chamado?</label>
        <locationX>1576</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim_Encontrou_Chamado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Chamado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Atividades_Relacionadas</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Tasks] Subflow - Chamado Contagem de Atividades {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Tasks] Subflow - Chamado Contagem de Atividades</label>
    <loops>
        <name>Loop_Atividades</name>
        <label>Loop Atividades</label>
        <locationX>2218</locationX>
        <locationY>281</locationY>
        <collectionReference>Obter_Atividades_Relacionadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atrbuir_Contagem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualizar_Chamado</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Atividade</name>
        <label>Obter Atividade</label>
        <locationX>1175</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Chamado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdTask</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Atividades_Relacionadas</name>
        <label>Obter Atividades Relacionadas</label>
        <locationX>1801</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_Atividades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Chamado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Chamado</name>
        <label>Obter Chamado</label>
        <locationX>1373</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_Chamado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Atividade.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Tipo_de_Registro_do_Chamado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chamado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Tipo_de_Registro_do_Chamado</name>
        <label>Obter Tipo de Registro do Chamado</label>
        <locationX>775</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Achou_Tipo_de_Registro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chamado__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cobranca</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Chamado</name>
        <label>Atualizar Chamado</label>
        <locationX>2218</locationX>
        <locationY>517</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Chamado.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Qtde_de_Atividades__c</field>
            <value>
                <elementReference>CountTasks</elementReference>
            </value>
        </inputAssignments>
        <object>Chamado__c</object>
    </recordUpdates>
    <start>
        <locationX>649</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obter_Tipo_de_Registro_do_Chamado</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IdTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
